#chat_actions ul#message_preview {
    background-color: rgb(var(--movim-background));
    padding-top: 1.5rem;
}

#chat_actions ul#message_preview li div.bubble {
    max-width: calc(100% - 2rem);
    pointer-events: none;
}

#chat_actions ul#message_preview li.oppose {
    flex-direction: row-reverse;
}

#chat_actions ul#message_preview li div.bubble div.message > p {
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
