#navtabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #445157;
    overflow: hidden;
    color: white;
}

#navtabs li {
    display: inline-block;
    cursor: pointer;
    line-height: 3em;
    padding: 0em 2em;
    white-space: nowrap;
}

.tabs {
    clear: both;
}

#navtabs li:hover {
    background-color: #46565E;
}

#navtabs li.on {
    background-color: white;
    color: #445157;
}
