#navtabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #445157;
    overflow: hidden;
    color: white;
}

#navtabs li {
    display: inline-block;
    cursor: pointer;
    line-height: 3em;
    padding: 0em 2em;
    white-space: nowrap;
}
#navtabs li a{
    display: block; 
	height:100%; 
	width:100%;
	color: white;
}

.tabs {
    clear: both;
}

#navtabs li:hover {
    background-color: #46565E;
}

#navtabs li.on,
#navtabs li.on a{
    background-color: white;
    color: #445157;
}

.tabelem{
	position: relative;
	margin: 1.5em;
	margin-top: 2em;
	/*padding-top: 11em;*/
}

.moving_block{
	/*position: absolute;
	top: 0px;*/
}
.fixed_block{ 
	background-color: white; 
	width: 880px;
}

.anchor{
	display: block;
	position: absolute;
}
