#navtabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #445157;
    overflow: hidden;
    color: white;
}

#navtabs li {
    display: inline-block;
    cursor: pointer;

    padding: 0em 2em;
    white-space: nowrap;
}
#navtabs li a{
    display: block; 
    line-height: 3em;
    width:100%;
    color: white;
    text-decoration: none;
}

.tabs {
    clear: both;
}

#navtabs li:hover {
    background-color: #46565E;
}

#navtabs li.on {
    background-color: white;
}

#navtabs li.on a {
    color: #445157;    
}

.tabelem{
    position: relative;
}

.moving_block{
    /*position: absolute;
    top: 0px;*/
}
.fixed_block{ 
    background-color: white; 
    width: 880px;
}

.anchor{
    display: block;
    position: absolute;
}
