#contactcard {
    padding: 1.5em;
}

#contactcard .element {
    padding: 5px;
    clear: both;
    overflow: auto;
    width: 100%;
}

#contactcard img.avatar {
    max-width: 200px;
    padding: 6px;
    box-shadow: 0px 0px 5px #DDD;
}

#contactcard .element span {
    font-weight: bold;
    width: 170px;
    display: block;
    float: left;
    padding-right: 2em;
    text-align: right;
}

#contactcard .content {
    display: block;
    float: left;
    width: auto;
    max-width: 300px;
}
