ul#presence_widget li span.primary {
    opacity: 1;
}

@media screen and (min-width: 1025px) {
    ul#presence_widget li span.control {
        display: none;
    }

    ul#presence_widget_menu {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }

    ul#presence_widget_menu:hover,
    ul#presence_widget:hover + ul#presence_widget_menu {
        max-height: 100%;
    }
}