ul#presence_widget li span.primary {
    opacity: 1;
}

@media screen and (min-width: 1025px) {
    ul#presence_widget li span.control {
        display: none;
    }

    ul#presence_widget_menu {
        max-height: 0.5rem;
        overflow: hidden;
        transition: max-height 1.5s cubic-bezier(1, 0, .45, 1);

        position: relative;
        margin-bottom: 0.25rem;
    }

    ul#presence_widget_menu li:last-of-type {
        margin-bottom: 0.25rem;
    }

    ul#presence_widget_menu::after {
        content: '';
        display: block;
        width: 2rem;
        height: 0.35rem;
        border-radius: 1rem;
        background-color: white;
        position: absolute;
        bottom: 0;
        opacity: 0.35;
        left: calc(50% - 1rem);
        transition: width 1.25s cubic-bezier(1, 0, .45, 1), height 1.25s cubic-bezier(1, 0, .45, 1), left 1.25s cubic-bezier(1, 0, .45, 1), opacity 1.25s cubic-bezier(1, 0, .45, 1);
    }

    ul#presence_widget_menu:hover,
    ul#presence_widget:hover + ul#presence_widget_menu {
        max-height: 100%;
        transition: max-height 0.5s ease-in-out;
    }

    ul#presence_widget:hover + ul#presence_widget_menu::after,
    ul#presence_widget_menu:hover::after {
        width: 100%;
        height: 0.1rem;
        left: 0;
        opacity: 0.05;
        transition: width 0.25s cubic-bezier(1, 0, .45, 1), height 0.25s cubic-bezier(1, 0, .45, 1), left 0.25s cubic-bezier(1, 0, .45, 1), opacity 0.25s cubic-bezier(1, 0, .45, 1);
    }
}
