/* Article */

article {
    overflow: hidden;
    /*padding-bottom: 2rem;*/
}

article header {
    position: relative;
}

/* We hide the main title because it's already here ? */
article section h1 {
    display: none;
}

article header h1 {
    font-size: 4rem;
    line-height: 12rem;
}

article header h2,
li.condensed h2 {
    line-height: 3.75rem;
}

article section {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    padding: 0 2rem;
}

article img,
article video {
    max-width: 100%;
    height: auto;
}

article section p {
    margin-bottom: 1rem;
    max-height: initial;
    color: inherit;
    line-height: inherit;
}

article section content ul li,
article section content ol li {
    font-size: 2rem;
    line-height: 3rem;
    padding-left: 2rem;
    list-style-position: inside;
    min-height: 4rem;
    margin: 1rem auto;
}

article section content li > * {
    display: inline;
}

article section content ul li {
    list-style-type: disc;
}

article section content ol li {
    list-style-type: decimal;
}

article section content strong,
article section content b {
    font-weight: 700;
}

article section content code,
article section content pre {
    font-family: monospace;
}

article section content cite,
article section content blockquote {
    padding-left: 4rem;
    font-style: italic;
}

article section content em {
    font-style: italic;
}

/* Some CSS to style the quote XHTML generated by Movim */

article section content blockquote,
article section content q,
article section content div.quote {
    display: block;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 2rem;
    box-sizing: border-box;
}

article section content div.quote:before,
article section content div.quote:after {
    content: '';
    display: none;
}

article section content div.quote ul {
    display: flex;
    flex-flow: row wrap;
}

article section content div.quote li {
    flex: 1 25%;
    list-style-type: none;
    padding-left: 0;
}

article section content div.quote li:first-child {
    flex: 1 75%;
}

@media screen and (max-width: 1024px) {
    article section content div.quote li {
        flex: 1 100%;
    }
}

article section content div.quote li img {
    max-height: 10rem;
    max-width: 100%;
    float: right;
}

article ul li.pic img {
    max-width: 30rem;
    max-height: 30rem;
}
