.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex .block {
    flex: 1 50%;
}

.flex .block.large {
    flex: 1 100%;
}

@media screen and (max-width: 1024px) {
    .flex .block {
        flex: 1 100%;
    }
}
