.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex .block:not(.subheader) {
    flex: 0 1 50%;
    overflow: hidden;
}

/*
.flex.card {
    padding: 0;
}
*/
.flex.card .block:not(.subheader) {
    margin: 1rem;
    flex: 0 1 calc(50% - 2rem);
    min-height: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.flex.stacked .block:not(.subheader) {
    margin-bottom: 0;
}

.flex.third {
    flex-flow: row wrap;
}

.flex.third .block:not(.large) {
    flex: 0 1 33.33%;
    max-width: 33.33%;
}


.flex .block.large,
.flex.card .block.large {
    flex: 0 1 100%;
}

@media screen and (max-width: 1024px) {
    .flex.card .block:not(.subheader),
    .flex .block:not(.subheader) {
        margin-bottom: 0;
        flex: 0 1 100%;
        max-width: 100%;
    }
}
