/* Card */

.card > .block:not(.subheader):not(.simple) {
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.card > form.block {
    padding: 2rem;
    padding-top: 0;
    box-sizing: border-box;
}

.card.shadow > .block:not(.subheader):not(.simple) {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
}
