/* Color */

ul.list li.divided,
*.divided > *:not(:last-child),
*.divided.spaced > *:not(:last-child):after {
    border-color: rgba(0, 0, 0, 0.12);
}

table tr th {
    color: rgba(0, 0, 0, 0.54);
}

.color {
    background-color: #607D8B;
    color: white;
}

.color.dark {
    background-color: #212121;
}

.color.dark *.divided > *:not(:last-child) {
    border-color: rgba(255, 255, 255, 0.05);
}

main > header a,
.icon:not(.placeholder):not(.active) a,
.color input {
    color: white;
}

.button.color,
.button.action.color,
ul li span.counter,
form > div .radio > input[type="radio"]:checked + label {
    border-color: #FF5722;
    background-color: #FF5722;
    color: white;
}

/* Elements */

.button.red,    .icon.red   , p.user.red      { color: #F44336; }
.button.purple, .icon.purple, p.user.purple   { color: #9C27B0; }
.button.indigo, .icon.indigo, p.user.indigo   { color: #3F51B5; }
.button.blue,   .icon.blue  , p.user.blue     { color: #2196F3; }
.button.green,  .icon.green , p.user.green    { color: #689F38; }
.button.orange, .icon.orange, p.user.orange   { color: #FF9800; }
.button.yellow, .icon.yellow, p.user.yellow   { color: #FBC02D; }
.button.brown,  .icon.brown , p.user.brown    { color: #795548; }
ul li.action > div.action,
ul li.action > form > div.action,
.button.gray,   .icon.gray  , p.user.gray     { color: #9E9E9E; }
.button.black,  .icon.black , p.user.black    { color: #000; }

.color          { color: white; background-color: #607D8B; border-color: #607D8B }
span.icon.status.dnd:after,
.color.red      { color: white; background-color: #F44336; border-color: #F44336 }
span.icon.status.xa:after,
.color.purple   { color: white; background-color: #9C27B0; border-color: #9C27B0 }
.color.indigo   { color: white; background-color: #3F51B5; border-color: #3F51B5 }
.color.blue     { color: white; background-color: #2196F3; border-color: #2196F3 }
span.icon.status.chat:after,
span.icon.status.online:after,
.color.green    { color: white; background-color: #689F38; border-color: #689F38 }
.color.orange   { color: white; background-color: #FF9800; border-color: #FF9800 }
span.icon.status.away:after,
.color.yellow   { color: white; background-color: #FDD835; border-color: #FDD835 }
.color.brown    { color: white; background-color: #795548; border-color: #795548 }
.color.gray     { color: white; background-color: #9E9E9E; border-color: #9E9E9E }
.color.black    { color: white; background-color: #000;    border-color: #000 }


form > div > input:focus:invalid,
form > div > input:focus:required {
    box-shadow: 0px 2px 0px #F44336;
}

form > div > input:invalid,
form input:focus:invalid + label,
form textarea:focus:invalid + label {
    color: #F44336;
}

ul.list li > p:nth-last-of-type(3) + p,
ul.list li > p:nth-last-of-type(2) + p {
    color: rgba(0, 0, 0, 0.60);
}

/* Default color : violet */

input[type=button].color,
main > section > div > header.fixed,
main > header { background-color: #3F51B5; color: white; border-color: #3F51B5; }

.tabs a {
    color: #757575;
}

.tabs,
.tabs li.active a:not(.classic):not(.activity):not(.action) {
    border-color: #3F51B5;
    color: #3F51B5;
}

main > section > div > header.scroll {
    background-color: #EEE;
}

header.fixed ul.list li > p:nth-last-of-type(2) + p,
main > section > div > header.big *,
.snackbar ul.list li > p:nth-last-of-type(2) + p,
main > header ul.list li > p:nth-last-of-type(2) + p,
header.big ul.list li > p:nth-last-of-type(2) + p {
    color: white;
}

/* Gray accent : orange */

.button,
header:not(.big) .icon a,
a { color: #FF5722; border-color: #FF5722; }

form > div .checkbox:before { background-color: #FFE0B2; }
form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #FF5722; }

form input:focus:not(:invalid) + label,
form textarea:focus:not(:invalid) + label {
    color: #FF5722;
}

form input:focus:not(:invalid):not(.button),
form textarea:focus:not(:invalid):not(.button) {
    box-shadow:0px 2px 0px #FF5722;
}

