/* Color */

*.divided > *:not(:last-child) {
    border-color: rgba(0, 0, 0, 0.12);
}

.color {
    background-color: #607D8B;
    color: white;
}

.color.dark {
    background-color: #1F1F1F;
}

.color.dark *.divided > *:not(:last-child) {
    border-color: rgba(255, 255, 255, 0.05);
}

.color input {
    color: white;
}

/* Animations */

@keyframes colorful {
    0% { background-color: #9E9E9E; }
    10% { background-color: #607D8B; }
    20% { background-color: #F44336; }
    30% { background-color: #9C27B0; }
    40% { background-color: #3F51B5; }
    50% { background-color: #2196F3; }
    60% { background-color: #689F38; }
    70% { background-color: #FF9800; }
    80% { background-color: #FDD835; }
    90% { background-color: #795548; }
    100% { background-color: #9E9E9E; }
}

/* Elements */

.bubble.color       , .icon.color          { color: white; background-color: #607D8B; border-color: #607D8B }
#roster ul#rosterlist li.dnd .chat,
.bubble.color.red   , .icon.color.red      { color: white; background-color: #F44336; border-color: #F44336 }
#roster ul#rosterlist li.xa .chat,
.bubble.color.purple, .icon.color.purple   { color: white; background-color: #9C27B0; border-color: #9C27B0 }
.bubble.color.indigo, .icon.color.indigo   { color: white; background-color: #3F51B5; border-color: #3F51B5 }
.bubble.color.blue  , .icon.color.blue     { color: white; background-color: #2196F3; border-color: #2196F3 }
#roster ul#rosterlist li.online .chat,
.bubble.color.green , .icon.color.green    { color: white; background-color: #689F38; border-color: #689F38 }
.bubble.color.orange, .icon.color.orange   { color: white; background-color: #FF9800; border-color: #FF9800 }
#roster ul#rosterlist li.away .chat,
.bubble.color.yellow, .icon.color.yellow   { color: white; background-color: #FDD835; border-color: #FDD835 }
.bubble.color.brown , .icon.color.brown    { color: white; background-color: #795548; border-color: #795548 }
.bubble.color.gray  , .icon.color.gray     { color: white; background-color: #9E9E9E; border-color: #9E9E9E }

label.red   , .icon.red      { color: #F44336; }
label.purple, .icon.purple   { color: #9C27B0; }
label.indigo, .icon.indigo   { color: #3F51B5; }
label.blue  , .icon.blue     { color: #2196F3; }
label.green , .icon.green    { color: #689F38; }
label.orange, .icon.orange   { color: #FF9800; }
label.yellow, .icon.yellow   { color: #FFEB3B; }
label.brown , .icon.brown    { color: #795548; }
label.gray  , .icon.gray     { color: #9E9E9E; }
/*
form input:focus,
form textarea:focus {
    border-bottom: 2px solid #2196F3;
}
form input:focus + label,
form textarea:focus + label {
    color: #2196F3;
}
*/
form input:focus:invalid {
    border-bottom-color: #F44336;
}
form input:focus:invalid + label {
    color: #F44336;
}
/*
form input:focus:valid {
    border-bottom: 2px solid #4CAF50;
}
form input:focus:valid + label {
    color: #4CAF50;
}*/

/* Global color palette */

/* Indigo */
body.indigo .button.color,
body.indigo input[type=button].color,
body.indigo ul li span.counter,
body.indigo main > header { background-color: #3F51B5; color: white; border-color: #3F51B5; }

/* 200 */
body.indigo main > header a { color: #9fa8da; }

body.indigo .tabs,
body.indigo .button,
body.indigo input[type=button],
body.indigo a:not(.classic) { color: #303F9F; border-color: #303F9F; }

/* Indigo accent : pink */
body.indigo form > div .checkbox:before { background-color: #FF80AB; }
body.indigo form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #F50057; }

body.indigo form > div .radio > input[type="radio"]:checked + label {
    border-color: #F50057;
    background-color: #F50057;
}

body.indigo form input:focus:not(:invalid) + label,
body.indigo form textarea:focus:not(:invalid) + label {
    color: #F50057;
}

body.indigo form input:focus:not(:invalid),
body.indigo form textarea:focus:not(:invalid) {
    border-bottom-color: #F50057;
}

/* Gray */

body.gray .button.color,
body.gray input[type=button].color,
body.gray ul li span.counter,
body.gray main > header { background-color: #9E9E9E; color: white; border-color: #9E9E9E; }

body.gray .tabs,
body.gray .button,
body.gray input[type=button],
body.gray a:not(.classic) { color: #616161; border-color: #616161; }

/* Gray accent : orange */

body.gray form > div .checkbox:before { background-color: #FFE0B2; }
body.gray form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #FF9800; }

body.gray form > div .radio > input[type="radio"]:checked + label {
    border-color: #FF9800;
    background-color: #FF9800;
}

body.gray form input:focus:not(:invalid) + label,
body.gray form textarea:focus:not(:invalid) + label {
    color: #FF9800;
}

body.gray form input:focus:not(:invalid),
body.gray form textarea:focus:not(:invalid) {
    border-bottom-color: #FF9800;
}

/* Green */

body.green .button.color,
body.green input[type=button].color,
body.green ul li span.counter,
body.green main > header { background-color: #689F38; color: white; border-color: #689F38; }

/* 200 */
body.green main > header a { color: #DCEDC8; }

body.green .tabs,
body.green .button,
body.green input[type=button],
body.green a:not(.classic) { color: #388E3C; border-color: #388E3C; }

/* green accent : purple */

body.green form > div .checkbox:before { background-color: #BBDEFB; }
body.green form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #2196F3; }

body.green form > div .radio > input[type="radio"]:checked + label {
    border-color: #2196F3;
    background-color: #2196F3;
}

body.green form input:focus:not(:invalid) + label,
body.green form textarea:focus:not(:invalid) + label {
    color: #2196F3;
}

body.green form input:focus:not(:invalid),
body.green form textarea:focus:not(:invalid) {
    border-bottom-color: #2196F3;
}

/* Orange */

body.orange .button.color, 
body.orange input[type=button].color,
body.orange ul li span.counter,
body.orange main > header { background-color: #FB8C00; color: white; border-color: #FB8C00; }

body.orange .tabs,
body.orange .button,
body.orange input[type=button],
body.orange a:not(.classic) { color: #F57C00; border-color: #F57C00; }

/* orange accent : blue */

body.orange form > div .checkbox:before { background-color: #BBDEFB; }
body.orange form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #2196F3; }

body.orange form > div .radio > input[type="radio"]:checked + label {
    border-color: #2196F3;
    background-color: #2196F3;
}

body.orange form input:focus:not(:invalid) + label,
body.orange form textarea:focus:not(:invalid) + label {
    color: #2196F3;
}

body.orange form input:focus:not(:invalid),
body.orange form textarea:focus:not(:invalid) {
    border-bottom-color: #2196F3;
}

/* Blue */

body.blue .button.color, 
body.blue input[type=button].color,
body.blue ul li span.counter,
body.blue main > header { background-color: #2196F3; color: white; border-color: #2196F3; }

/* 200 */
body.blue main > header a { color: #90caf9; }

body.blue .tabs,
body.blue .button,
body.blue input[type=button],
body.blue a:not(.classic) { color: #1976D2; border-color: #1976D2; }

/* blue accent : deep purple */

body.blue form > div .checkbox:before { background-color: #B388FF; }
body.blue form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #651FFF; }

body.blue form > div .radio > input[type="radio"]:checked + label {
    border-color: #651FFF;
    background-color: #651FFF;
}

body.blue form input:focus:not(:invalid) + label,
body.blue form textarea:focus:not(:invalid) + label {
    color: #651FFF;
}

body.blue form input:focus:not(:invalid),
body.blue form textarea:focus:not(:invalid) {
    border-bottom-color: #651FFF;
}

/* Red */

body.red .button.color, 
body.red input[type=button].color,
body.red ul li span.counter,
body.red main > header { background-color: #DB4336; color: white; border-color: #DB4336; }

/* 200 */
body.red main > header a { color: #EF9A9A; }

body.red .tabs,
body.red .button,
body.red input[type=button],
body.red a:not(.classic) { color: #D32F2F; border-color: #D32F2F; }

/* red accent : blue */

body.red form > div .checkbox:before { background-color: #82B1FF; }
body.red form > div .checkbox > input[type="checkbox"]:checked + label { background-color: #2979FF; }

body.red form > div .radio > input[type="radio"]:checked + label {
    border-color: #2979FF;
    background-color: #2979FF;
}

body.red form input:focus:not(:invalid) + label,
body.red form textarea:focus:not(:invalid) + label {
    color: #2979FF;
}

body.red form input:focus:not(:invalid),
body.red form textarea:focus:not(:invalid) {
    border-bottom-color: #2979FF;
}
