/* Header */
header.big {
    background-size: cover, cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    color: white;
    position: relative;
    margin-bottom: 2rem;
}


header.fixed {
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

@media screen and (min-width: 1024px) {
    main > section > div:first-child:nth-last-child(2) ~ div > header.fixed  {
        width: 65%;
    }
}

header.fixed + div {
    margin-top: 7rem;
}

