/* Header */
header.big {
    background-size: cover, cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    color: white;
    position: relative;
    margin-bottom: 2rem;
}

header.fixed {
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    top: 0;
}

header.relative {
    position: relative;
}

@media screen and (min-width: 1024px) {
    main > section > div:first-child:nth-last-child(2) ~ div > header.fixed  {
        width: inherit;
    }
}

header ul:first-child > li:first-child p:not(.normal) {
    text-align: center;
}

/* Specific forms in header */
header form > div:not(.clear):not(.control) {
    min-height: 0;
    top: 0;
}

header form > div > input:not([type=submit]) {
    padding-top: 2rem;
}
