/* Header */
header.big {
    background-size: cover, cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    color: white;
    position: relative;
    margin-bottom: 2rem;
}


/*
header.big {
    background-size: cover, cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    color: white;
    position: relative;
    margin-bottom: 2rem;
}

header.big p {
    color: white;
}*/
/*
main > section > div > header,
main > section > div:first-child:nth-last-child(2) ~ div > header {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    display: block;
    overflow: hidden;
    max-height: 50rem;
    transition: max-height 0.3s cubic-bezier(.4,0,.2,1);
}

main > section > div > header.scroll,
main > section > div:first-child:nth-last-child(2) ~ div > header.scroll {
    max-height: 7rem;
    position: fixed;
    top: 0;
    transition: max-height 0.3s cubic-bezier(.4,0,.2,1);
}

main > section > div:first-child:nth-last-child(2) ~ div > header.scroll  {
    width: 65%;
}

main > section > div > header.scroll:not(.big) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

main > section > div:first-child:nth-last-child(2) > header.scroll {
    width: 35%;
}

@media screen and (max-width: 1024px) {
    main > section > div:first-child:nth-last-child(2) > header.scroll,
    main > section > div:first-child:nth-last-child(2) ~ div > header.scroll {
        width: 100%;
    }
}

main > section > div > header > div > h2 {
    display: inline-block;
    margin-left: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 10rem);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.4,0,.2,1);
    transition-delay: 0.3s;
}

main > section > div > header.scroll > div > h2 {
    opacity: 1;
}

main > section > div > header ul.tabs,
main > section > div > header form {
    margin-top: 1rem;
    width: calc(100% - 8rem);
    box-sizing: border-box;
    float: right;
    border: 0;
}

main > section > div > header form {
    padding: 0 1rem;
    margin-top: 2rem;
}

main > section > div > header form > div:not(.clear):not(.control) {
    min-height: 0;
}

main > section > div > header form > div > input:not([type=submit]) {
    padding-top: 0rem;
}

header.big h2,
header.big p {
    color: white;
}


main > section > div > header.scroll + * {
    margin-top: 7rem;
}*/

/*
main > section > div > header + article {
    margin-bottom: 2rem;
}
*/
