/* Icon */

span.icon {
    font-size: 3rem;
    line-height: 5rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 5rem;
}

span.icon.spin,
i.spin {
    animation: spin 2s linear infinite;
}

span.icon img {
    max-width: 100%;
    max-height: 100%;
}

span.icon.top {
    position: relative;
    top: -1.5rem;
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    display: block;
    margin: 0;
    left: 0;
}

span.icon.top.preview {
    height: 25rem;
}

img.icon.thumb {
    margin: auto;
    transform: translateY(-1rem);
    display: block;
    max-width: 100%;
    object-fit: cover;
    position: relative;
}

@media screen and (min-width: 800px) {
    img.icon.thumb {
        min-height: 5rem;
    }

    img.icon.thumb:before {
        position: absolute;
        width: 100%;
        background-color: rgb(var(--movim-background-main));
        top: 0;
        left: 0;
        font-family: 'Material Icons';
        content: 'image';
        color: rgba(var(--movim-font), 0.5);
        line-height: 6rem;
        font-size: 3rem;
        text-align: center;
    }
}

span.icon.primary.thumb {
    height: 100%;
    left: 0;
    top: 0;
    width: 7rem;
    margin: 0;
    line-height: 7.5rem;
    max-height: 100%;
}
/*
*[dir="rtl"] span.icon.primary.thumb {
    right: 0;
}
*/
li.oppose span.icon {
    left: auto;
    right: 2rem;
}

span.icon.bubble {
    border-radius: 5rem;
    font-size: 0;
    font-size: 2.25rem;
    user-select: none;
    -moz-user-select: none;
}

span.icon.bubble img {
    border-radius: 5rem;
}

span.icon.bubble i {
    font-size: 3rem;
    line-height: 5rem;
}

ul.list li span.icon.small {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: -1.5rem;
    font-size: 1.5rem;
}

ul.list li span.icon.small:not(.bubble) i {
    padding: 1rem 0;
}

span.icon.small.bubble:first-letter,
span.icon.small.bubble i {
    font-size: 2rem;
    line-height: 3rem;
}

span.icon span.counter,
span.icon.status:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    right: calc(50% - 2.75rem);
    top: 3rem;
    position: absolute;

    border-radius: 2em;
    background-color: #DDD;
}

main ul li .control > i {
    margin-left: 0;
}

/* Counter */

span.icon span.counter:empty {
    display: none;
}

span.icon span.counter {
    z-index: 1;
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 0.25rem;
    width: auto;
    min-width: 1.5rem;
    padding: 0 0.25rem;
    height: auto;
}
