ul.list {
    list-style-type: none;
    padding: 0;
}

ul.list li:not(.subheader) {
    padding: 0.25rem 0;
}

ul.list.middle li:not(.subheader) {
    padding: 0.75rem 0;
}

ul.list.thick li:not(.subheader) {
    padding: 1.5rem 0;
}

ul.list li {
    clear: both;
    position: relative;
}

ul.list li > *:not(p, .hide) {
    display: inline-block;
    top: 0;
}

/* Active list */

ul.list.active li:hover:not(.subheader),
ul.list.active.all li:hover,
ul.list.active li.active:not(.subheader) {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

/* Main elements */

ul.list li .control,
ul.list li .primary {
    width: 5rem;
    height: 5rem;
    top: 50%;
    margin-top: -2.5rem;
    position: absolute;
    line-height: 5rem;
}

ul.list li .control:not(.bubble):not(.thumb),
ul.list li .primary:not(.bubble):not(.thumb) {
    margin-top: -3rem;
    padding: 0.5rem;
}

ul.list.middle li .control:not(.bubble):not(.thumb),
ul.list.middle li .primary:not(.bubble):not(.thumb) {
    margin-top: -3.5rem;
    padding: 1rem 0.5rem;
}

ul.list.thick li .control:not(.bubble):not(.thumb),
ul.list.thick li .primary:not(.bubble):not(.thumb) {
    margin-top: -4.25rem;
    padding: 1.75rem 0.5rem;
}

ul.list > li > *:not(img):not(.counter):not(span):not(.bubble):not(.button),
ul.list li.subheader p {
    width: 100%;
    box-sizing: border-box;
    padding-right: 2rem;
    padding-left: 2rem;
}

ul.list li .primary > a,
ul.list li .control > a {
    display: block;
}

/* Truncated content */

ul.list li.subheader > p,
ul.list li > p.line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.list li > span.active {
    transition: background-color 0.25s ease;
}

ul.list li > span.active:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

ul.list li > p > span.second {
    color: gray;
    margin-left: 0.5rem;
}

ul.list li > p > span.info,
ul li div.bubble:after {
    float: right;
    font-size: 1.5rem;
    color: gray;
}

/* Size automagicaly the content */

ul.list li > p {
    box-sizing: border-box;
}

ul.list li > p:first-of-type {
    line-height: 5.5rem;
    font-size: 3rem;
}

ul.list li > p.normal {
    font-size: 2rem;
}

ul.list li > p.bold {
    font-weight: bold;
}

ul.list li > p.center {
    text-align: center;
}

ul.list li > p:nth-last-of-type(3),
ul.list li > p:nth-last-of-type(2) {
    line-height: 3rem;
    font-size: 2rem;
}

ul.list li > p:nth-last-of-type(3) + p,
ul.list li > p:nth-last-of-type(2) + p {
    line-height: 2.5rem;
    font-size: 1.75rem;
    max-height: 7.5rem;
    overflow: hidden;
}

ul.list li > p:nth-last-of-type(3) + p.all,
ul.list li > p:nth-last-of-type(2) + p.all {
    max-height: 100%;
}

/* Subheader */

ul.list li.subheader > p {
    font-size: 1.75rem;
    line-height: 5rem;
    font-weight: 600;
    padding: 0 2rem;
}

/* If we have a primary control */

ul.list li > .primary {
    left: 1.5rem;
}

ul.list li > .primary.bubble {
    left: 2rem;
}

ul.list li > .primary ~ *:not(.primary):not(.counter):not(.bubble):not(.control) {
    padding-left: 9rem;
}

/* Place the other controls */

ul.list li > .control {
    right: 0;
}

ul.list li > .control ~ .control {
    right: 6rem;
}

ul.list li > .control ~ .control ~ .control {
    right: 12rem;
}

/* Limit the size of the main content */

ul.list li > .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 6rem);
}

ul.list li > .control ~ .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 12rem);
}

ul.list li > .control ~ .control ~ .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 18rem);
}

/* Limit the size of the main content */

header > ul.list li .primary {
    left: 0;
}

header > ul.list li > .primary ~ :not(.primary):not(.counter):not(.bubble):not(.control) {
    padding-left: 9rem;
}

/* Tabs */

ul.tabs {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
    white-space: nowrap;
    height: 6rem;
    line-height: 6rem;
}

ul.tabs.wide > li {
    width: 25%;
    float: left;
}

ul.tabs:hover {
    overflow-x: auto;
}

ul.tabs > li {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
    opacity: 0.6;
    height: 6rem;
    box-sizing: border-box;
}

ul.tabs > li > a {
    /*padding: 1.5rem 3rem;*/
    box-sizing: border-box;
    padding: 0 3rem;
    display: block;
}

ul.tabs > li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

ul.tabs > li.active {
    opacity: 1;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* Counter */

ul li span.counter:empty {
    display: none;
}

ul li span.counter {
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.5rem);
    line-height: 2rem;
    border-radius: 3rem;
    padding: 0.5rem;
    text-align: center;
    min-width: 2rem;
    font-size: 2rem;
}

ul li span.counter.bottom {
    top: calc(50%);
}

/* Bubble */

ul li div.bubble {
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 1.75rem;
    max-width: calc(100% - 11rem);
    float: left;

    left: 9rem;
    padding-left: 2rem;
    width: auto;
}

ul li div.bubble:not(.sticker) {
    padding: 1rem 1.75rem 0.5rem;
    border-radius: 0.5rem;
    line-height: 2.75rem;
    background-color: white;
    border-color: white;
    margin-bottom: 0.75rem;
}

ul li div.bubble p {
    overflow: hidden;
    display: inline;
    max-width: 100%;
    font-size: 1.75rem;
    word-wrap: break-word;
}

ul li.oppose div.bubble {
    margin-right: 9rem;
    float: right;
    position: initial;
}

ul li.oppose div.bubble:not(.sticker) {
    background-color: #f5f5f5;
}

ul li div.bubble span.info {
    float: right;
    padding-left: 1rem;
}

ul li div.bubble:after {
    /*display: block;*/
    content: attr(data-publishedprepared);
    clear: both;
    /*position: absolute;
    width: 20rem;*/
    line-height: 3rem;
    text-align: left;
    /*padding-top: 1rem;*/
}

ul li div.bubble.sticker:after {
    padding-top: 0.5rem;
}

ul li.oppose div.bubble:after {
    right: 9rem;
    text-align: right;
}

ul li:not(.oppose) div.bubble:after {
    left: 0;
}

ul li .quote {
    font-style: italic;
}

ul li div.bubble:not(.sticker):before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5rem;
    border-top: 1.5rem solid black;
    border-top-color: inherit;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
}

ul li.oppose div.bubble:not(.sticker):before {
    left: calc(100% - 10.5rem);
    top: 0.75rem;
    border-top-color: #f5f5f5;
}

/* Icon */

.icon.tiny {
    font-size: 1.8rem;
    font-weight: 600;
}

/* Menu */

ul.context_menu {
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    z-index: 3;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    display: none;
}

ul.context_menu.shown {
    display: block;
}

/* Divided */

ul.list li.divided,
*.divided:not(.spaced):not(li) > *:not(:last-child),
*.divided.spaced > *:not(:last-child).subheader,
*.divided.spaced > *:not(:last-child):not(.subheader):after {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

*.divided.spaced > *:not(:last-child):after {
    position: absolute;
    right: 0;
    bottom: 0rem;
    content: "";
    display: block;
    width: calc(100% - 9rem);
}

