/* List */
ul li {
    padding: 0 2rem;
    padding-left: 9rem;
    font-size: 2rem;
    min-height: 6rem;
    line-height: 6rem;
    position: relative;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    /*min-width: 12rem;*/
}

ul > a {
    max-width: 100%;
    display: block;
}

ul li.oppose {
    padding-left: 0;
    padding-right: 9rem;
}


ul li.inactive {
    opacity: 0.6;
}

ul.simple > li {
    padding-left: 2rem;
    line-height: 6rem;
}

ul.simple > li span.icon {
    display: none;
}

ul.middle > li {
    min-height: 7rem;
    line-height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul.thin > li {
    min-height: 5rem;
    line-height: 5rem;
}

ul.thick > li {
    min-height: 7rem;
    line-height: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul li.subheader {
    min-height: 0;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.75rem;
    padding-left: 2rem;
    padding-top: 0;
    font-weight: 600;
    /*
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    */
}

ul.active li:hover:not(.subheader),
ul.active.all li:hover,
ul.active li.active:not(.subheader) {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

ul.active li:hover:not(.subheader) > p.more:after,
ul.active.all li:hover > p.more:after,
ul.active li.active:not(.subheader) > p.more:after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(247, 247, 247, 1));
}

ul.active li:focus:not(.subheader),
ul.active.all li:focus,
ul.active li.active:not(.subheader) {
    background-color: rgba(0, 0, 0, 0.07);
}

ul.active li:focus:not(.subheader) > p.more:after,
ul.active.all li:focus  > p.more:after,
ul.active li.active:not(.subheader)  > p.more:after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(237, 237, 237, 1));
}

.dark ul.active li:hover:not(.subheader),
.dark ul.active.all li:hover,
.dark ul.active li.active:not(.subheader) {
    background-color: rgba(255, 255, 255, 0.035);
}

ul li.condensed,
ul.thin li.condensed,
ul.thick li.condensed {
    line-height: 3rem;
}

ul li.condensed p,
ul.thin li.condensed p,
ul.thick li.condensed p {
    line-height: 2.5rem;
    margin-bottom: 0;
}

ul li > p,
ul li > a > p {
    display: block;
    font-size: 1.75rem;
    color: rgba(0, 0, 0, 0.60);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 8rem;
    line-height: 2.5rem;
    position: relative;
}

ul li > p.more:after {
    display: block;
    width: 100%;
    height: 3rem;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
    content: "";
    position: absolute;
    bottom: 0;
}

ul li > p.all {
    max-height: 100%;
}

ul li p.wrap {
    white-space: nowrap;
}

ul li span {
    white-space: nowrap;
}

ul li div.bubble span {
    white-space: initial;
}

ul li span.second {
    opacity: 0.6;
    padding-left: 0.5rem;
}

ul li img {
    max-width: 100%;
    height: auto;
}

ul li > p.more img:not(.emoji) {
    margin: 1rem auto;
    display: block;
}

ul li.action {
    padding-right: 7rem;
}

ul li.action > div.action,
ul li.action > form > div.action {
    position: absolute;
    top: 50%;
    right: 2rem;
    margin-top: -2.5rem;
    font-size: 3rem;
    height: 5rem;
    line-height: 5rem;
}

ul li span.info {
    float: right;
    margin-left: 1rem;
}

/* Counter */

ul li span.counter:empty {
    display: none;
}

ul li span.counter {
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.5rem);
    line-height: 2rem;
    border-radius: 3rem;
    padding: 0.5rem;
    text-align: center;
    min-width: 2rem;
}

ul li span.counter.bottom {
    top: calc(50%);
}

/* Bubble */

ul li div.bubble {
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    line-height: 2.75rem;
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 1.75rem;
    background-color: white;
    border-color: white;
    max-width: 100%;
    float: left;
}

ul li div.bubble div {
    white-space: pre-wrap;
    display: inline;
}

ul li div.quote {
    font-style: italic;
}

ul li.oppose div.bubble {
    margin-left: 2rem;
    float: right;
}

ul li div.bubble:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

ul li:not(.same) div.bubble:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5rem;
    border-top: 1.5rem solid black;
    border-top-color: inherit;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
}

ul li.oppose:not(.same) div.bubble:before {
    left: calc(100% - 1.5rem);
}

ul li.same span.icon {
    display: none;
}

/* Tabs */

ul.tabs {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
    white-space: nowrap;
    height: 6rem;
}

ul.tabs:hover {
    overflow-x: auto;
}

ul.tabs li {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
    opacity: 0.6;
    padding: 0 2rem;
    height: 2rem;
    box-sizing: border-box;
}

ul.tabs li:hover {
    cursor: pointer;
}

ul.tabs li.active {
    opacity: 1;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* Menu */

ul.context_menu {
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    z-index: 3;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    display: none;
}

ul.context_menu.shown {
    display: block;
}
