ul.list {
    list-style-type: none;
    padding: 0;
}

ul.list.middle li:not(.subheader) {
    padding: 0.75rem 0;
}

ul.list.thick li:not(.subheader) {
    padding: 1.5rem 0;
}

ul.list li {
    clear: both;
    position: relative;
}

ul.list li > *:not(p) {
    display: inline-block;
    top: 0;
}

/* Active list */


ul.list.active li:hover:not(.subheader),
ul.list.active.all li:hover,
ul.list.active li.active:not(.subheader) {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

/* Main elements */

ul.list li > .control,
ul.list li > .primary {
    width: 5rem;
    height: 5rem;
    top: 50%;
    margin-top: -2.5rem;
    position: absolute;
}
ul.list li > .control.active,
ul.list li > .primary.active {
    width: 7rem;
    height: 7rem;
    margin-top: -3.5rem;
    line-height: 7rem;
}

ul.list li > .primary.active {
    left: 0;
}

ul.list li > .control.small,
ul.list li > .primary.small {
    width: 3rem;
    height: 3rem;
    margin-top: -1.5rem;
}

ul.list > li > *:not(.counter):not(span):not(.bubble):not(.button),
ul.list li.subheader p {
    width: 100%;
    box-sizing: border-box;
    padding-right: 2rem;
    padding-left: 2rem;
}

ul.list li .primary > a,
ul.list li .control > a {
    display: block;
}

/* Truncated content */

ul.list li.subheader > p,
ul.list li > p.line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.list li > span.active {
    transition: background-color 0.25s ease;
}

ul.list li > span.active:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

ul.list li > p > span.second {
    color: gray;
}

ul.list li > p > span.info {
    float: right;
    font-size: 1.5rem;
    color: gray;
}

/* Size automagicaly the content */

ul.list li > p:first-of-type {
    line-height: 5.5rem;
    font-size: 3rem;
}

ul.list li > p.normal {
    font-size: 2rem;
}

ul.list li > p.center {
    text-align: center;
}

ul.list li > p:nth-last-of-type(3),
ul.list li > p:nth-last-of-type(2) {
    line-height: 3rem;
    font-size: 2rem;
}

ul.list li > p:nth-last-of-type(3) + p,
ul.list li > p:nth-last-of-type(2) + p {
    line-height: 2.5rem;
    font-size: 1.75rem;
    max-height: 7.5rem;
    overflow: hidden;
}

ul.list li > p:nth-last-of-type(3) + p.all,
ul.list li > p:nth-last-of-type(2) + p.all {
    max-height: 100%;
}

/* Subheader */

ul.list li.subheader > p {
    font-size: 1.75rem;
    line-height: 5rem;
    font-weight: 600;
    padding: 0 2rem;
}

/* If we have a primary control */


ul.list li > .primary {
    left: 2rem;
}

ul.list li > .primary ~ *:not(.primary):not(.counter):not(.bubble):not(.control) {
    padding-left: 9rem;
}

/* Place the other controls */

ul.list li > .control {
    right: 0;
}

ul.list li > .control ~ .control {
    right: 5rem;
}

ul.list li > .control ~ .control ~ .control {
    right: 10rem;
}

/* Limit the size of the main content */

ul.list li > .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 5rem);
}

ul.list li > .control ~ .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 10rem);
}

ul.list li > .control ~ .control ~ .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 15rem);
}

/* Place the other controls */

header > ul.list li > .control ~ .control {
    right: 7rem;
}

header > ul.list li > .control ~ .control ~ .control {
    right: 14rem;
}

/* Limit the size of the main content */

header > ul.list li > .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 7rem);
}

header > ul.list li > .control ~ .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 14rem);
}

header > ul.list li > .control ~ .control ~ .control ~ *:not(.control):not(.bubble):not(.counter) {
    width: calc(100% - 21rem);
}

/* Tabs */

ul.tabs {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: hidden;
    white-space: nowrap;
    height: 6rem;
    line-height: 6rem;
}

ul.tabs.wide > li {
    width: 25%;
    float: left;
}

ul.tabs:hover {
    overflow-x: auto;
}

ul.tabs > li {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
    opacity: 0.6;
    height: 6rem;
    box-sizing: border-box;
}

ul.tabs > li > a {
    /*padding: 1.5rem 3rem;*/
    box-sizing: border-box;
    padding: 0 3rem;
    display: block;
}

ul.tabs > li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

ul.tabs > li.active {
    opacity: 1;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* Counter */

ul li span.counter:empty {
    display: none;
}

ul li span.counter {
    position: absolute;
    right: 1rem;
    top: calc(50% - 1.5rem);
    line-height: 2rem;
    border-radius: 3rem;
    padding: 0.5rem;
    text-align: center;
    min-width: 2rem;
    font-size: 2rem;
}

ul li span.counter.bottom {
    top: calc(50%);
}

/* Bubble */

ul li div.bubble {
    position: relative;
    box-sizing: border-box;
    display: block;
    font-size: 1.75rem;
    max-width: calc(100% - 11rem);
    float: left;

    left: 9rem;
    padding-left: 2rem;
    width: auto;
}

ul li div.bubble:not(.sticker) {
    padding: 1.25rem 2rem 0.75rem;
    border-radius: 0.5rem;
    line-height: 2.75rem;
    background-color: white;
    border-color: white;
}

ul li div.bubble > p {
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
}

ul li.oppose div.bubble {
    margin-right: 9rem;
    float: right;
    position: initial;
}

ul li.oppose div.bubble:not(.sticker) {
    background-color: #f5f5f5;
}

ul li div.bubble span.info {
    float: right;
    padding-left: 1rem;
}

ul li.same span.icon {
    display: none;
}

ul li div.bubble:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

ul li .quote {
    font-style: italic;
}

ul li:not(.same) div.bubble:not(.sticker):before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5rem;
    border-top: 1.5rem solid black;
    border-top-color: inherit;
    border-left: 1.5rem solid transparent;
    border-right: 1.5rem solid transparent;
}

ul li.oppose:not(.same) div.bubble:not(.sticker):before {
    left: calc(100% - 10.5rem);
    top: 1.5rem;
    border-top-color: #f5f5f5;
}

/* Icon */

.icon.tiny {
    font-size: 1.8rem;
    font-weight: 600;
}

/* Menu */

ul.context_menu {
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: white;
    color: #333;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    z-index: 3;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    display: none;
}

ul.context_menu.shown {
    display: block;
}

