/* Menu */

body > nav > ul:nth-child(2) li p.normal,
body > nav > ul:nth-child(3) li p.normal {
    height: 6rem;
    line-height: 6.25rem;
}

body > nav > ul.list li > .primary ~ :not(.primary):not(.counter):not(.bubble):not(.control) {
    padding-left: 7rem;
}

body > nav > ul.list li > .primary {
    left: 0.5rem;
}

body > nav > ul.list li > .primary.bubble {
    left: 1rem;
}

body > nav.color.dark > ul a {
    color: white;
}
body > nav > ul.list li > p:nth-last-of-type(2) + p {
    color: gray;
}

body > nav > ul.list.active li:hover:not(.subheader),
body > nav > ul.list.active li.active:not(.subheader) {
    background-color: rgba(255, 255, 255, 0.035);
}

ul.oppose {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 10rem;
}

