* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style-type: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:focus {
    outline: 0;
}

html {
    font-size: 8px;
}

body {
    background-color: black;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.clear {
    clear: both;
}

.clear.padded {
    height: 2rem;
}

body > * {
    display: block;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.87);
}

body > script {
    display: none;
}

a, a:link, a:visited {
    text-decoration: none;
}

/* Navigation bar */

body > nav {
    background-color: #fefefe;
    width: 7rem;
    max-width: 95%;
    transition: width 0.3s cubic-bezier(.4,0,.2,1);
    z-index: 2;
    position: relative;
}

body > nav:before {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
    pointer-events:none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
}

body > nav header {
    padding: 0.5rem;
}

body > nav.active {
    width: 45rem;
}

/*@media screen and (min-width: 1024px) {*/
    body > div.drawer:not(.empty) ~ main,
    body > div.drawer:not(.empty) ~ nav,
    body > div.dialog:not(:empty) ~ main,
    body > div.dialog:not(:empty) ~ nav,
    body > nav.active + main {
        opacity: 0.5;
        pointer-events: none;
    }
/*}*/

body > nav li { /* Little hack for the navbar */
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    body > nav:not(.active) {
        width: 45rem;
        transition: transform .3s cubic-bezier(.4,0,.2,1);
        transform: translateX(-100%);
    }

    body > nav.active {
        transition: transform .3s cubic-bezier(.4,0,.2,1);
        transform: translateX(0%);
    }
}

body > nav li span.counter {
    left: 3.5rem;
    top: calc(50% - 1.25rem);
    right: auto;
    font-size: 1.75rem;
    padding: 0.25rem;
}
/*
@media screen and (min-width: 1024px) and (max-width: 1679px) {
    body > nav p {
        transition: opacity 0.5s cubic-bezier(.4,0,.2,1);
        opacity: 0;
    }

    body > nav:hover {
        width: 45rem;
        box-shadow: 0 2.5rem 5rem rgba(0,0,0,0.30), 0 2rem 1.5rem rgba(0,0,0,0.22);
    }

    body > nav:hover p {
        opacity: 1;
    }

    body > nav:hover + main {
        opacity: 0.5;
        pointer-events: none;
    }

    body > nav:not(:hover) li span.counter {
        left: 3.5rem;
        top: calc(50% - 1.25rem);
        right: auto;
        font-size: 1.75rem;
        padding: 0.25rem;
    }
}
*/
@media screen and (min-width: 1680px) {
    body > nav,
    body > nav:hover {
        width: 15%;
    }

    body > nav + main,
    body > nav:hover + main {
        width: 85%;
    }
}

body > nav.active:before/*,
body > nav:hover:before*/ {
    display: none;
}

/* Main */

main {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    transition: opacity 0.3s ease-in-out;
    transform: translateZ(0);
}

nav + main {
    width: calc(100% - 7rem);
    transform: translateZ(0);
}

main > header {
    position: relative;
    height: 7rem;
    /*overflow: hidden;*/
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
    z-index: 2;
}

main > header > div {
    position: relative;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}

main > header > div:first-child:nth-last-child(2) ~ div {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1024px) {
    main > header > div,
    main > header > div:first-child:nth-last-child(2) ~ div {
        width: 100%;
    }

    main > header > div:first-child:nth-last-child(2) {
        display: none;
    }
}

main > section {
    height: 100%;
    position: relative;
}

main > header + section {
    height: calc(100% - 7rem);
}

main > section > div {
    overflow-y: auto;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

main > section > div:not(:last-child) {
    border-right: 1px solid #DDDDDD;
}

main > section > div > * {
    max-width: 100rem;
    margin: 0 auto;
}

/* Two blocks*/
main > section > div:first-child:nth-last-child(2) {
    width: 30%;
}
main > section > div:first-child:nth-last-child(2) ~ div {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    /*transition: left .3s cubic-bezier(.4,0,.2,1);*/
}

main > section > div:first-child:nth-last-child(2) ~ div {
    background-color: white;
}

main > section > div > div.contained { /* Specific behaviour when the scroll need to be inside the block */
    height: calc(100% - 14.5rem);
    overflow-y: scroll;
    position: absolute;
    max-width: 100%;
    width: 100%;
}

main > section > div > div.contained > * {
    max-width: 100rem;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    /* Two blocks*/
    main > section > div:first-child:nth-last-child(2) {
        width: 100%;
    }
    main > section > div:first-child:nth-last-child(2) ~ div {
        width: 100%;
        left: 100%;
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.23), 0 0 10px rgba(0, 0, 0, 0.16);
    }

    main > section > div:first-child:nth-last-child(2) ~ div.enabled {
        left: 0%;
    }

    main,
    nav + main {
        width: 100%;
    }

    body > nav {
        width: 0;
    }
}

main footer {
    font-size: 2rem;
}

/* Actions bar */

.actions {
    padding-bottom: 7rem;
}

.actions > div:last-child {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    bottom: 0;
    padding: 0.5rem 2rem;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.actions > div.no_bar:last-child {
    border-top: none;
}

.actions.fixed > div:last-child {
    position: fixed;
    min-height: 7rem;
    max-width: calc(100% - 5rem);
    width: 100%;
    padding: 0;
}

.actions > div:last-child form > div {
    min-height: 0;
    top: -0.5rem;
}

.actions > div:last-child form > div input {
    margin: 0;
    padding-top: 1.5rem;
}

.drawer.actions > div:last-child ul.tabs {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 0;
}

.drawer.actions > div:last-child ul.tabs li.active {
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 0;
}

.actions.scroll > section {
    margin-bottom: 1rem;
}

.actions.scroll > section > article > section {
    padding: 0;
}

main section > div:first-child:nth-last-child(2) ~ div .actions.fixed > div:last-child  {
    max-width: calc(75% - 5rem);
}

.actions.fixed > div:last-child > * { /* Little hack to fake the 100% width that overflow the parent */
    max-width: 100rem;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) { /* Known bug, on some intermediary resolution, the content is cropped */
    main section > div:first-child:nth-last-child(2) ~ div .actions.fixed > div:last-child {
        max-width: 100%;
    }
}


/* Snackbar - Toast */

.snackbar,
.toast {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
    position: fixed;
    z-index: 4;
    min-height: 6rem;
    max-height: 11rem;
    height: auto;
    color: white;
    padding: 2rem 3rem;
    box-sizing: border-box;
    width: 40rem;
    pointer-events: none;
    transition: opacity 0.2s ease, bottom 0.4s ease;
    transform: translateX(0);
}

.snackbar > a {
    pointer-events: auto;
    margin: -1rem -2rem;
    display: block;
    margin: -2rem -1rem;
    padding: 2rem 1rem;
}

.snackbar > a:hover {
    border: 3px solid rgba(255, 255, 255, 0.2);
    padding: calc(2rem - 3px) calc(1rem - 3px);
}

.snackbar p,
.toast p {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.snackbar {
    background-color: #333333;
    bottom: 3rem;
    left: 3rem;
    border-radius: 0.25rem;
    opacity: 1;
    padding: 2rem 1rem;
}

.toast {
    background-color: #323232;
    border-radius: 3rem;
    left: 50%;
    bottom: 3rem;
    line-height: 2.5rem;
    margin-left: -20rem;
}

.snackbar:empty,
.toast:empty {
    opacity: 0;
}

.snackbar#error_websocket {
    max-height: initial;
}

.snackbar#error_websocket p {
    line-height: 2.5rem;
    white-space: initial;
}

@media screen and (max-width: 22rem) {
    .snackbar {
        width: 100%;
        top: 0;
        left: 0;
        bottom: auto;
        border-radius: 0;
    }

    .toast {
        max-width: 90%;
        left: 5%;
        margin-left: 0;
    }
}


/* Placeholder */

.placeholder {
    text-align: center;
    font-size: 1.2em;
    max-width: 400px;
    padding: 0 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.placeholder h1 {
    color: #888;
    line-height: 5rem;
    padding-bottom: 2rem;
}

.placeholder h4 {
    color: #AAA;
}

.placeholder p {
    text-align: center;
}

.placeholder.icon {
    background-image: url(../img/icons/chat.svg);
    background-size: 25rem;
    padding-top: 30rem;
    background-repeat: no-repeat;
    background-position: center 4em;
}

.icon.news      { background-image: url(../img/icons/receipt.svg); }
.icon.forum     { background-image: url(../img/icons/forum.svg); }
.icon.contacts  { background-image: url(../img/icons/group.svg); }
.icon.account   { background-image: url(../img/icons/perm_identity.svg); }
.icon.pages     { background-image: url(../img/icons/pages.svg); }
.icon.bookmark  { background-image: url(../img/icons/bookmark.svg); }
.icon.clipboard { background-image: url(../img/icons/person.svg); }
.icon.search    { background-image: url(../img/icons/search.svg); }

/* Padded */

@media screen and (max-width: 800px) {
    .padded {
        padding: 2rem;
        box-sizing: border-box;
    }

    .padded_right {
        padding-right: 2rem;
        box-sizing: border-box;
    }

    .padded_top_bottom {
        padding: 0 2rem;
        box-sizing: border-box;
    }
}

/* Spinner */

.spinner {
    position: relative;
}

.spinner:before,
.spinner:after {
    transition: top .3s cubic-bezier(.4,0,.2,1);
    transform: translateX(0);
    content: '';
    position: absolute;
    left: calc(50% - 3.5rem);
    border-radius: 50%;
    top: -10rem;
}

.spinner.on:before,
.spinner.on:after {
    top: 3rem;
}

.spinner.on:before {
    animation: 1s spinner infinite linear;
}

.spinner:before {
    z-index: 3;
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
}

.spinner:not(:required):before {
    content: '';
    border: 0.75rem solid transparent;
    border-top: 0.75rem solid #ddd;
}

.spinner:after {
    z-index: 2;

    box-shadow: 0px 0.5rem 1.25rem rgba(0, 0, 0, 0.23), 0px 0.5rem 1.25rem rgba(0, 0, 0, 0.16);
    background-color: white;

    width: 7rem;
    height: 7rem;
}

@keyframes spinner {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    from { transform: rotate(0deg); }
    to {-webkit-transform: rotate(360deg);}
}

/* Display/hide */

.on_mobile {
    display: none !important;
}

@media screen and (max-width: 1024px) {

.on_mobile {
    display: inherit !important;
}

.on_desktop {
    display: none !important;
}

}

/* Disabled */

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* Spinner */

div#spinner{
    position: relative;
    overflow: visible;
    text-align: center;
    margin: 50% 0;
}
.show{
    display: block;
}
.hide{
    display: none;
}
