/* Titles */

h1 { /* Display 1 */
    font-size: 4.25rem;
    line-height: 7rem;
}

h2 { /* Headline */
    font-size: 3rem;
    line-height: 4rem;
    padding: 1.5rem 0;
}

h2.thin {
    line-height: 5rem;
}

h3 { /* Title */
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 1rem 0;
}

h4, input, textarea, select { /* Headline */
    font-size: 2rem;
    line-height: 3rem;
}

h4 {
    font-weight: 400;
}

h4.gray {
    color: rgba(0, 0, 0, 0.54);
}

small {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.75em;
    font-weight: normal;
}

h3 + small {
    font-size: 1.75rem;
}

.snackbar, /* Body 2 */
.toast {
    font-size: 1.75rem;
    font-weight: 500;
}

label, span.info { /* Caption */
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
}
label, span.info b { /* Caption */
    font-weight: 600;
}

