#chats {
    position: fixed;
    bottom: 0;
    right: 210px;
}

#chats .chat {
    display: inline-block;
    position: relative;
    bottom: 0;
    background-color: #444;
    color: white;
    width: 200px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

#chats .chat .name:hover {
    cursor: pointer;
}

#chats .chat span {
    padding: 5px;
    line-height: 20px;
    font-size: 11px;
}

#chats .chat .messages {
    background-color: white;
    color: gray;
    max-height: 200px;
    overflow: auto;
    border: 1px solid black;
    min-height: 3em;
    border-color: #E5E5E5 #E5E5E5 white;
}

#chats .chat .messages .message {
    padding: 5px;
    word-wrap: break-word;
}

#chats .chat .messages .message.me {
    background-color: #FFC;
}

#chats .chat .messages .message.own {
	color: blue;
}

#chats .chat .messages .message.presence {
	color: black;
	font-weight: bold;
}

#chats .chat span.cross {
    background-image: url(img/cross.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    padding: 0px;
    margin-top: 5px;
    margin-right: 2px;
    float: right;
} 

#chats .chat span.cross:hover {
    cursor: pointer;
}

#chats .chat .avatar {
    float: left;
    height: 20px;
    margin: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#chats .chat .messages .message.me span.date {
    color: #444;
}

#chats .chat textarea {
    width: 194px;
    border: 1px solid #444;
    padding: 2px;
    overflow: auto;
    border-bottom: 0px;
    background-color: white;
    height: 1.2em;
    resize: none;
    border-top: 0px;
}

#chats .chat:hover textarea {
    display: block;
}

#chats .chat .messages .message span.date {
    float: right;
    color: #ccc;
    padding: 2px;
    line-height: 1em;
}
