.fadeDown {
    position: relative;

    -webkit-animation: fadeIn 1s ease-in-out, dropDown 1s ease-in-out;
       -moz-animation: fadeIn 1s ease-in-out, dropDown 1s ease-in-out;
        -ms-animation: fadeIn 1s ease-in-out, dropDown 1s ease-in-out;
         -o-animation: fadeIn 1s ease-in-out, dropDown 1s ease-in-out;
            animation: fadeIn 1s ease-in-out, dropDown 1s ease-in-out;
}

@keyframes dropRight{
    0%{
        transform: translateX(10em);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-ms-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes dropDown {
    from { top: -30px; }
      to { top: 0px; }
}

@-moz-keyframes dropDown {
    from { top: -30px; }
      to { top: 0px; }
}

@-ms-keyframes dropDown {
    from { top: -30px; }
      to { top: 0px; }
}


@keyframes colorful {
    0% { background-color: #3C7E91; }
    20% { background-color: #452B72; }
    40% { background-color: #DA8D31; }
    60% { background-color: #839824; }
    80% { background-color: #294265; }
    100% { background-color: #3C7E91; }
}
@-webkit-keyframes colorful {
    0% { background-color: #3C7E91; }
    20% { background-color: #452B72; }
    40% { background-color: #DA8D31; }
    60% { background-color: #839824; }
    80% { background-color: #294265; }
    100% { background-color: #3C7E91; }
}



@media screen and (max-width: 1024px) {
.fadeDown {
    -webkit-animation: none;
       -moz-animation: none;
        -ms-animation: none;
         -o-animation: none;
            animation: none;
}

@keyframes colorful {
    0% { background-color: #3C7E91; }
}

@-webkit-keyframes colorful {
    0% { background-color: #3C7E91; }
}

}
