form * {
    margin: 0px;
    padding: 0px;
    float: none;
}

fieldset {
    border: none;
    margin-top: 20px;
    border-top: 1px solid #DCDCDC;
}

legend {
    float: left;
    position: relative;
    top: -25px;
    clear: both;
}

form .element:nth-child(2) {
    clear: both;
}

form .element {
    overflow: auto;
    min-height: 80px;
    width: 50%;
    float: left;
}

form .element.large {
    width: 100%;
}

form .element > label {
    display: block;
}

form .element > *:not(label):not(img) {
    display: block;
    width: 90%;
    border: 1px solid #999;
    min-height: 30px;
    border-radius: 4px;
    background-color: white;
    box-shadow: inset 0 2px 1px #ddd;
    margin: 5px 0px;
    margin-right: 5px;
    padding-left: 5px;
}

form .element > *:not(label):not(img):focus {
    border: 1px solid gray;
    box-shadow: inset 0 2px 2px #bbb;
    outline: none;
    background-color: white;
}

form .element textarea, textarea {
    padding: 10px 0px;
    resize: vertical;
    background-color: white;
}

form .element .select {
    box-shadow: 0 1px 1px #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #888;
    padding: 0px;
    height: 20px;
    position: relative;
    overflow: hidden;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
    background-size: 100% 100%;
}

form .element .select:hover {
    box-shadow: 0px 1px 1px #ccc;
    border: 1px solid gray;
}

form .element .select select {
    width: 120%;
    background-color: transparent;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    height: 30px;
}

form .element .select:before {
    content: "▶";
    font: 11px sans-serif;
    font-weight: bold;
    color: #444;
    right: 0px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    padding: 8px;
    position: absolute;
    display: block;
}

form .element .select select option {
    height: 20px;
    padding: 5px;
}

input[type=submit], input[type=reset], input[type=button], .button, .button:link, .button:visited {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 0 1px 1px #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #888;
    padding: 0px 10px;
    position: relative;
    overflow: hidden;
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
    background-size: 100% 100%;
}

input:hover[type=submit], input[type=reset]:hover, input[type=button]:hover, .button:hover {
    box-shadow: 0px 1px 1px #ccc;
    border: 1px solid gray;
    cursor: pointer;
}

.button.icon {
    padding-left: 35px;
    background-repeat: no-repeat;
    line-height: 28px;
    position: relative;
    overflow: hidden;
}

.button.icon:before {
    content: "✘";
    font: 14px sans-serif;
    font-weight: bold;
    color: #444;
    left: 0px;
    padding: 5px 10px;
    position: absolute;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    min-width: 10px;
    min-height: 10px;
}

.button.merged {
    border-radius: 0px;
    border-left: none;
}

.button.merged.left {
    border-radius: 4px 0px 0px 4px;
    border-left: 1px solid #999;
}

.button.merged.right {
    border-radius: 0px 4px 4px 0px;
}

.icon.yes:before { content: "✔"; padding: 6px 10px;}
.icon.no:before { content: "✘"; padding: 6px 10px; }
.icon.bubble { background-image: url(../img/icons/comments_icon.png); }
.icon.bubbleadd { background-image: url(../img/icons/comments_add.png); }
.icon.bubbleold { background-image: url(../img/icons/comments_show.png); }
.icon.follow:before { content:"⇒" }
.icon.chat:before { background-image: url(../img/icons/chat_icon.png); content:"";}
.icon.add:before { content: "+"; }
.icon.rm { background-image: url(../img/icons/rm_icon.png); }
.icon.submit:before { content: "▼"; }
.icon.loading:before { content: "◕"; }
.icon.next:before { content: "→"; }
.tiny.icon.loading:before { padding: 4px 7px; }

.tiny.icon {
    font-size: 11px;
    line-height: 22px;
    padding-left: 23px;
}

.tiny.icon:before { 
    padding: 5px 6px;
    font-size: 11px; 
}
