form * {
    margin: 0px;
    padding: 0px;
    float: none;
}

form p {
    clear: both;
}

fieldset {
    border: none;
    margin-bottom: 2em !important;
}

legend {
    float: left;
    position: relative;
    top: -0.5em;
    clear: both;
    display: block;
    width: 51%;
    border-bottom: 1px solid rgb(220, 220, 220) !important;
    line-height: 3em !important;
    text-transform:uppercase;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}


.element {
    overflow: auto;
    min-height: 6em;
    width: 50%;
    padding-right: 2%;
    float: left;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    overflow-y: hidden;
}

.element.large {
    width: 100%;
    padding-right: 0px;
}

.element.thin {
    width: 25%;
}

.element.mini {
    min-height: 0;
}

.element > input,
.element > textarea,
.element > .select {
    display: inline-block;
    width: 100%;
    border: 1px solid #DDD;
    min-height: 2em;
    border-radius: 0.1em;
    background-color: white;
    margin: 0;
    padding: 0% 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.element.mini > input {
    min-height: 2em;
    margin-bottom: 0.5em;
}

.element > label {
    display: block;
    margin: 1em 0px;
    font-weight: bold;
}


.element > *:not(label):not(img):focus {
    border: 1px solid gray;
    outline: none;
    background-color: white;
}

.element > *:not(label):not(img):invalid {
    box-shadow: none !important;
    color: red;
}

.element > textarea, textarea {
    font-family: OpenSans-Reg;
    resize: vertical;
    background-color: white;
    overflow-y: hidden;
    font-size: 1em;
}

/* Select input CSS */
.element .select {
    position: relative;
    padding: 0px;
    overflow: hidden;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
    background-size: 100% 100%;
    
    height: 2em;
}

.element .select select {
    width: 130%;
    background-color: transparent;
    display: block;
    padding-top: 0.3em;
    padding-left: 0.3em;
    height: 2em;
}

.element .select:before {
    pointer-events: none;
    content: "▼";
    font: 11px sans-serif;
    font-weight: bold;
    right: 0.3em;
    color: #444;
    padding: 0.6em;
    position: absolute;
    display: block;
}

.element .select select option {
    height: 1em;
    padding: 0.4em;
}

/* Radio button */

.element input[type="radio"] {
    display: none;
}

.element input[type="radio"] + label {
    float: left;
    width: 18%;
    margin-right: 2%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.element input[type="radio"] + label:hover {
    cursor: pointer;
}

.element input[type="radio"]:checked + label span {

}

.element input[type="radio"] + label .preview {
    border: 2px solid gray;
    width: 100;
    height: 5em;
    border-radius: 0.1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.element input[type="radio"]:checked + label .preview {
    border-color: #6FCC43;
}

/* Checkbox element */

.checkbox > input[type="checkbox"] {
    display: none;
}

.checkbox {
    width: 6em;
    max-width: 6em;

    overflow: hidden;
    position: relative;

    height: 2em;
    border-radius: 0.1em;
    background-color: white;

    border: 1px solid #DDD;
}

.checkbox:after {
    content: 'NO';

    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 2em;
    height: 2em;
    width: 3em;
    text-align: center;
    
    color: white;
    background-color: #D92727;

    font-weight: bold;
}

.checkbox:before {
    content: 'YES';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 2em;
    height: 2em;
    width: 3em;
    background-color: #333;
    text-align: center;
    color: white;
    font-weight: bold;
}

.checkbox > input[type="checkbox"] + label {
    display: block;
    width: 3.3em;
    height: 2em;
    
    transition: left 0.5s ease;

    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    
    border-left: none;

    background-color: white;
}

.checkbox > input[type="checkbox"]:checked + label {
    left: 2.8em;
    border-right: none;
}

/* Buttons */

.button {
    border-radius: 0.1em;
    border: 1px solid transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0.7em;
    text-decoration: none;
    
    min-height: 2em;
    min-width: 2em;
    
    line-height: 2em;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: inline-block;
    
    max-width: 100%;

    font-size: 1em;
    line-height: 2em;
    
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
/*
.icon:before {
    content: " ";
    padding-left: 1em;
    background-position: center center;
    background-size: 1em 1em;
    background-repeat: no-repeat;
    margin-right: 0.5em;
}
*/
.button.alone:before {
    margin-right: 0;
}

.button:hover {
    cursor: pointer;
    margin-top: -1px;
    margin-bottom: 1px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.button:active {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.button.black {
    border: 1px solid #555;
    color: white;
}

.button.color {
    color: white;
    background-color: #4C5A61;
}

.button.oppose {
    float: right;
}

.button.color.red { background-color: #D92727; }
.button.color.blue { background-color: #0DB8B5; }
.button.color.green { background-color: #6FCC43; }
.button.color.yellow { background-color: #DEC41C; }
.button.color.orange { background-color: #FC8F12; }
.button.color.purple { background-color: #442178; }
.button.color.transparent { background-color: rgba(0,0,0,0.1); }

.button.merged {
    border-radius: 0px;
}

.button.merged.left {
    border-radius: 0.1em 0px 0px 0.1em;
    border-right: none;
}

.button.merged.right {
    border-radius: 0px 0.1em 0.1em 0px;
}

.button.inactive {
    pointer-events:none;
    opacity: 0.5;
}
/*
.icon.yes:before    { background-image: url(../img/icons/button/checkmark.svg); }
.icon.no:before     { background-image: url(../img/icons/button/close.svg); }
.icon.chat:before   { background-image: url(../img/icons/button/bubbles.svg);}
.icon.image:before  { background-image: url(../img/icons/button/image.svg);}
.icon.images:before { background-image: url(../img/icons/button/images.svg);}
.icon.add:before    { background-image: url(../img/icons/button/plus.svg); }
.icon.rm:before     { background-image: url(../img/icons/button/minus.svg); }
.icon.write:before  { background-image: url(../img/icons/button/pencil.svg); }
.icon.help:before   { background-image: url(../img/icons/button/support.svg); }
.icon.upload:before { background-image: url(../img/icons/button/upload.svg); }
.icon.search:before { background-image: url(../img/icons/button/search.svg); }
.icon.refresh:before{ background-image: url(../img/icons/button/loop.svg); }
.icon.blog:before   { background-image: url(../img/icons/button/quill.svg); }
.icon.feed:before   { background-image: url(../img/icons/button/feed.svg); }
.icon.back:before   { background-image: url(../img/icons/button/arrow-left.svg); }
.icon.next:before   { background-image: url(../img/icons/button/arrow-right.svg); }
.icon.geo:before    { background-image: url(../img/icons/button/location.svg); }
.icon.preview:before{ background-image: url(../img/icons/button/eye.svg); }
.icon.share:before  { background-image: url(../img/icons/button/share.svg); }
.icon.mail:before   { background-image: url(../img/icons/button/envelope.svg); }
.icon.tag:before    { background-image: url(../img/icons/button/tag.svg); }
.icon.users:before  { background-image: url(../img/icons/button/users.svg); }
.icon.loading:before{ background-image: url(../img/icons/button/loop.svg); }
.icon.user:before   { background-image: url(../img/icons/button/user.svg); }
.icon.link:before   { background-image: url(../img/icons/button/link.svg); }
.icon.call:before   { background-image: url(../img/icons/button/call.svg); }
.icon.hang-up:before{ background-image: url(../img/icons/button/hang-up.svg); }
.icon.expand:before { background-image: url(../img/icons/button/expand.svg); }
.icon.gear:before   { background-image: url(../img/icons/button/gear.svg); }
.icon.contract:before{ background-image: url(../img/icons/button/contract.svg); }

.icon.skype:before{ background-image: url(../img/icons/button/skype.svg); }
.icon.twitter:before{ background-image: url(../img/icons/button/twitter.svg); }
.icon.yahoo:before{ background-image: url(../img/icons/button/yahoo.svg); }

.icon.camera:before{ background-image: url(../img/icons/button/camera.svg); }
.icon.camera-off:before{ background-image: url(../img/icons/button/camera-off.svg); }
.icon.microphone:before{ background-image: url(../img/icons/button/microphone.svg); }
.icon.microphone-off:before{ background-image: url(../img/icons/button/microphone-off.svg); }
*/
