form * {
    margin: 0px;
    padding: 0px;
    float: none;
}

fieldset {
    border: none;
    margin-top: 20px;
    /*border-top: 1px solid #DCDCDC;*/
}

legend {
    float: left;
    position: relative;
    top: -12px;
    clear: both;
    display: block;
    width: 51%;
    border-bottom: 1px solid rgb(220, 220, 220) !important;
    line-height: 2em !important;
}

form .element:nth-child(2) {
    clear: both;
}

.element {
    overflow: auto;
    min-height: 80px;
    width: 50%;
    float: left;
}

.element.large {
    width: 100%;
}

.element > label {
    display: block;
}

.element > *:not(label):not(img) {
    display: block;
    width: 90%;
    border: 1px solid #999;
    min-height: 30px;
    border-radius: 2px;
    background-color: white;
    box-shadow: inset 0 2px 1px #ddd;
    margin: 5px 0px;
    margin-right: 5px;
    padding-left: 5px;
}

.element > *:not(label):not(img):focus {
    border: 1px solid gray;
    box-shadow: inset 0 2px 2px #bbb;
    outline: none;
    background-color: white;
}

.element textarea, textarea {
    padding: 10px 0px;
    resize: vertical;
    background-color: white;
}

.element .select {
    box-shadow: 0 1px 0px #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #888;
    padding: 0px;
    height: 20px;
    position: relative;
    overflow: hidden;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
    background-size: 100% 100%;
}

.element .select:hover {
    box-shadow: 0px 1px 0px #ccc;
    border: 1px solid gray;
}

.element .select select {
    width: 120%;
    background-color: transparent;
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    height: 30px;
}

.element .select:before {
    pointer-events:none;
    content: "▶";
    font: 11px sans-serif;
    font-weight: bold;
    color: #444;
    right: 0px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    padding: 8px;
    position: absolute;
    display: block;
}

.element .select select option {
    height: 20px;
    padding: 5px;
}

.element .checkbox {
	width: 80px;
	height: 26px;

    overflow: hidden;
	position: relative;

    border: 1px solid #999;
    min-height: 30px;
    border-radius: 2px;
    background-color: white;
    box-shadow: inset 0 10px 10px #ddd;
}

.element input[type=checkbox] {
	visibility: hidden;
}

.element .checkbox:after {
	content: 'NO';

    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 30px;
    height: 30px;
    width: 38px;
    text-align: center;
    
    color: white;
    background-color: #E43626;

	font-weight: bold;
	text-shadow: 0px -1px 0px #6E160D;
    
    box-shadow: inset 0 10px 10px #5C1C16;
}

.element .checkbox:before {
	content: 'YES';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 30px;
    height: 30px;
    width: 44px;
    background-color: #333;
    text-align: center;

    color: white;
	font-weight: bold;
	text-shadow: 0px -1px 0px #000;
    
    box-shadow: inset 0 10px 10px #000;
}

.element .checkbox label[for=checkbox] {
	display: block;
	width: 48px;
	height: 30px;

	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
    
    border-left: none;
    border-right: 1px solid #888;

    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
}

.element .checkbox input[type=checkbox]:checked + label {
	left: 43px;
    border-right: none;
    border-left: 1px solid #888;
}

input[type=submit], input[type=reset], input[type=button], .button, .button:link, .button:visited {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 2px;
    box-shadow: 0 1px 0px #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #888;
    padding: 0px 10px;
    position: relative;
    overflow: hidden;
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 1px);
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 1px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 1px);
    background-color: white;
    background-size: 100% 100%;
}

input:hover[type=submit], input[type=reset]:hover, input[type=button]:hover, .button:hover {
    box-shadow: 0px 1px 0px #ccc;
    border: 1px solid gray;
    cursor: pointer;
}

form .element input:invalid {
    border: 1px solid red;
    box-shadow: inset 0 2px 1px rgba(200, 0, 0, 0.4);
    color: #B70000;
}

form .element.simple > *:not(label):not(img),
form .element.simple > *:not(label):not(img):focus {
    border: 0px;
    box-shadow: none;
    padding: 3px 0px;
    font-weight: bold;
    background-color: transparent;
}

.button.icon {
    padding-left: 35px;
    background-repeat: no-repeat;
    line-height: 28px;
    position: relative;
    overflow: hidden;
}

.button.icon:before {
    content: "✘";
    font: 14px sans-serif;
    font-weight: bold;
    color: #444;
    left: 0px;
    padding: 5px 10px;
    position: absolute;
    background-position: 6px 6px;
    background-repeat: no-repeat;
    min-width: 10px;
    min-height: 10px;
}

.button.merged {
    border-radius: 0px;
    border-left: none;
}

.button.merged.left {
    border-radius: 2px 0px 0px 2px;
    border-left: 1px solid #999;
}

.button.merged.right {
    border-radius: 0px 2px 2px 0px;
}

.icon.yes:before { content: "✔"; padding: 6px 10px;}
.icon.no:before { content: "✘"; padding: 6px 10px; }
.icon.bubble { background-image: url(../img/icons/comments_icon.png); }
.icon.bubbleadd { background-image: url(../img/icons/comments_add.png); }
.icon.bubbleold { background-image: url(../img/icons/comments_show.png); }
.icon.follow:before { content:"⇒" }
.icon.chat:before { background-image: url(../img/icons/chat_icon.png); content:"";}
.icon.add:before { content: "+"; }
.icon.rm:before { content:"—"; }
.icon.submit:before { content: "▼"; }
.icon.loading:before { content: "◕"; }
.icon.next:before { content: "→"; }
.icon.feed:before { content: "≡"; }
.icon.back:before { content: "←"; }
.icon.next:before { content: "→"; }
.tiny.icon.loading:before { padding: 4px 7px; }

.button.tiny {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tiny.icon {
    font-size: 11px;
    line-height: 22px;
    padding-left: 23px;
}

.tiny.icon:before { 
    padding: 5px 6px;
    font-size: 11px; 
}
