form * {
    margin: 0px;
    padding: 0px;
    float: none;
}

form p {
    clear: both;
}

fieldset {
    border: none;
    margin-bottom: 2em !important;
}

legend {
    float: left;
    position: relative;
    top: -0.5em;
    clear: both;
    display: block;
    width: 51%;
    border-bottom: 1px solid rgb(220, 220, 220) !important;
    line-height: 2em !important;
}

.element {
    overflow: auto;
    min-height: 6em;
    width: 50%;
    padding-right: 2%;
    float: left;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    
    overflow-y: hidden;
}

.element.large {
    width: 100%;
    padding-right: 0px;
}

.element.thin {
    width: 25%;
}

.element.mini {
    min-height: 0px;
}

.element.mini > input {
    min-height: 2em;
    margin-bottom: 0.5em;
}

.element > label {
    display: block;
    margin: 1em 0px;
}

.element > *:not(label):not(img):not(span):not(a) {
    display: inline-block;
    width: 100%;
    border: 1px solid #999;
    min-height: 2em;
    border-radius: 1px;
    background-color: white;
    box-shadow: inset 0 2px 1px #ddd;
    margin: 0px;
    padding: 0% 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.element > *:not(label):not(img):focus {
    border: 1px solid gray;
    box-shadow: inset 0 2px 2px #bbb;
    outline: none;
    background-color: white;
}


form .element.simple > *:not(label):not(img),
form .element.simple > *:not(label):not(img):focus {
    border: 0px;
    box-shadow: none;
    padding: 3px 0px;
    font-weight: bold;
    background-color: transparent;
}

.element > textarea, textarea {
	font-family: helvetica, sans-serif, Helvetica, "lucida grande",tahoma,verdana,arial,sans-serif;
    /*font-size: 13px;*/
    padding: 0px;
    resize: vertical;
    background-color: white;
}

/* Select input CSS */
.element .select {
    box-shadow: 0 1px 0px #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #888;
    padding: 0px;
    height: 20px;
    position: relative;
    overflow: hidden;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
    background-size: 100% 100%;
}

.element .select:hover {
    box-shadow: 0px 1px 0px #ccc;
    border: 1px solid gray;
}

.element .select select {
    width: 120%;
    background-color: transparent;
    display: block;
    padding-top: 0.3em;
    padding-left: 0.3em;
    height: 2em;
}

.element .select:before {
    pointer-events: none;
    content: "▼";
    font: 11px sans-serif;
    font-weight: bold;
    color: #444;
    right: 0px;
    padding: 8px;
    position: absolute;
    display: block;
}

.element .select select option {
    height: 1em;
    padding: 0.4em;
}

/* Radio button */

.element input[type="radio"] {
    display: none;
}

.element input[type="radio"] + label {
    float: left;
    width: 46%;
    margin-right: 3%;
}

.element input[type="radio"] + label:hover {
    cursor: pointer;
}

.element input[type="radio"]:checked + label span {

}

.element input[type="radio"] + label .preview {
    border: 2px solid gray;
    width: 100;
    height: 5em;
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.element input[type="radio"]:checked + label .preview {
    border-color: green;
}

/* Checkbox element */

.element .checkbox {
	width: 80px;
	height: 26px;

    overflow: hidden;
	position: relative;

    border: 1px solid #999;
    min-height: 30px;
    border-radius: 2px;
    background-color: white;
    box-shadow: inset 0 10px 10px #ddd;
}

.element input[type=checkbox] {
	/*visibility: hidden;*/
}

.element .checkbox:after {
	content: 'NO';

    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 30px;
    height: 30px;
    width: 40px;
    text-align: center;
    
    color: white;
    background-color: #E43626;

	font-weight: bold;
	text-shadow: 0px -1px 0px #6E160D;
    
    box-shadow: inset 0 10px 10px #5C1C16;
}

.element .checkbox:before {
	content: 'YES';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 30px;
    height: 30px;
    width: 40px;
    background-color: #333;
    text-align: center;

    color: white;
	font-weight: bold;
	text-shadow: 0px -1px 0px #000;
    
    box-shadow: inset 0 10px 10px #000;
}

.element .checkbox label[for=checkbox] {
	display: block;
	width: 44px;
	height: 30px;

	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
    
    border-left: none;
    border-right: 1px solid #888;

    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 2px);
    background-color: white;
}

.element .checkbox input[type=checkbox]:checked + label {
	left: 37px;
    border-right: none;
    border-left: 1px solid #888;
}

/* Buttons */
input[type=submit], input[type=reset], input[type=button], .button, .button:link, .button:visited {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 2px;
    box-shadow: 0 1px 0px #ddd;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #888;
    position: relative;
    overflow: hidden;
    background-image: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 1px);
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 1px);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.04) 1px);
    background-color: white;
    background-size: 100% 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    padding-right: 1em;
    height: 2em;
    line-height: 1.9em;
}

input:hover[type=submit], input[type=reset]:hover, input[type=button]:hover, .button:hover {
    box-shadow: 0px 1px 0px #ccc;
    border: 1px solid gray;
    cursor: pointer;
}

form .element input:invalid {
    border: 1px solid red;
    box-shadow: inset 0 2px 1px rgba(200, 0, 0, 0.4);
    color: #B70000;
}

.button.icon {
    background-repeat: no-repeat;
    padding-left: 2.5em;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

/* Button loading */
.button.icon.loading {
    background-image: url(../img/loader.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto auto;
    color: transparent;
    border: 1px transparent;
    background-color: transparent;
    box-shadow: none;
}

.button.icon.loading:hover {
    cursor: default;
}

.button.icon.loading:before {
    content: "";
}

.button.icon:before {
    content: "";
    font: 1em sans-serif;
    font-weight: bold;
    color: #444;
    left: 0px;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px 0.7em;
    line-height: 2em;
    min-height: 2em;
    min-width: 10px;
}

/* Button tiny */
.button.tiny {
    white-space: nowrap;
    line-height: 2em;
    padding-left: 1em;
    height: 2em;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button.tiny.icon {
    padding-left: 2.5em;
}

.button.tiny.icon.alone {
    padding-left: 1em;
}

.button.tiny.icon:before {
    line-height: 1.9em;
}

/* Button merged */
.button.merged {
    border-radius: 0px;
    border-left: none;
}

.button.merged.left:not(.loading) {
    border-radius: 2px 0px 0px 2px;
    border-left: 1px solid #999;
}

.button.merged.right:not(.loading) {
    border-radius: 0px 2px 2px 0px;
}

.button.black, .button.merged.left.black {
    box-shadow: none;
    background-color: #333;
    color: #BBB;
    border-color: #444;
}

.icon.yes:before    { background-image: url(../img/icons/button/checkmark.png); }
.icon.no:before     { background-image: url(../img/icons/button/close.png); }
.icon.bubble        { background-image: url(../img/icons/comments_icon.png); }
.icon.bubbleadd     { background-image: url(../img/icons/comments_add.png); }
.icon.bubbleold     { background-image: url(../img/icons/comments_show.png); }
.icon.follow:before { content:"⇒" }
.icon.chat:before   { background-image: url(../img/icons/button/comment.png);}
.icon.image:before  { background-image: url(../img/icons/button/image.png);}
.icon.add:before    { content: "+"; }
.icon.rm:before     { content: "–"; }
.icon.write:before  { background-image: url(../img/icons/button/pencil.png); }
.icon.help:before   { background-image: url(../img/icons/button/support.png); }
.icon.submit:before { content: "▼"; }
.icon.upload:before { content: "▲"; }
.icon.next:before   { content: "→"; }
.icon.refresh:before{ background-image: url(../img/icons/button/loop.png); }
.icon.blog:before   { background-image: url(../img/icons/button/quill.png); }
.icon.feed:before   { background-image: url(../img/icons/button/feed.png); }
.icon.back:before   { background-image: url(../img/icons/button/arrow-left.png); }
.icon.next:before   { background-image: url(../img/icons/button/arrow-right.png); }
.icon.geo:before    { background-image: url(../img/icons/button/location.png); }
.icon.preview:before{ background-image: url(../img/icons/button/eye.png); }
.icon.tag:before    { background-image: url(../img/icons/button/tag.png); }
.icon.users:before  { background-image: url(../img/icons/users.png); }
.tiny.icon.loading:before { padding: 4px 7px; }
