#connect_form
{
	width: auto;
	margin: 0 auto;
	margin-top: -5px;
	padding: 9em 0.5em;
    font-size: 17px;
    background-repeat: no-repeat;
    background-image: url(../img/bee.png);
    background-position: center center;
}

#connect_form form
{
	margin: 0 auto;
	text-align: center;
/*    background-color: rgba(255,255,255, 0.6);*/
    padding: 0.5em;
}

#connect_form input
{
    margin: 5px;
}
