@media screen and (max-width: 1024px) {

body {
    background-image: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.5s ease;
    overflow-x: hidden;
}

body.roster {
    left: -100%;
}

body.infos {
    left: 100%;
}

.on_mobile {
    display: inherit;
}

#right {
    width: 100%;
    padding: 0px;
    background-image: none;
    position: absolute;
    top: 0;
    left: 100%;
}

#right:after {
    display: none;
}

#main {
    clear: both;
    padding-right: 0px;
    overflow-x: hidden;
}

#left {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #272727;
    padding-bottom: 6em;
    margin-top: 3em;
}

#center {
    margin: 0;
    margin-top: 3em;
    width: 100%;
    padding: 0;
    left: 0;
}

#content {
    width: 100%;
    margin: 0;
}

#chats {
    display: none;
}

nav {
    position: fixed;
    z-index: 3;
}

nav .menu {
    width: 100%;
    position: relative;
    background-image: none;
}

nav .menu li a,
nav .menu li a.main,
nav .menu li a.main.active {
    opacity: 1;
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

/* A little hack for iOS devices */
span.mobile {
    display: none !important;
}

nav .menu li a.disconnect {
    position: fixed;
    top: 0px;
    right: 0px;
}

table#feedsubmitform {
    margin: 0 1em;
}

.element {
    width: 100%;
}

.element.thin {
    width: 50%;
}

.posthead {
    padding: 1em;
}

.post {
    padding: 1em 1em;
}

.post .avatar {
    margin-right: 1em;
}

.post .postbubble {
    margin-left: 0px;
    width: 100%;
}
/*
.post .content .img {
    max-width: 42%;
    padding: 2px;
}
*/
.post .older {
    margin-right: 0px;
}

#feed #feedcontent {
    padding-top: 0px !important;
}

.post .postbubble:before {
    display: none;
}

.menu li a:not(.button), .menu li a:hover,
.menu li a.active, .menu li a.active:hover,
.menu li label, .menu li label:hover {
    width: 0px;
    color: transparent;
    white-space: nowrap;
    background-position: center center;
}

.menu li a.main, .menu li a.active.main {
    background-image: url(../img/icons/menu/home.png);
    background-position: center center;
}

.menu li + a.disconnect{
    position: absolute;
    top: 3px;
    right: 0px;
}

#loginpage {
    margin-top: 20% ! important;
    background-position: center 0em !important;
}

#rostermenu {
    width: 100% !important;
}

#logouttab, #logoutlist {
    right: 0px !important;
    width: 3em !important;
}

ul.thumb li {
    width: 33.33%;
}

#notifslist, #notifstab {
    top: 3em !important;
}

#notifslist, #logoutlist {
    width: 100% !important;
}

#logouttab {
    width: 0em !important;
    color: transparent !important;
    background-position: center center !important;
}

#logoutlist a {
    margin-left: 1em !important;
}

#roster input[name=search] {
    top: 3em !important;
}

.popup {
    width: 100%;
    left: 0%;
}

.popup .menu {
    width: 100%;
    left: 0%;
}

#contactsummary img.avatar,
#profile img {
    width: 25% !important;
    height: auto !important;
    margin: 0 !important;
    float: right;
    margin-left: 1em;
}

#notifslist {
    margin: 0 !important;
    margin-top: 3em !important;
}

}

@media screen and (max-width: 640px) {
    ul.thumb li {
        width: 50%;
    }
}
