@media screen and (max-width: 1024px) {

body {
    background-image: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 3em;
}

h1 {
    padding: 0.3em;
}

#head {
    width: 100%;
    font-size: 0.9em;
    overflow: visible;
}

#head .block {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    min-height: 0px;
    max-width: auto;
}

#head .block.avatar img {
    width: 80px;
    height: 80px;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
    margin-bottom: -3px;
}

#head .block .textbubble, #left, #chats, #logout, #notifstab {
    display: none;
}

#right {
    width: 100%;
    padding: 0px;
    margin-top: 38px;
}

#main {
    clear: both;
}
#center {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

#content {
    width: 100%;
    margin: 0px;
}

#nav {
    position: fixed;
}

#nav .menu {
    width: 100%;
    position: relative;
    background-image: none;
}

#nav .menu li a.main {
    opacity: 1;
    width: 0em;
}

#nav .menu li a.disconnect {
    position: fixed;
    top: 0px;
    right: 0px;
}

.element {
    width: 100%;
}

.element.thin {
    width: 50%;
}

.posthead {
    padding: 0.2em;
}

.post {
    padding: 1em 0.2em;
}

.post .avatar {
    display: none;
}

.post .postbubble {
    margin-left: 0px;
    width: 100%;
}

.post .content .img {
    max-width: 42%;
    padding: 2px;
}

.post .older {
    margin-right: 0px;
}

#feed #feedcontent {
    padding-top: 0px !important;
}

#feed table#feedsubmitform {
    margin: 0.5em 0.3em !important;
}

.filters {
    padding: 0em;
}

#footer {
    font-size: 0.85em;
    background-color: black;
}

.post .postbubble:before {
    display: none;
}

.menu li a:not(.button), .menu li a:hover,
.menu li a.active, .menu li a.active:hover,
.menu li label, .menu li label:hover {
    width: 0px;
    color: transparent;
    white-space: nowrap;
    background-position: center center;
}

.menu li a.main, .menu li a.active.main {
    background-image: url(../img/icons/menu/home.png);
    background-position: center center;
}

.menu li + a.disconnect{
    position: absolute;
    top: 3px;
    right: 0px;
}

#loginpage {
    margin-top: 5% ! important;
}

#rostermenu {
    width: 100% !important;
}

}
