@media screen and (max-width: 1024px) {

body {
    background-image: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

h1 {
    padding: 0.3em;
}

#right {
    width: 100%;
    padding: 0px;
    margin-top: 3em;
}

#main {
    clear: both;
    padding-right: 0px;
}

#left {
    display: none;
}

#center {
    margin: 0px;
    margin-top: 3em;
    width: 100%;
    padding: 0px;
    left: 0px;
}

#content {
    width: 100%;
    margin: 0px;
}

nav {
    position: fixed;
}

nav .menu {
    width: 100%;
    position: relative;
    background-image: none;
}

nav .menu li a.main,
nav .menu li a.main.active {
    opacity: 1;
    width: 0em;
}

nav .menu li a.disconnect {
    position: fixed;
    top: 0px;
    right: 0px;
}

.element {
    width: 100%;
}

.element.thin {
    width: 50%;
}

.posthead {
    padding: 1em;
}

.post {
    padding: 1em 1em;
}

.post .avatar {
    display: none;
}

.post .postbubble {
    margin-left: 0px;
    width: 100%;
}

.post .content .img {
    max-width: 42%;
    padding: 2px;
}

.post .older {
    margin-right: 0px;
}

#feed #feedcontent {
    padding-top: 0px !important;
}

.post .postbubble:before {
    display: none;
}

.menu li a:not(.button), .menu li a:hover,
.menu li a.active, .menu li a.active:hover,
.menu li label, .menu li label:hover {
    width: 0px;
    color: transparent;
    white-space: nowrap;
    background-position: center center;
}

.menu li a.main, .menu li a.active.main {
    background-image: url(../img/icons/menu/home.png);
    background-position: center center;
}

.menu li + a.disconnect{
    position: absolute;
    top: 3px;
    right: 0px;
}

#loginpage {
    margin-top: 5% ! important;
}

#rostermenu {
    width: 100% !important;
}

#logouttab, #logoutlist {
    right: 0px !important;
    width: 3em !important;
}

ul.thumb li {
    width: 33.33%;
}

#notifslist, #notifstab {
    top: 3em !important;
}

#notifslist {
    width: 100% !important;
}

}

@media screen and (max-width: 640px) {
    ul.thumb li {
        width: 50%;
    }
}
