@media screen and (max-width: 1024px) {

body {
    background-image: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#head {
    width: 100%;
    height: 150px;
    position: relative;
}

#head .block {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    min-height: auto;
    max-width: auto;

}

#head .block.avatar img {
    width: 80px;
    height: 80px;
    margin: 0px;
    margin-right: 5px;
}

#head .block .textbubble, #left, #right, #chats, #logout {
    display: none;
}

#main {
    clear: both;
}
#center {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

#content {
    width: 100%;
    margin: 0px;
}

#nav {
    position: relative;
}

#nav .menu {
    width: 100%;
    position: relative;
    background-image: none;
}

#nav .menu li:first-child {
    opacity: 1;
    width: auto;
}

#nav .menu li:last-child {
    background-image: none;
    position: relative;
    top: 0px;
}

.element {
    width: 100%;
}

}
