/* The navigation bar */

nav {
    margin: 0;
    padding: 0;
    text-decoration: none;

    width: 100%;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    /* Default behaviour for the background-color */
    background-color: #4C5A61;
	animation: 200s infinite colorful;
    -webkit-animation: 200s infinite colorful;
}

.menu {
    height: 3em;
    overflow: hidden;
    margin: 0 auto;
    list-style-type: none;
}

.menu li {
    display: block;
    float: left;
}

.menu li a, .menu li label {
    padding: 1em;
    line-height: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.menu li a.root {
    width: 12rem;
    color: transparent;
    background: url(../img/logo.svg) no-repeat center center;
    height: 3em;
    padding: 0;
    display: block;
}

.menu li a:not(.active):hover, .menu li label:hover {
    cursor: pointer;
    opacity: 0.9;
}

.menu li a.active {
    opacity: 1;  
}
.menu li a, .menu li label {
    display: inline-block;
    line-height: 0;
    padding: 1.5em;
    text-indent: 2em;
    color: white;
    text-decoration: none;

    transition: background 1s;

    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 1em center;
    opacity: 0.5;
}

.menu li .discover,
.menu li .explore   { background-image: url(../img/icons/menu/globe.svg); }
.menu li .profile   { background-image: url(../img/icons/menu/user.svg); }
.menu li .conf      { background-image: url(../img/icons/menu/settings.svg); }
.menu li .help      { background-image: url(../img/icons/menu/support.svg); }
.menu li .disconnect{ background-image: url(../img/icons/menu/exit.svg); }
.menu li .down      { background-image: url(../img/icons/menu/list.svg); }
.menu li .up        { background-image: url(../img/icons/menu/upload.svg); }
.menu li .plus      { background-image: url(../img/icons/menu/plus.svg); }
.menu li .search    { background-image: url(../img/icons/menu/search.svg); }
.menu li .pods      { background-image: url(../img/icons/menu/net.svg); }
.menu li .users, 
.menu li .account   { background-image: url(../img/icons/menu/users.svg); }
.menu li .expand    { background-image: url(../img/icons/menu/expand.svg); }
.menu li .contract  { background-image: url(../img/icons/menu/contract.svg); }
.menu li .media     { background-image: url(../img/icons/menu/folder.svg); }
.menu li .blog      { background-image: url(../img/icons/menu/quill.svg); }
.menu li .admin     { background-image: url(../img/icons/menu/admin.svg); }
.menu li .about     { background-image: url(../img/icons/menu/info.svg); }
.menu li .news      { background-image: url(../img/icons/menu/news.svg); }

.menu li input[type=checkbox] {
    display: none;
}

ul li .tabbed {
    background-color: rgba(36, 36, 36, 1);
    position: absolute;
    bottom: 3em;
    right: -100%;
    width: 100%;
    transition: right 0.5s ease;
}

ul li .tabbed label {
    display: none;
}

ul li .tabbed .element {
    min-height: 0px;
}

ul li input[type=checkbox]:checked ~ .tabbed {
    right: 0%;
}

@media screen and (max-width: 1280px) {    
    nav .menu li a,
    nav .menu li a.root,
    nav .menu li a.root.active {
        color: transparent;
        width: 0;
        padding-left: 3em;
        padding-right: 0;
    }

    .menu li a.root, .menu li a.active.root {
        background-image: url(../img/icons/menu/home.svg);
        background-size: 16px 16px;
    }
    
@media screen and (max-width: 1024px) {
    nav {
        z-index: 3;
    }
}

