/* CSS of messages (Wall, Feed, News...) */

.post {
	border-bottom: 1px solid #ECECEC;
    width: auto;
	padding: 1.5em 1.5em;
    min-height: 50px;
}

.post:last-child {
    border-bottom: 0px;
}

.post span {
    font-weight: bold;
    line-height: 1.5em;
}

.post span.date {
    margin-left: 10px;
    font-weight: normal;
    color: #777;
}

.post span.place, .post span.recycle {
    display: inline-block;
    padding-left: 14px;
    font-weight: normal;
    margin-top: 5px;
    float: right;
    margin-left: 10px;
}

.post span.place {
    max-width: 350px;
    background: url(../img/icons/place.png) 0px 4px no-repeat;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.7em;
}

.post span.recycle {
    background: url(../img/icons/recycle.png) 0px 4px no-repeat;
}

.post .comments {
    clear: both;
	background-color: #F3F3F3;
	margin-left: 65px;
	margin-right: 5px;
	width: 80%;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.2);
	background-color: #F5F5F5;
    border: 1px solid #E2E2E2; 
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #D2D2D2;
    margin-top: 5px;
    overflow: hidden;
}

.post .comments:hover {
    cursor: pointer;
}

.post .comments .comment {
    border-bottom: 1px solid #E3E3E3;
    padding: 0.5em;
    overflow: auto;
	width: auto;
    border-bottom: 1px solid #D9D4D4;
    border-top: 1px solid #FCFAFA;
}

.post .comments .comment:first-child {
	border-top: none;
}

.post .comments .comment:last-child {
    border-bottom: none;
}

.post .comments .comment .avatar {
    margin-top: 5px;
    margin-left: 3px;
}

.post .getcomments {
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 2px;
    display: block;
    padding-left: 25px;
}

.post .avatar {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	margin-left: 0px;
	display: block;
	float: left;
    border-radius: 3px;
}

.post .avatar.tiny {
    width: 2.3em;
    margin-right: 7px;
    height: 2.3em;
}

.post .content {
    text-align: justify;
	margin-left: 65px;
	margin-right: 5px;
    margin-top: 0.3em;
}

.post .content.tiny {
    margin: 0px;
    padding: 0px;
    margin-left: 3.3em;
    margin-right: 0.5em;
    margin-top: 0.3em;
}

.post .attachment {
    display: block;
    margin-left: 65px;
    clear: both;
    margin-top: 10px;
}

.post .attachment img {
    max-width: 140px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 7px;
    border: 1px solid #CCC;
    background-color: white;
}

.post .attachment img:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transition-duration: 0.2s; 
    -webkit-transition-duration: 0.2s;   
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.post.older {
	text-align: center;
	margin: 1.5em;
	font-weight: bold;
	min-height: 0px;
	cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #666;
    background-color: #F5F5F5;
}

.post.older:hover {
    background-color: #F8F8F8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-color: #C6C6C6;
    color: #333;
}

label {
    float:left;
    text-align:right;
    width: auto;
    padding: 5px 9px 5px 9px;
}

.post table#commentsubmit {
    border-spacing: 0px;
    background-color: white;
    width: 100%;
    display: none;
}

.post table#commentsubmit td {
    padding: 5px;
    width: 100%;
}

.post table#commentsubmit textarea {
    border: 0px;
    width: 100%;
    resize: vertical;
    padding: 0px;
    height: 1.5em;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    -moz-transition-property: height;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
}

.post table#commentsubmit textarea:focus {
    /*height: 2.7em;*/
}

.post table#commentsubmit .commentsubmitrow {
    background-color: #F3F3F3;
    display: block;
    padding: 5px;
}
