/* CSS of messages (Wall, Feed, News...) */

.posthead {
    display: block;
    width: 100%;
    height: 2em;
    padding-left: 1.5em;
    padding-top: 1em;
}

.posthead:after {
    content: ""; /* Important, sinon l'élément n'est pas généré. */
    display: block;
    clear: both;
}

.post {
    width: auto;
    padding: 1em 1.5em;
    border-bottom: 1px solid #DDD;
    min-height: 4em;
    padding-top: 1.5em;
    clear: both;
}

.post .header {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    padding-right: 1.5em;
}

.post .content {
    padding: 1em;
    padding-top: 0em;
    line-height: 1.3em;
    padding-left: 0em;
    word-wrap: break-word;
    overflow: hidden;
}

.post .postbubble {
    width: 92%;
    margin-left: 5em;
    position: relative;
}

.post:last-child {
    border-bottom: 0px;
}

.post p.summary {
    margin-bottom: 1em;
    font-style:italic;
}

.post .enclosure {
    margin: 0em 1em;
    border-top: 1px solid #DDD;
    padding: 0.7em 0em 1em;
    line-height: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.post span {
    font-weight: bold;
    overflow: hidden;
    padding-right: 0.5em;
    line-height: 2em;
    display: inline-block;
}

.post span.title {
    padding-left: 0px;
    max-width: 70%;
    display: block;
    float: left;
}

.post span.fold {
    float: right;
    margin-right: 1.5em;
}

.post span a:hover {
    text-decoration: underline;
}

.post span.date, .post span.asv {
    font-weight: normal;
    color: #777;
}

.post span.delete {
    font-weight: normal;
    margin-left: 1em;
}

.post span.delete:hover {
	cursor: pointer;
}

.post span.place, .post span.recycle, .post span.group {
    display: inline-block;
    padding-left: 2em;
    font-weight: normal;
    margin-top: 0.5em;
    float: right;
    margin-left: 1em;
    padding-right: 0.5em;
    
    max-width: 300px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.post span.place {
    background: url(../img/icons/place.png) 0px 0.5em no-repeat;
}

.post span.recycle {
    background: url(../img/icons/recycle.png) 0px 0.5em no-repeat;
}

.post span.group {
    background: url(../img/icons/users.png) 0px 0.5em no-repeat;
}

.post .comments {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.post .comments:hover {
    cursor: pointer;
}

.post .comments .comment {
    line-height: 2em;
    overflow: hidden;
	width: auto;
}

.post .comments .comment:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.5);
}

.post .getcomments {
    background-repeat: no-repeat;
    background-position: 0.5em center;
}

.post .getcomments:before {
    padding: 1em;
    background-color: #FC8F12;
}

.post .addcomment:before {
    padding: 1em;
    background-color: #6FCC43;
}

.post .avatar {
	width: 50px;
	height: 50px;
	margin-left: 0px;
	display: block;
	float: left;
}

.post .avatar.tiny {
    width: 30px;
    height: 30px;
}

.post .content.tiny {
    margin: 0px;
    padding: 0px;
    margin-right: 0.5em;
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.post .content i, .post .content em { font-style: italic; }
.post .content b, .post .content strong { font-weight: bold; }
.post .content u, .post .content a { text-decoration: underline; }

.post a.imglink {
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    margin-right: 0.5em;
    margin-top: 0.5em;
    height: 0px;
}

.post a.imglink img {
    max-height: 400px;
    width: 100%;
}

.post .content img {
    max-width: 100%;
    height: auto;
    margin: 1em 0px;
}

.post .content img.smiley {
    margin: 0px;
    padding: 0px;
    border: none;
}

.post .content h1, .post .content h2, .post .content h3, .post .content h4 {
    margin-left: 0px;
    padding-left: 0px;
}
.post .content ul, .post .content ol {
    margin-left: 2em;
}

.post .older {
	text-align: center;
	min-height: 0px;
	cursor: pointer;
    border-radius: 0.1em;
    color: white;
    line-height: 4em;
    background-color: #4C5A61;
}

.post .older:hover {
    box-shadow: 0 0.3em 0em rgba(0, 0, 0, 0.2);
}

.post table#commentsubmit {
    border-spacing: 0px;
    background-color: white;
    width: 100%;
    display: none;
}

.post table#commentsubmit td {
    width: 100%;
    padding: 0px;
}

.post table#commentsubmit textarea {
    border: 0px;
    width: 100%;
    resize: none;
    padding: 0px;
    height: 1.5em;
}

.post table#commentsubmit .commentsubmitrow {
    background-color: #F3F3F3;
    display: block;
}

.post table#commentsubmit .commentsubmitrow td {
    height: rgba(0, 0, 0, 0.5);
}

.post .tools {
    border-top: 1px solid #EEE;
    padding: 0.5em 1em;
    position: relative;
    line-height: 1.5em;
}

.post .tools a:hover {
    cursor: pointer;
    text-decoration: underline;
}
