/* CSS of messages (Wall, Feed, News...) */

.posthead {
    display: block;
    width: 100%;
    min-height: 3em;
    padding-left: 1.5em;
    padding-top: 1em;
}

.posthead:after {
    content: ""; /* Important, sinon l'élément n'est pas généré. */
    display: block;
    clear: both;
}

.post {
    width: auto;
	padding: 0em 1.5em 1.5em;
    min-height: 4em;
    clear: both;
}

.post .header {
    display: block;
    overflow: auto;
    overflow-y: hidden;
    padding-right: 1.5em;
}

.post .content {
    padding: 1em;
    padding-top: 0em;
    line-height: 1.3em;
    word-wrap: break-word;
    overflow: hidden;
}

.post .postbubble {
    width: 85%;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 0px 3px rgba(0, 0, 0, 0.2);
    margin-left: 80px;
    position: relative;
    padding-top: 1em;
}

.post .postbubble:before {
    display: block;
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17px;
    left: -11px;
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.2);   
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
    
.post:last-child {
    border-bottom: 0px;
}

.post p.summary {
    margin-bottom: 1em;
    font-style:italic;
}

.post .enclosure {
    margin: 0em 1em;
    border-top: 1px solid #DDD;
    padding: 0.7em 0em 1em;
    line-height: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.post span {
    font-weight: bold;
    overflow: hidden;
    padding-left: 1em;
    line-height: 1.5em;
    display: inline-block;
}

.post span.title {
    padding-left: 0px;
    max-width: 70%;
    display: block;
    float: left;
}

.post span.fold {
    float: right;
    margin-right: 1.5em;
}

.post span a:hover {
    text-decoration: underline;
}

.post span.date, .post span.asv {
    font-weight: normal;
    color: #777;
}

.post span.delete {
    font-weight: normal;
    margin-left: 1em;
}

.post span.delete:hover {
	cursor: pointer;
}

.post span.place, .post span.recycle, .post span.group {
    display: inline-block;
    padding-left: 20px;
    font-weight: normal;
    margin-top: 0.5em;
    float: right;
    margin-left: 1em;
    padding-right: 0.5em;
    
    max-width: 300px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

.post span.place {
    background: url(../img/icons/place.png) 0px 4px no-repeat;
}

.post span.recycle {
    background: url(../img/icons/recycle.png) 0px 4px no-repeat;
}

.post span.group {
    background: url(../img/icons/users.png) 0px 3px no-repeat;
}

.post .comments {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
}

.post .comments span {
    padding-left: 0px;
}

.post .comments:hover {
    cursor: pointer;
}

.post .comments .comment {
    border-bottom: 1px solid #E3E3E3;
    padding: 0.5em;
    overflow: auto;
	width: auto;
    border-bottom: 1px solid #D9D4D4;
    border-top: 1px solid #FCFAFA;
}

.post .comments .comment:first-child {
	border-top: none;
}

.post .comments .comment:last-child {
    border-bottom: none;
}

.post .comments .comment .avatar {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.post .getcomments {
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding: 2px;
    display: block;
    padding-left: 2em;
}

.post .avatar {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	margin-left: 0px;
	display: block;
	float: left;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8),  0px 0px 3px rgba(0, 0, 0, 0.4);
}

.post .avatar.tiny {
    width: 30px;
    margin-right: 7px;
    height: 30px;
}

.post .content.tiny {
    margin: 0px;
    padding: 0px;
    margin-left: 3.3em;
    margin-right: 0.5em;
    margin-top: 0.3em;
}

.post .content i, .post .content em { font-style: italic; }
.post .content b, .post .content strong { font-weight: bold; }
.post .content u, .post .content a { text-decoration: underline; }

.post a.imglink {
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    margin-right: 0.5em;
    margin-top: 0.5em;
    height: 0px;
}

.post a.imglink img {
    max-height: 400px;
    width: 100%;
}

.post .content img {
    max-width: 100%;
    height: auto;
    margin: 1em 0px;
}

.post .content img.smiley {
    margin: 0px;
    padding: 0px;
    border: none;
}

.post .content h1, .post .content h2, .post .content h3, .post .content h4 {
    margin-left: 0px;
    padding-left: 0px;
}
.post .content ul, .post .content ol {
    margin-left: 2em;
}

.post .older {
	text-align: center;
	font-weight: bold;
	min-height: 0px;
	cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: #666;
    line-height: 4em;
    background-color: #F8F8F8;
}

.post .older:hover {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #333;
}

.post table#commentsubmit {
    border-spacing: 0px;
    background-color: white;
    width: 100%;
    display: none;
}

.post table#commentsubmit td {
    padding: 0.5em;
    width: 100%;
}

.post table#commentsubmit textarea {
    border: 0px;
    width: 100%;
    resize: none;
    padding: 0px;
    height: 1.5em;
}

.post table#commentsubmit textarea:focus {
}

.post table#commentsubmit .commentsubmitrow {
    background-color: #F3F3F3;
    display: block;
}

.post table#commentsubmit .commentsubmitrow td {
    padding-bottom: 0px;
}

.post .tools {
    margin: 0em -1.5em; 
    margin-top: 1em; 
    padding-left: 100px; 
    padding-right: 1.5em; 
    padding-bottom: 0.3em; 
    padding-top: 0.3em;
    display: none;
}

.post:hover .tools {
    display: block;
}

.post .tools a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post.folded > .postbubble {
    border: 0px;
    background-color: transparent;
    box-shadow: 0px 0px 0px;
    padding: 0px;
    padding-top: 0.7em;
}

.post.folded {
    padding-bottom: 0em;
}

.post.folded > .postbubble:before {
    display: none;
}

.post.folded .avatar {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    margin-top: 8px;
}

.post.folded > .postbubble > .content,
.post.folded > .postbubble > .place,
.post.folded > .postbubble > .recycle,
.post.folded > .postbubble > .comments {
    display: none;
}
