/* CSS of messages (Wall, Feed, News...) */
article img {
    max-width: 100%;
}

article > * {
    background-color: white;
}

article header {
    padding-bottom: 0;
}

article header img {
    float: left;
    width: 4em;
    margin-right: 1em;
}

article header span {
    display: inline-block;
    line-height: 1.5em;
}

article header span.date {
    color: #777;
}

article header span.title {
    padding-left: 0;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;

    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

article section {
    padding: 1em 0;
}

article footer {
    border-bottom: 1px solid #DDD;
    padding-bottom: 1em;
}

article footer:after {
    content: "";
    clear: both;
    display: block;
}

/* Spoiler */

article .spoiler > * {
    opacity: 0;
}

article .spoiler.show > * {
    opacity: 1;
}

article .spoiler:before {
    content: "Spoiler +";
    padding: 0.5em;
    margin: 0.5em 0;
    color: #777;
    border-bottom: 1px solid #BBB;
    display: block;
}

article .spoiler.show:before {
    content: "Spoiler -";
}

article .spoiler:hover {
    cursor: pointer;
}

article.comment > * {
    border-radius: 0;
}

article.comment:nth-child(odd) header,
article.comment:nth-child(odd) section {
    background-color: #FBFBFB;
}

article.comment header img {
    width: 2em;
}

article.comment header span.date {
    display: inline-block;
}

.posthead {
    display: block;
    width: 100%;
    padding: 0 1em;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.older {
	text-align: center;
	cursor: pointer;
    border-radius: 0.1em;
    color: white;
    line-height: 4em;
    background-color: #4C5A61;
    margin-bottom: 1em;
}

.older:hover {
    box-shadow: 0 0.3em 0em rgba(0, 0, 0, 0.2);
}

/* Comment the article */

.getcomments,
.addcomment {
    line-height: 2.3em;
}

.getcomments:hover,
.addcomment:hover {
    cursor: pointer;
}

.getcomments:before,
.addcomment:before {
    content: "";
    padding: 0.5em 1em;
}

.getcomments:before {
    background-color: #FC8F12;
}

.addcomment:before {
    background-color: #6FCC43;
}

article table#commentsubmit {
    border: 1px solid #DDD;
    border-spacing: 0px;
    background-color: white;
    width: 100%;
    border: 1px solid #DDD;
    display: none;
}

article table#commentsubmit td {
    width: 100%;
    padding: 0px;
}

article table#commentsubmit textarea {
    border: 0px;
    width: 100%;
    resize: none;
    padding: 0px;
    height: 1.5em;
}

article table#commentsubmit .commentsubmitrow {
    background-color: #F3F3F3;
    display: block;
}

article table#commentsubmit .commentsubmitrow td {
    height: rgba(0, 0, 0, 0.5);
}


.metadata {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metadata p {
    padding: 0 1em;
    margin-bottom: 1em;
    font-style:italic;
}

.metadata h1 {
    line-height: 2em;
    display: inline-block;
    padding-right: 0;
}

.metadata span {
    display: inline-block;
    line-height: 2.7em;
}

.metadata span.key {
    margin-left: 1em;
    font-weight: bold;
}

/*
.post {
    width: auto;
    padding: 1em;
    border-bottom: 1px solid #DDD;
    min-height: 4em;
    clear: both;
}


.post .header {
    display: block;
    overflow: auto;
    overflow-y: hidden;
}

.post .content {
    line-height: 1.3em;
    padding: 0em;
    padding-bottom: 1em;
    word-wrap: break-word;
    overflow: hidden;
}

.post .postbubble {
    width: 92%;
    margin-left: 5em;
    position: relative;
}

.post .postbubble .header a {
    text-decoration: none;
}

.post .postbubble.profile {
    padding-top: 0.5em;
}

.post .postbubble.profile .content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2em;
}

.post:last-child {
    border-bottom: 0px;
}
*/
article p.summary {
    font-style:italic;
}

article .enclosure {
    line-height: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    clear: both;
    padding: 1em;
}
/*
.post .header span {
    overflow: hidden;
    padding-right: 0.5em;
    line-height: 2em;
    display: inline-block;
}

.post span.title {
    padding-left: 0;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
}

.post span a:hover {
    text-decoration: underline;
}

.post span.date, .post span.asv {
    font-weight: normal;
    color: #777;
}
*/
article span.tag {
    font-weight: normal;

    margin-right: 0.5em;
    font-size: 0.8em;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0.2em 0.2em 0 0;
    float: left;
}
/*
.post span.tag:first-child {
    display: block;
}

.post span.delete {
    font-weight: normal;
    margin-left: 1em;
}

.post span.delete:hover {
	cursor: pointer;
}
*/
article span.place,
article span.recycle,
article span.group {
    display: inline-block;
    padding-left: 2em;
    font-weight: normal;
    margin-top: 0.5em;
    float: right;
    margin-left: 1em;
    padding-right: 0.5em;
    line-height: 2em;
    max-width: 300px;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

article span.place {
    background: url(../img/icons/place.png) 0 0.5em no-repeat;
}

article span.recycle {
    background: url(../img/icons/recycle.png) 0 0.5em no-repeat;
}

article span.group {
    background: url(../img/icons/users.png) 0 0.5em no-repeat;
}
/*
.post .comments {
    width: 100%;
    clear: both;
}

.post .comments:hover {
    cursor: pointer;
}

.post .comments .comment {
    line-height: 2em;
    overflow: hidden;
	width: auto;
}

.post .getcomments {
    background-repeat: no-repeat;
    background-position: 0.5em center;
}

.post .getcomments:before {
    padding: 1em;
    background-color: #FC8F12;
    content: "";
}

.post .addcomment:before {
    padding: 1em;
    background-color: #6FCC43;
    content: "";
}

.post .avatar {
	width: 4em;
	height: 4em;
	margin-left: 0px;
	display: block;
	float: left;
    border-radius: 0.1em;
}

.post .avatar.tiny {
    width: 2em;
    margin-right: 1em;
    height: 2em;
}

.post .content.tiny {
    margin: 0px;
    padding: 0px;
    margin-right: 0.5em;
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.post .author {
    float: right;
    font-weight: normal;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

.post .author span {
    font-weight: bold;
    padding-right: 0;
    line-height: 1em;
    display: inline;
}
*/
article .content i, article .content em { font-style: italic; }
article .content b, article .content strong { font-weight: bold; }
article .content u, article .content a { text-decoration: underline; }
/*
.post a.imglink {
    display: inline-block;
    max-width: 100%;
    margin-right: 0.5em;
    margin-top: 0.5em;
    height: 0px;
}
*/
article .enclosure a.imglink {
    display: inline-block;
    height: auto;
    width: 100%;
    line-height: 1.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article a.imglink img {
    max-height: 400px;
    width: 100%;
}

article .enclosure a.imglink img {
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin-bottom: -0.2em;
}

article .enclosure a.imglink img.icon {
    max-height: 24px;
    margin-right: 0.5em;
    min-width: 16px;
    min-height: 16px;
}

article .content img,
article .content video {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 1em 0;
    margin-right: 1em;
}

article .content img.smiley {
    margin: 0px;
    padding: 0px;
    border: none;
}

article .content h1,
article .content h2,
article .content h3,
article .content h4 {
    margin-left: 0;
    padding-left: 0;
}

article .content h3 {
    color: #333;
    line-height: 2em;
    font-size: 1.1em;
}

article .content ul,
article .content ol {
    margin-left: 2em;
}

article .content ul li,
article .content ol li{
    line-height: 1.5em;
}
/*
.post .older {
	text-align: center;
	min-height: 0px;
	cursor: pointer;
    border-radius: 0.1em;
    color: white;
    line-height: 4em;
    background-color: #4C5A61;
}

.post .older:hover {
    box-shadow: 0 0.3em 0em rgba(0, 0, 0, 0.2);
}

.post table#commentsubmit {
    border: 1px solid #DDD;
    border-spacing: 0px;
    background-color: white;
    width: 100%;
    border: 1px solid #DDD;
    display: none;
}

.post table#commentsubmit td {
    width: 100%;
    padding: 0px;
}

.post table#commentsubmit textarea {
    border: 0px;
    width: 100%;
    resize: none;
    padding: 0px;
    height: 1.5em;
}

.post table#commentsubmit .commentsubmitrow {
    background-color: #F3F3F3;
    display: block;
}

.post table#commentsubmit .commentsubmitrow td {
    height: rgba(0, 0, 0, 0.5);
}
*/
article .tools {
    padding: 1em;
    position: relative;
    line-height: 1.5em;
    clear: both;
}

article .tools a:hover {
    cursor: pointer;
    text-decoration: underline;
}
/*
.post .spoiler > * {
    opacity: 0;
}

.post .spoiler.show > * {
    opacity: 1;
}

.post .spoiler:before {
    content: "Spoiler +";
    padding: 0.5em;
    margin: 0.5em 0;
    color: #777;
    border-bottom: 1px solid #BBB;
    display: block;
}

.post .spoiler.show:before {
    content: "Spoiler -";
}

.post .spoiler:hover {
    cursor: pointer;
}
*/
