/* CSS of messages (Wall, Feed, News...) */
article {
    overflow: hidden;
}

article img {
    max-width: 100%;
}

article:not(.comment) > *:not(footer) {
    background-color: white;
}

article header {
    padding-bottom: 0;
}

article header img {
    float: left;
    width: 4em;
    margin-right: 1em;
}

article header span {
    display: inline-block;
    line-height: 1.5em;
}

article header span.date {
    color: #777;
}

article header span.title {
    padding-left: 0;
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;

    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

article section {
    padding: 1em 0;
}

article footer {
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #EEE;
    border-top: 1px solid #F2F2F2;
    background-color: #F5F7FA;
}

article footer .comments {
    padding: 0.5em;
}

article footer:after {
    content: "";
    clear: both;
    display: block;
}

/* Spoiler */

article .spoiler > * {
    opacity: 0;
}

article .spoiler.show > * {
    opacity: 1;
}

article .spoiler:before {
    content: "Spoiler +";
    padding: 0.5em;
    margin: 0.5em 0;
    color: #777;
    border-bottom: 1px solid #BBB;
    display: block;
}

article .spoiler.show:before {
    content: "Spoiler -";
}

article .spoiler:hover {
    cursor: pointer;
}

article.comment > * {
    border-radius: 0;
}
/*
article.comment:nth-child(odd) header,
article.comment:nth-child(odd) section {
    background-color: #F5F7FA;
    line-height: 1.5em;
}*/

article.comment header img {
    width: 2em;
}

article.comment header span.date {
    display: inline-block;
}

.posthead {
    display: block;
    width: 100%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.older {
	text-align: center;
	cursor: pointer;
    border-radius: 0.1em;
    color: white;
    line-height: 4em;
    background-color: #4C5A61;
    margin-bottom: 1em;
}

.older:hover {
    box-shadow: 0 0.3em 0em rgba(0, 0, 0, 0.2);
}

/* Comment the article */

.getcomments,
.addcomment {
    line-height: 1.7em;
}

.getcomments:hover,
.addcomment:hover {
    cursor: pointer;
}

article table#commentsubmit {
    border: 1px solid #DDD;
    border-spacing: 0px;
    background-color: white;
    width: 100%;
    border: 1px solid #DDD;
    display: none;
}

article table#commentsubmit td {
    width: 100%;
    padding: 0px;
}

article table#commentsubmit textarea {
    border: 0px;
    width: 100%;
    resize: none;
    padding: 0px;
    height: 1.5em;
}

article table#commentsubmit .commentsubmitrow {
    background-color: #F5F7FA;
    display: block;
}

article table#commentsubmit .commentsubmitrow td {
    height: rgba(0, 0, 0, 0.5);
}

.metadata p {
    font-style:italic;
}

.metadata h1 {
    line-height: 2em;
    display: inline-block;
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.metadata span {
    display: inline-block;
    line-height: 2.7em;
}

.metadata span.key {
    margin-left: 1em;
    font-weight: bold;
}

article p.summary {
    font-style:italic;
}

/* Enclosures */
article .enclosures {
    line-height: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    clear: both;
    padding: 0.5em;
}

article .enclosures .enclosure,
article .enclosures .alternate {
    line-height: 2em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article .enclosures .alternate img,
article .enclosures .enclosure:before {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 16px 16px;
    margin-bottom: -0.2em;
    margin-right: 0.5em;
}

article .enclosures .enclosure:before {
    content: '';
    background-image: url(../img/icons/gray/file.svg);
}

article .enclosures .enclosure[type='application/x-bittorrent']:before {
    background-image: url(../img/icons/gray/file-xml.svg);
}

article .enclosures .enclosure[type='image/jpeg']:before,
article .enclosures .enclosure[type='image/png']:before,
article .enclosures .enclosure[type='image/jpg']:before {
    content: none;
}

article .enclosures .enclosure[type='image/jpeg'] img,
article .enclosures .enclosure[type='image/png']  img
article .enclosures .enclosure[type='image/jpg']  img{
    max-height: 15em;
}

/* Others usefull elements */
article span.tag {
    font-weight: normal;

    margin-right: 0.5em;
    font-size: 0.8em;
    padding: 0.5em 1em;
    position: relative;
    border-radius: 0.2em 0.2em 0 0;
    float: left;
}

article span.place,
article span.recycle,
article span.group {
    display: inline-block;
    padding-left: 2em;
    
    font-weight: normal;
    float: right;
    margin-left: 1em;
    padding-right: 0.5em;
    line-height: 3em;
    max-width: 300px;

    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 1em;
    
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis;
}

article span.place {
    background-image: url(../img/icons/gray/earth.svg);
}

article span.recycle {
    background-image: url(../img/icons/gray/loop.svg);
}

article span.group {
    background-image: url(../img/icons/gray/users.svg);
}

article .content i, article .content em { font-style: italic; }
article .content b, article .content strong { font-weight: bold; }
article .content u, article .content a { text-decoration: underline; }

article .content img,
article .content video {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 1em 0;
    margin-right: 1em;
}

article .content img.smiley {
    margin: 0px;
    padding: 0px;
    border: none;
}

article .content h1,
article .content h2,
article .content h3,
article .content h4 {
    margin-left: 0;
    padding-left: 0;
}

article .content h3 {
    color: #333;
    line-height: 2em;
    font-size: 1.1em;
}

article .content ul,
article .content ol {
    margin-left: 2em;
}

article .content ul li,
article .content ol li{
    line-height: 1.5em;
}

article .tools {
    padding: 1em;
    position: relative;
    line-height: 1.5em;
    clear: both;
}

article .tools a:hover {
    cursor: pointer;
    text-decoration: underline;
}
