/* We reset the CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
input, select, option,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Zeu CSS */

body {
    font-family:  helvetica,sans-serif, Helvetica, "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 0.8em;
    color: #4E4E4E;
    background-color: #082D50;

    margin: 0 auto;
    width: 1000px;
    position: relative;
    
    background-attachment:fixed;
}

/* Background pattern */
.default {
    background-image: radial-gradient(center
     45deg, ellipse, rgba(255,255,255, 0.6) 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-radial-gradient(center
     45deg, ellipse, rgba(255,255,255, 0.6) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(255,255,255, 0.6), rgba(255,255,255,0) );
    background-image: -o-radial-gradient(50% 50%, ellipse, rgba(255,255,255, 0.6), rgba(255,255,255,0) );
    
    background-repeat: no-repeat;
}

.argyle {
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-image:
    -webkit-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    -webkit-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
    -webkit-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    -webkit-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

.carbon {
/*
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;*/
    background-size:16px 16px;
}

.blueprint {
    background-image: 
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-image: 
    -webkit-linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    -webkit-linear-gradient(left, rgba(255,255,255,.5) 2px, transparent 2px),
    -webkit-linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    -webkit-linear-gradient(left, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.tableclothe {
    background-image: 
    linear-gradient(90deg, rgba(255,255,255,.1) 50%, transparent 50%),
    linear-gradient(rgba(255,255,255,.1) 50%, transparent 50%);
    background-image: 
    -webkit-linear-gradient(left, rgba(255,255,255,.1) 50%, transparent 50%),
    -webkit-linear-gradient(rgba(255,255,255,.1) 50%, transparent 50%);
    background-size:50px 50px;
}
.cicada {
    background-image: 
    linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: 
    -webkit-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
    -webkit-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
    -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
    -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}

.stripes {
    background-image: 
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
    background-image: 
    -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 50px 50px;
}

.stars {
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-image:
    -webkit-radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    -webkit-radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    -webkit-radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    -webkit-radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* A simple clear element*/
.clear {
    clear: both;
}

/* Stylish all the links */
a:link, a:visited {
    color: #2B2B2B ;
    text-decoration: none ;
}

/* The protection flags */
.protect {
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 98% 0px;
}

.protect.white { background-image: url(../img/protect/white.svg); }
.protect.green { background-image: url(../img/protect/green.svg); }
.protect.orange { background-image: url(../img/protect/orange.svg); }
.protect.red { background-image: url(../img/protect/red.svg); }
.protect.black { background-image: url(../img/protect/black.svg); }

hr {
    border: 0px;
    background-color: #DCDCDC;
    height: 1px;
    padding: 0px;
    clear: both;
    line-height: 20px;
}

h1 {
    color: #183C67;
    padding: 15px 20px 0px; 
    font-size: 1.5em;
}

h2:first-child {
    padding-top: 0px;
}

h2 {
    color: #888;
    padding: 0.8em 0px;
    font-size: 1.2em;
}

h3 {
    color: #8C8C8C;
    font-size: 1.1em;
    padding: 0.3em 0px;
}

p {
    text-align: justify;
}

/* For the simple xHTML lists */
ul.clean {
    margin-left: 1.5em;
    margin-top: 1em;
}

ul.clean li {
    list-style-type: square;
}

/* The main parts of the page */
#top {
    z-index: 3;
    height: 120px;
}

#content {
    width: 800px;
    margin-right: 200px;
    position: relative;
    margin-top: 55px;
}

#head {
    width: 800px;
    overflow: hidden;
}

#head .block {
    min-height: 160px;
    float: left;
    max-width: 260px;
    overflow: hidden;
    color: white;
    text-shadow: 0px 0px 2px #333;
    font-size: 1em;
    margin-right: 20px;
    padding-top: 10px;
}

#head .block:first-child {
    width: auto;
}

#head .block h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;
    background-repeat: no-repeat;
    background-position: right center;
    display: inline;
    line-height: 1.2em;
    padding-right: 20px;
}

#head .block h1.online { background-image: url(../img/icons/online.png); }
#head .block h1.away { background-image: url(../img/icons/away.png); }
#head .block h1.dnd { background-image: url(../img/icons/dnd.png); }
#head .block h1.xa { background-image: url(../img/icons/xa.png); }

#head .block span {
    display: inline-block;
    padding-right: 7px;
    color: #CCC;
}

#head .block a:link, #head .block a:visited {
    color: #EEE;
    text-decoration: underline;
}

#head .block.avatar img {
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 22px;
    margin-right: 5px;
    padding: 2px;

    border-radius: 2px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5),  0px 0px 4px rgba(0, 0, 0, 0.4);
}

#head .block .textbubble {
    position: relative;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
}

#head .block .textbubble:before {
    content: '\201C'; 
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
}

#head .block .textbubble:after {
    content: '\201D'; 
    position: absolute;
    bottom: -25px;
    right: 0px;
    font-size: 4em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
}

#head .block .textbubble textarea {
    background-color: transparent;
    border: 1px solid transparent;
    resize: none;
    color: white;
    text-align: center;
    padding: 0px;
}

#head .block .textbubble textarea:hover {
    border-color: white;
}

#main {  
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 100%;
    background-color: #EEE;
    margin-top: -50px;
    border-bottom: 1px solid #555;
}

#left
{
    float: left;
    padding: 15px;
    width: 170px;
    padding-top: 60px;
}

#center
{
    float: right;
    width: 599px;
    background-color: white;  
    border-left: 1px solid #AAA;
    min-height: 600px;
}

#right
{
    display: block;
    width: 199px;
    position: fixed;
    top: 0px;
    right: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    pointer-events:none;
    padding-top: 37px;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

#footer 
{
    clear: both;
    padding: 5px 10px;
    text-align: right;
    color: white;
}

#footer a {
    color: #BBB;
}

/* The navigation bar */

#nav {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    padding-top: 1px;
    text-decoration: none;
    width: 100%;
    background-color: rgba(36, 36, 36, 1);
    border-bottom: 1px solid #111;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px -1px 0px 0px rgb(21, 21, 21);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
}

.menu {
    padding-top: 1px;
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
    list-style-type: none;
    overflow: hidden;
    min-height: 34px;
}

.menu li {
    float: left;
}

.menu li input[type=checkbox] {
    display: none;
}

.menu li a, .menu li label {
    padding: 9px 8px;
    padding-left: 28px;
    display: block;
    color: #ccc;
    min-height: 1em;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: 5px 9px;
}

.menu li a.disconnect{
    position: fixed;
    top: 3px;
    right: 0px;
}

.menu li a.active {
    font-weight: 700;
    color: #EEE;
}

.menu li:hover a.active {
    color: #FFF;
}

.menu li img {
    float: left;
    border: 0px;
    margin-right: 10px;
    margin-top: 1px;
}
.menu li:hover a, .menu li label:hover {
    color: #fff;
    cursor: pointer;
} 

.menu li a.main, .menu li a.main.active {
	width: 180px;
    color: transparent;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 40px 5px;
}

.menu li .explore { background-image: url(../img/icons/menu/globe.png); }
.menu li .profile { background-image: url(../img/icons/menu/user.png); }
.menu li .config { background-image: url(../img/icons/menu/settings.png); }
.menu li .help { background-image: url(../img/icons/menu/support.png); }
.menu li .disconnect { background-image: url(../img/icons/menu/exit.png); }
.menu li .down { background-image: url(../img/icons/menu/download.png); }
.menu li .up { background-image: url(../img/icons/menu/upload.png); }
.menu li .plus { background-image: url(../img/icons/menu/plus.png); }
.menu li .search { background-image: url(../img/icons/menu/search.png); }
.menu li .users { background-image: url(../img/icons/menu/users.png); }

#roster ul li .tabbed {
    background-color: rgba(36, 36, 36, 1);
    display: none;
    position: absolute;
    bottom: 36px;
    left: 0px;
    width: 100%;
    border-top: 1px solid rgba(100, 100, 100, 0.4);
}

#roster ul li .tabbed label {
    display: none;
}

#roster ul li .tabbed .element {
    min-height: 0px;
}

#roster ul li input[type=checkbox]:checked ~ .tabbed {
    display: block;
}


/* Warning */

.message.warning, .message.info, .message.error, .message.success {
    border-radius: 1px;
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -webkit-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);

    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3),
        -1px 0px 0px rgba(0, 0, 0, 0.3),
        0px 1px 0px rgba(0, 0, 0, 0.4),
        0px -1px 0px rgba(0, 0, 0, 0.4);

    border: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    
    color: #fff;
    padding: 10px;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    margin: 5px 0px;
    clear: both;
}

.message.warning { background-color: #ED9519; }
.message.info { background-color: #3C7995; }
.message.error { background-color: #DE4343; }
.message.success { background-color: #76AB16; }

/* Config button */

.config_button {
    width: 8px;
    height: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 0 #F8F8F8;
    background-color: white;
    float: right;
}

.config_button:hover {
    background-image: url(../img/config_on.png);
    background-position: -1px -1px;
    cursor: pointer;
}

/* Filters */

.filters {
	float: right;
	margin: 1em 1.5em 0em;
    padding-right: 1.5em;
}

.filters li {
	display: inline;
	margin-left: 0.5em;
	padding: 0.5em 1.5em;
	border-radius: 3px;
}

.filters li:hover {
	color: white;
	background-color: gray;
	cursor: pointer;
}

.filters li.on {
	background-color: #444444;
	color: white;
}

/* Table */
table thead {
    font-weight: bold;
}

table thead tr td {
    text-align: center;
}

table#list tbody tr:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.1);
}

table tbody tr td {
    vertical-align: middle;
    padding: 0.3em;
}

/* List */
ul.list {
    list-style-type: none;
}

ul.list li {
    border-bottom: 1px solid #EEE;
}

ul.list li a {
    padding: 0.7em;
    display: block;
}
