/*@font-face {  
	font-family: "OpenSans";  
	src: url(../fonts/OpenSans-Light.ttf) format("truetype");  
} */

/* We reset the CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
input, select, option,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

#baseline {
    width: 100%;
    height: 10000%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: 
    linear-gradient(red 1px, transparent 1px);
    background-position: -1px -1px;
    background-size: 14px 14px;
    z-index: 999;
    pointer-events: none;
}

/* Zeu CSS */

body {
    font-family:  helvetica,sans-serif, Helvetica, "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    line-height: 1em;
    color: #4E4E4E;
    background-color: #32434D;

    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    padding-right: 200px;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    
    background-attachment:fixed;
}

/* We hide all the mobiles elements */
.on_mobile {
    display: none;
}

/* Background pattern */
.default {
    background-image: radial-gradient(center
     45deg, ellipse, rgba(255,255,255, 0.6) 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-radial-gradient(center
     45deg, ellipse, rgba(255,255,255, 0.6) 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-radial-gradient(50% 50%, ellipse, rgba(255,255,255, 0.6), rgba(255,255,255,0) );
    background-image: -o-radial-gradient(50% 50%, ellipse, rgba(255,255,255, 0.6), rgba(255,255,255,0) );
    
    background-repeat: no-repeat;
}

.argyle {
    background-image: url(../img/back/argyle.png);
}

.paper {
    background-image: url(../img/back/paper.png);
}

.carbon {
    background-size:16px 16px;
}

.blueprint {
    background-image: 
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px);
    background-image: 
    -webkit-linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    -webkit-linear-gradient(left, rgba(255,255,255,.5) 2px, transparent 2px),
    -webkit-linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
    -webkit-linear-gradient(left, rgba(255,255,255,.2) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.tableclothe {
    background-image: url(../img/back/tableclothe.png);
}
.cicada {
    background-image: url(../img/back/cicada.png);
}

.stripes {
    background-image: url(../img/back/stripes.png);
}

.stars {
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-image:
    -webkit-radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    -webkit-radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    -webkit-radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    -webkit-radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.tartan {
    background-image: url(../img/back/tartan.png);
}

/* A simple clear element*/
.clear {
    clear: both;
}

/* Stylish all the links */
a:link, a:visited {
    color: #2B2B2B ;
}

/* The protection flags */
.protect {
    position: relative;
}

.protect:after {
    content: "";
    position: absolute;
    top: 0em;
    right: 0em;
    width: 3em;
    height: 3em;
    background-size: 2em 2em;
    background-repeat: no-repeat;
    background-position: center center;
}

.protect.white:after { 
    background-image: url(../img/protect/white.svg); 
    background-color: #0DB8B5;
}
.protect.green:after { 
    background-image: url(../img/protect/green.svg); 
    background-color: #6FCC43;
}
.protect.orange:after { 
    background-image: url(../img/protect/orange.svg);
    background-color: #FC8F12;
}
.protect.red:after { 
    background-image: url(../img/protect/red.svg); 
    background-color: #D92727;
}
.protect.black:after { 
    background-image: url(../img/protect/black.svg); 
    background-color: #442178; /* yes it's purple ! */
}

hr {
    border: 0px;
    background-color: #DCDCDC;
    height: 1px;
    padding: 0px;
    clear: both;
    line-height: 20px;
}

h1 {
    color: #183C67;
    line-height: 2.5em;
    font-size: 1.5em;
    margin: 0px;
    padding: 0em 1em;
    vertical-align: bottom;
    font-family: sans-serif;
}

h2 {   
    line-height: 2.5em;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2.post-title {
    border-bottom: none;
}

h3 {
    color: #BBB;
    line-height: 2em;
}

p {
    text-align: justify;
    line-height: 1.3em;
    margin-top: 0.5em;
}

pre {
    padding: 1em 0em;
}

code, code span, .post code span {
    font-size: 0.9em;
    font-family: monospace;
    font-weight: normal;
}

blockquote {
    padding: 1em 0;
    padding-left: 1em;
    font-style: italic;
}

/* For the simple xHTML lists */
ul.clean {
    margin-left: 1.5em;
    margin-top: 1em;
}

ul.clean li {
    list-style-type: square;
}

/* A default padding for some elements */
.padded {
    padding: 1.5em;
}

.paddedtop {
    padding: 1.5em;
    padding-top: 0px;
}

.paddedtopbottom {
    padding: 0em 1.5em;
}

.spacetop {
    padding-top: 1.5em;
}

/* The main parts of the page */

#content {
    width: 100%;
    position: relative;
    margin-top: 3em;
}

#main {  
    background-color: #383735;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#main:after {
  content: "";
  display: block;
  display: table;
  clear: both;
}

#left
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    float: left;
    padding: 1em;
    width: 200px;
    color: white;
    top: 0px;
    overflow: hidden;
}

#left a:link, 
#left a:visited {
    color: #94A6B0;
}

#left ul {
    list-style-type: none;
}

#left h2 {
    margin-top: 1em;
}

#center
{
    background-color: white;
    position: relative;
    top: 0px;
    overflow: hidden;
    min-height: 60em;
}

#right
{
    display: block;
    width: 200px;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 0em;
    height: 100%;
    overflow: hidden;
    pointer-events:none;
    z-index: 2;
    background-image: url(../img/paper.png);
}

#right:after {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
    pointer-events:none;
    content: "";
    display: block;
    position: absolute;
    top: 0em;
    left: 0em;
    width: 0.7em;
    height: 100%;
}

footer 
{
    clear: both;
    text-align: right;
    background-color: #383735;
    line-height: 3em;
    padding-right: 1em;
    color: white;
}

footer a:link, footer a:visited {
    color: #BBB;
}

/* The navigation bar */

nav {
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    text-decoration: none;
    width: 100%;
    background-color: #4C5A61;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.menu {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    list-style-type: none;
    height: 3em;
    overflow: hidden;
}

.menu li {
    float: left;

}

.menu li input[type=checkbox] {
    display: none;
}

.menu li a:not(.button), .menu li label {
    line-height: 3em;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0px;
    width: 0px;
    padding: 1.5em;
    color: transparent;
}

.menu li a.disconnect{
    position: fixed;
    top: 0px;
    right: 200px;
}

.menu li:hover,
.menu li a.disconnect:hover {
    background-color: #46565E;
}

.menu li a.active {
    background-color: #445157;
}

.menu li img {
    float: left;
    border: 0px;
    margin-right: 10px;
    margin-top: 1px;
}
.menu li:hover a, .menu li label:hover {
    cursor: pointer;
} 

.menu li a.main, .menu li a.main.active {
	width: 200px;
    padding: 1.5em;
    color: transparent;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.menu li .discover,
.menu li .explore   { background-image: url(../img/icons/menu/globe.png); }
.menu li .profile   { background-image: url(../img/icons/menu/user.png); }
.menu li .conf      { background-image: url(../img/icons/menu/settings.png); }
.menu li .help      { background-image: url(../img/icons/menu/support.png); }
.menu li .disconnect{ background-image: url(../img/icons/menu/exit.png); }
.menu li .down      { background-image: url(../img/icons/menu/list.png); }
.menu li .up        { background-image: url(../img/icons/menu/upload.png); }
.menu li .plus      { background-image: url(../img/icons/menu/plus.png); }
.menu li .search    { background-image: url(../img/icons/menu/search.png); }
.menu li .users, 
.menu li .account   { background-image: url(../img/icons/menu/users.png); }
.menu li .expand    { background-image: url(../img/icons/menu/expand.png); }
.menu li .contract  { background-image: url(../img/icons/menu/contract.png); }
.menu li .media     { background-image: url(../img/icons/menu/folder.png); }
.menu li .blog      { background-image: url(../img/icons/menu/quill.png); }
.menu li .admin     { background-image: url(../img/icons/menu/admin.png); }
.menu li .about     { background-image: url(../img/icons/menu/info.png); }
.menu li .news      { background-image: url(../img/icons/menu/news.png); }

ul li .tabbed {
    background-color: rgba(36, 36, 36, 1);
    position: absolute;
    bottom: 3em;
    right: -100%;
    width: 100%;
    transition: right 0.5s ease;
}

ul li .tabbed label {
    display: none;
}

ul li .tabbed .element {
    min-height: 0px;
}

ul li input[type=checkbox]:checked ~ .tabbed {
    right: 0%;
}


/* Warning */

.message.warning, 
.message.info, 
.message.error, 
.message.success,
.message.logs {
    border-radius: 0.1em;
    background-size: 10em 10em;
    background-image: linear-gradient(135deg, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -webkit-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    
    color: #fff;
    padding: 1em;

    margin: 0.5em 0px;
    clear: both;
    
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.message.warning { background-color: #FC8F12; }
.message.info { background-color: #0DB8B5; }
.message.error { background-color: #D92727; }
.message.success { background-color: #6FCC43; }
.message.logs { background-color: black; font-size: 0.9em;}

/* Config button */

.config_button {
    width: 8px;
    height: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 0 #F8F8F8;
    background-color: white;
    float: right;
}

.config_button:hover {
    background-image: url(../img/config_on.png);
    background-position: -1px -1px;
    cursor: pointer;
}

/* Filters */

.filters {
	float: right;
    margin: 0px;
    padding: 0px;
    /*font-size: 1.2em;*/
    margin-right: 1.5em;
}

.filters li {
	display: inline-block;
    padding: 0em 1.5em;
    line-height: 2em;
}

.filters li:hover {
    color: #333;
	cursor: pointer;
}

.filters li.on {
    font-weight: bold;
    color: #333;
}

/* Table */
table thead {
    font-weight: bold;
}

table thead tr td {
    text-align: center;
    line-height: 2em;
}

table#list tbody tr:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
}

table tbody tr td {
    vertical-align: middle;
    padding: 0.5em;
}

/* List */
ul.list {
    list-style-type: none;
}

ul.list li {
    border-bottom: 1px solid #EEE;
}

ul.list li:last-child {
    border-bottom: 0px;
}

ul.list li a {
    padding: 0.7em;
    display: block;
}

ul.list li a.action {
    float: right;
}

ul.list li a.action:hover {
    cursor: pointer;
}

ul.list li span.tag {
    background-color: #555;
    padding: 0 0.5em;
    margin-left: 1em;
    color: white;
    display: inline-block;
    min-width: 3em;
    border-radius: 2px;
    text-align: center;
    line-height: 1.8em;
    font-size: 0.8em;
    float: right;
    margin-top: -0.3em;
}

ul.list li span.tag.red { background-color: #D92727; }
ul.list li span.tag.blue { background-color: #0DB8B5; }
ul.list li span.tag.green { background-color: #6FCC43; }
ul.list li span.tag.yellow { background-color: #DEC41C; }
ul.list li span.tag.orange { background-color: #FC8F12; }
ul.list li span.tag.purple { background-color: #442178; }

/* Thumb */
ul.thumb {
    list-style-type: none;
}

ul.thumb li {
    background-size: 100% auto;
    width: 25%;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

ul.thumb li a {
    display: block;
    width: 100%;
    padding-bottom: 100%;
}

/* Definition list */

dl > * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    padding: 0 1em;
    display: inline-block;
    line-height: 2em;
    vertical-align: middle;
}

dl dt {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

dl dd {
    text-align: left;
    width: 75%;
}

/* Breadcrumb */
.breadcrumb {
    height: 3em;
}

.breadcrumb > a {
    display: inline-block;
    line-height: 3em;
    padding-left: 1.5em;
    padding-right: 1em;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.breadcrumb > a:first-child {
    padding-left: 1.5em;
}

.breadcrumb > a:not(:first-child):after {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0.5em;
    left: -2em;
    content: "";
    
    background-color: #445157;

    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Popup */
.popup {
    position: fixed;
    top: 6em;
    left: 10%;
    z-index: 10;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    display: none;
    background-color: #242424;
    padding: 1em;
    
    border-bottom: none;
    
    box-shadow: 0 0 3em black;
    
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.popup:after {
    position: fixed;
    display: block;
    z-index: 4;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.popup .menu {
    position: fixed;
    top: 3em;
    left: 10%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5em 0 ;
    padding-left: 0.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    height: 3em;
}

.popup span, .popup p, .popup pre, .popup h2, .popup h3, .popup a {
    color: white;
}

.popup legend {
    color: white;
    border-color: #444 !important;
    text-shadow: 0 -1px 0 black;
}

.popup .element label {
    color: white;
}
