body {
	font-family:  verdana, arial, 'lucida grande',   sans-serif;
	margin: 0 auto;
	background: -moz-linear-gradient(top, #C1C1C1, white 40px);
	background: -webkit-gradient(linear, 0% 0%, 0% 40, from(#C1C1C1), to(white));
	font-size: 12px;
	background-repeat: no-repeat;
}

a:link, a:visited {
	color: #2B2B2B ;
	text-decoration: none ;
}

#content {
	width: 1024px;
	margin: 0 auto;
	color: #383838;
}

h1 {
	font-family: arial ;
	color: #505050;
	width: 100%;
	border-bottom: 1px solid gray;
	padding-bottom: 0.3em;
	margin-top: 0.4em;
	padding-left: 0.3em;
}

h3 {
	font-family: arial ;
	color: #8C8C8C;
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 0.9em;
}

#left
{
	display: block;
	margin-top: 0.5em;
	box-shadow: 0px 5px 7px #CACACA;
	-webkit-box-shadow: 0px 5px 7px #CACACA;
	border: 1px solid #DCDCDC;
	width: 180px;
	float: left;
	z-index: 1;
	background-color: #EFEFEF;
	padding: 0.5em;
}

#center
{
	overflow: hidden;
	padding-left: 1em;
	min-height: 500px;
}

#right
{
	display: block;
	float: right;
	overflow: auto;
	width: 200px;
}

#footer {
	border-top: 1px solid #DCDCDC;
	padding: 0.5em;
	text-align: right;
	color: #6B6B6B;
}

/* Formulaires */

input, select, textarea
{
	border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
	box-shadow: inset 0 3px 10px #D0D0D0;
	-webkit-box-shadow: inset 0 3px 10px #D0D0D0;
	-moz-box-shadow: inset 0 3px 10px #D0D0D0;
	border:1px solid #AAAAAA;
	margin: 5px;
}

input[type=text], input[type=password] {
	font-family:'Helvetica Neue',HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#585858;
	font-weight:normal;
	padding: 0.3em;
	margin: 0.5em;
}

input[type=submit], input[type=reset], input[type=button] {
	padding: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
	box-shadow: inset 0 -3px 10px #D0D0D0;
	-webkit-box-shadow: inset 0 -3px 10px #D0D0D0;
	background-color: white;
}

input:hover[type=submit], input[type=reset]:hover, input[type=button]:hover {
	border: 1px solid gray;
}

input[type=submit], input[type=reset] {
	float: right;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #E8A343;
	box-shadow: inset 0 3px 10px #EDD9BC;
	-webkit-box-shadow: inset 0 3px 10px #EDD9BC;
}

input.submit:focus, input.submit:hover {
	border: 1px solid #67B045;
}

fieldset {
	border: 0px;
	border-top: 1px solid #B9B9B9;
}

label {
	float:left;
	text-align:right;
	width: 25%;
	padding-top: 2px;
	padding-right: 1em;
	margin-top: 5px;
}

/********************************/

.roll
{
	font-size: 0.9em;
	padding: 0.5em;
	padding-left: 1.5em;
	border-bottom: 1px dotted #B5B5B5;
}

.roll_title
{
	font-weight: bold;
}

/* The #navigation bar */

#nav
{
	width: 100%;
	background-color: #444444;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	z-index: 3;
	font-family:  arial, 'lucida grande', sans-serif;
}

#nav .menu
{
	list-style-type: none;
	padding: 0px;
	display: block;
	width: 1024px;
	margin: 0 auto;
}

#nav .menu li
{
	display: inline;
	-moz-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	margin-left: -4px;
	margin-right: 0px;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#nav .menu li a
{
	color: #E4E4E4;
	padding: 3px;
	padding-left: 18px;
	padding-right: 18px;
}

#nav .menu img
{
	margin-bottom: -2px;
	margin-right: 10px;
	border: 0px;
}

#nav .menu li:hover
{
	background-color: #292929;
	cursor: pointer;
}

#nav .menu li a.active {
	background-color: #292929;
	text-decoration: none ;
}

/* WALL STYLE */
.message {
	border-bottom: 1px solid #ECECEC;
    width: 100%;
    font-size: 9px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.message .comment {
	margin-bottom: 0.3em;
	background-color: #F3F3F3;
	padding: 0.4em;
	margin-left: 80px;
	margin-right: 5px;
}

.message .avatar {
	width: 70px;
	height: 70px;
	margin: 5px;
	margin-left: 0px;
	display: block;
	float: left;
	background-color: #9BBBC6;
}

.message .content {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-left: 80px;
	margin-right: 5px;
}

/* Tinylist */

#tinylist ul {
	list-style-type: none;
	background-color: #F5F5F5;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding-left: 0.3em;
	margin-top: 0px;
	border-top: 1px dotted #E2E2E2;
	font-size: 0.8em;
}

#tinylist ul li {
	padding: 0.3em;
	border-bottom: 1px dotted #E2E2E2;
}

/* Warning */

.warning {
	background-color: #FFAFAF;
	border: 2px solid #FF8787;
	padding: 1em;
	color: #872626;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Config button */

.config_button {
	width: 10px;
	height: 10px;
	background-image: url(../img/config_off.png);
	float: right;
}

.config_button:hover {
	background-image: url(../img/config_on.png);
	cursor: pointer;
}
