/* We reset the CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
input, select, option,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Zeu CSS */

body {
    font-family:  helvetica,sans-serif, Helvetica, "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 13px;
    color: #4E4E4E;
    background-color: #274950;
    background-image: radial-gradient(center
     45deg, ellipse, #6E9EA8 0%, #274950 100%);
    background-image: -moz-radial-gradient(center
     45deg, ellipse, #6E9EA8 0%, #274950 100%);
    background-image: -webkit-radial-gradient(50% 50%, ellipse, #6E9EA8, #274950);
    background-repeat: no-repeat;
    background-attachment:fixed;
    margin: 0 auto;
    width: 1000px;
}

.clear {
    clear: both;
}

a:link, a:visited {
    color: #2B2B2B ;
    text-decoration: none ;
}


.protect {
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 98% 0px;
}

.protect.white { background-image: url(../img/protect/white.svg); }
.protect.green { background-image: url(../img/protect/green.svg); }
.protect.orange { background-image: url(../img/protect/orange.svg); }
.protect.red { background-image: url(../img/protect/red.svg); }
.protect.black { background-image: url(../img/protect/black.svg); }

hr {
    border: 0px;
    background-color: #DCDCDC;
    height: 1px;
    padding: 0px;
    clear: both;
    line-height: 20px;
}

h1 {
    color: #183C67;
    padding: 15px 20px 0px; 
    font-size: 1.5em;
}

h2:first-child {
    padding-top: 0px;
}

h2 {
    color: #888;
    padding: 0.8em 0px;
    font-size: 1.2em;
}

h3 {
    color: #8C8C8C;
    font-size: 1.1em;
    padding: 0.3em 0px;
}

p {
    text-align: justify;
}

/*p:first-letter {
    font-size: 2.5em;
    padding-right: 0.1em;
    padding-top: 0.15em;
    float: left;
}*/

ul.clean {
    margin-left: 1.5em;
    margin-top: 1em;
}

ul.clean li {
    list-style-type: square;
}

#topgray {
    background-color: #F5F5F5;
    height: 140px;
    width: 100%;  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 1px solid #E5E5E5;
}

#top {
    z-index: 3;
    height: 120px;
}

#content {
    width: 800px;
    margin-right: 200px;
    background-color: #EEE;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    overflow: auto;
}


#left
{
    float: left;
    width: 170px;
    padding-top: 55px;
    padding-left: 15px;
    padding-right: 15px;
}

#center
{
    float: left;
    width: 599px;
    background-color: white;
    border-left: 1px solid #DDD;
    padding-top: 38px;
    min-height: 1000px;
    overflow: hidden;
}

#right
{
    display: block;
    width: 199px;
    background-color: green;
    position: fixed;
    top: 0px;
    right: -20px;
    border-left: 1px solid #DDD;
    padding-top: 42px;
    padding-right: 20px;
    height: 100%;
    background-color: #EFEFEF;
    overflow: scroll;
    z-index: 2;
}

#footer 
{
    border-top: 1px solid #DDD;
    clear: both;
    padding: 5px 10px;
    text-align: right;
    color: #666;
}

/* Widgets */

span#widgettitle {
    font-weight: bold;
    display: block;
    padding: 3px;
    text-align: center;
    margin-bottom: 4px;
}

/* The navigation bar */

#nav, #nav .menu, #nav .menu li, #nav .menu li a {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    padding-top: 1px;
    text-decoration: none;
}
#nav {
    width: 100%;
    background-color: rgba(36, 36, 36, 1);
    min-height: 34px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
}
#nav .menu {
    width: 1024px;
    margin: 0px auto;
    list-style-type: none;
    display: block;
    overflow: hidden;
    clear: both;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 40px 7px;
}
#nav .menu li {
    float: left;
}

#nav .menu li:first-child {
	width: 215px;
	opacity: 0;
}

#nav .menu li a {
    padding: 9px 20px;
    display: block;
    color: #ccc;
    font-size: 13px;
}
#nav .menu li a.active {
    font-weight: 700;
    color: #EEE;
}

#nav .menu li:hover a.active {
    color: #FFF;
}

#nav .menu li img {
    float: left;
    border: 0px;
    margin-right: 10px;
    margin-top: 1px;
}
#nav .menu li:hover a {
    /*background-color: rgba(255, 255, 255, 0.3);*/
    color: #fff;
} 

/* Warning */

.message.warning, .message.info, .message.error, .message.success {
    border-radius: 4px;
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    background-image: -webkit-linear-gradient(top left, rgba(255,255, 255, 0.05) 25%, transparent 25%,
                        transparent 50%, rgba(255,255, 255, 0.05) 50%, rgba(255,255, 255, 0.05) 75%,
                        transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255, 255, 0.4);
    border: 1px solid;
    color: #fff;
    padding: 10px;
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    margin: 5px 0px;
    clear: both;
}

.message.warning {
    background-color: #ED9519;
    border-color: #C37A12;
}

.message.info {
    background-color: #3C7995;
    border-color: #156386;
}

.message.error {
    background-color: #DE4343;
    border-color: #C43D3D;
}

.message.success {
    background-color: #61B832;
    border-color: #55A12C;
}

/* Config button */

.config_button {
    width: 8px;
    height: 8px;
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 0 #F8F8F8;
    -wekbit-box-shadow: 0 1px 0 #F8F8F8;
    box-shadow: 0 1px 0 #F8F8F8;
    background-color: white;
    float: right;
}

.config_button:hover {
    background-image: url(../img/config_on.png);
    background-position: -1px -1px;
    cursor: pointer;
}

/* Refresh button */

.refresh {
    background-image: url(../img/refresh.png);
    background-repeat: no-repeat;
    width: 90%;
    background-position: center;
    text-align: center;
    padding: 3px;
    cursor: pointer;
}

/* Bubble */

.textbubble {
    background-color: #555;
    color: white;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    white-space: normal;
}

.textbubble:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 30px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: #555 transparent;
}

.textbubble a {
    color: #CCC;
    text-decoration: underline;
}
