body {
	background-color: #cae1e9;
	font-family: "Lucida Grande", helvetica, sans-serif;
	/*background-repeat : no-repeat;
	background-position: 10% 40px;*/
	margin: 0px;
	font-size: 14px;
	overflow: auto;
}

a {
	outline-style: none;
}

a:link {
	color: #2B2B2B ;
	text-decoration: none ;
}
a:visited {
	color: #2B2B2B ;
	text-decoration: none ;
}

h1 {
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #888888;
	border-bottom: 1px solid #C5C5C5;
	padding-bottom: 3px;
	margin-left: -30px;
	padding-left: 30px;
	width: 100%;
	font-size: 24px;
}



img {
	border: none;
	margin: none;
	padding: none;
}

/* GENERAL INPUT */

input
{
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-box-shadow: inset 0 3px 10px #D0D0D0;
	-webkit-box-shadow: inset 0 3px 10px #D0D0D0;
	border:1px solid #AAAAAA;
	font-family:'Helvetica Neue',HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#585858;
	/*font-size:18px;*/
	margin: 10px;
	font-weight:normal;
	/*padding:6px;
	width: 60%;*/
}

input.submit {
	background: -moz-linear-gradient(top, #F9F9F9, #D0D0D0);
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#D0D0D0));
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	/*width: 20%;*/
}

input:focus {
	border: 1px solid #E8A343;
	-moz-box-shadow: inset 0 3px 10px #EDD9BC;
	-webkit-box-shadow: inset 0 3px 10px #EDD9BC;
}

input.submit:focus {
	border: 1px solid #67B045;
}

input.submit:hover {
	border: 1px solid #67B045;
}

label {
	float: left;
	width: 10em;
	text-align: right;
	font-family:'Helvetica Neue',HelveticaNeue,Helvetica,Arial,sans-serif;
}

/* CONTENT INPUT */

#content label {
	margin: 10px;
	padding:4px;
	padding-top: 6px;
	padding-bottom: 2px;
	color: gray;
}

#content input {
	padding: 6px;
}

/* NAVIGATION BAR */

#navbar
{
	position: fixed;
	color: #2B2B2B;
	bottom: 0px;
	left: 0px;
	width: 100%;
	-moz-box-shadow: 250px 0px 5px #9A9A9A;
	background: -moz-linear-gradient( top, #FFFFFF, #F9F9F9 15%, #D0D0D0);
	background: -webkit-gradient( linear, left top, left bottom, from(#CECECE), to(#D0D0D0), color-stop(0.07, #F9F9F9));
	font-size: 15px;
	padding: 0;
	z-index: 4;
}

#navbar ul.movim_menu {
	list-style-type: none;
	float: right;
	padding: 0px;
	margin: 0px;
	display: block;
}

#navbar ul.movim_menu li
{
	/* display: inline; */
	float: left;
	/* border-right: 1px solid #8C8C8C; */
	border-left: 1px solid #BDBDBD;
	/*border: 1px solid red;*/
	margin: 0px;
	padding: 3px 3px 3px 5px;
}

#navbar ul.movim_menu img
{
	margin-bottom: -3px;
}

#navbar ul.movim_menu li:hover
{
	background-color: rgba(80, 80, 80, 0.2);
	cursor: pointer;
}

/* Chat widget */
#chatMessages
{
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-box-shadow: inset 0 3px 10px #D0D0D0;
	-webkit-box-shadow: inset 0 3px 10px #D0D0D0;
	border:1px solid #AAAAAA;
	font-family:'Helvetica Neue',HelveticaNeue,Helvetica,Arial,sans-serif;
	color:#585858;
	/*font-size:18px;*/
	margin: 10px;
	height: 200px;
	width: 90%;
	overflow: auto;
	background-color: white;
	font-weight:normal;
	/*padding:6px;
	width: 60%;*/
}

#chatMessages p 
{
	margin: 0;
}

/* Wall */
#wall
{
	width: 90%;
}

.wallPost
{
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-box-shadow: inset 0 3px 10px #D0D0D0;
	-webkit-box-shadow: inset 0 3px 10px #D0D0D0;
	border:1px solid #AAAAAA;
	margin: 0.5em 0 0 1em;
	background: white;
	width: 90%;
	padding: 0;
}

.wallPost p
{
	margin: 0;
	padding: 0;
}

/* Other */

.roll
{
	font-size: 0.9em;
	padding: 0.5em;
	padding-left: 1.5em;
	/*margin-right: 50%;*/
	border-bottom: 1px dotted #B5B5B5;
}

.roll_title
{
	/*padding-bottom: 0.2em;*/
	font-weight: bold;
}

#how
{
	border-bottom: 1px solid #D6D6D6;

	/*background-color: #ECECEC;
	background-image: url(img/block_back.png);
	background-repeat: repeat-y;*/
	/*margin-top: -10px;*/
	display: none;
	height: 50px;
}

#write
{
	border: 1px solid #C7C7C7;
	color: gray;
	padding: 0.3em;
	/*margin-bottom: 5px;*/
	width: 85%;
	margin-top: 10px;
	margin-left: 0px;
}

/* ROSTER LIST */

#rosterL
{
	display: none; 
	position: fixed; 
	width: 190px; 
	right: 60px; 
	bottom: 26px; 
	background-color: white; 
	/*border : 1px solid #9A9A9A;*/
	border-bottom: none;
	background: -moz-linear-gradient( top, #FFFFFF, #F9F9F9 65%, #D0D0D0); 
	-moz-box-shadow: #9A9A9A 0px 0px 5px;
	word-wrap: break-word;
}

#rosterL .user
{
	padding: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#rosterL .user:nth-child(2n)
{
	background-color: #DFE6EC;
}

/* NOTIFICATION */

#notification
{
	position: fixed;
	right: 5px;
	top: 5px;
	background-color: rgba(0,0,0,0.6);
	-moz-border-radius: 0.5em;
	-moz-box-shadow: black 0px 0px 5px;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	width: 220px;
	max-height: 70px;
	color: white;
	display: none;
	word-wrap: break-word;
	font-size: 0.8em;
}

#notification:hover
{
	opacity: 0.5;
}

/* SETSTATUS */

#setStatus img
{
	display: none;
}

#setStatus img.active
{
	display: inline;
}

/* DIALOG BOX */

#dialog
{
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	top: 10%;
	background-color: rgba(0,0,0,0.9);
	padding: 1em;
	-moz-border-radius: 1em;
	border: 3px solid white;
	-moz-box-shadow: #9A9A9A 0px 0px 25px;
	color: white;
	display: none;
}

#dialog h1
{
	color: white;
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
}

#dialog label
{
	width: 70px;
	color: white;
	padding: 6px;
	padding-top: 14px;
}

#dialog input {
	padding: 6px;
	width: 280px;
}

#dialog input.submit {
	width: auto;
}

/* PROFIL DIV */


/* ROSTER LIST */

#rosterL
{
	display: none; 
	position: fixed; 
	width: 190px; 
	right: 60px; 
	bottom: 26px; 
	background-color: rgba(0, 0, 0, 0.7); 
	border-bottom: none;
	background-color: rgba(0,0,0,0.7);
	-moz-border-radius: 0.3em;
	-moz-box-shadow: black 0px 0px 5px;
	-webkit-border-radius: 0.3em;
	-webkit-box-shadow: black 0px 0px 5px;
	word-wrap: break-word;
	color: white;
}

#rosterL .user
{
	padding: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#rosterL .user:nth-child(2n)
{
	background-color: rgba(255, 255, 255, 0.1);
}

/* NOTIFICATION */

#notification
{
	position: fixed;
	right: 5px;
	top: 5px;
	background-color: rgba(0,0,0,0.7);
	-moz-border-radius: 0.3em;
	-moz-box-shadow: black 0px 0px 5px;
	-webkit-border-radius: 0.3em;
	-webkit-box-shadow: black 0px 0px 5px;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	width: 220px;
	color: white;
	display: none;
	word-wrap: break-word;
	font-size: 0.8em;
	min-height: 3em;
	
	-moz-transition-duration: 0.1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in;
}

#notification:hover
{
	opacity: 0.5;
}

/* DIALOG BOX */

#dialog
{
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	top: -250px;
	background-color: rgba(0,0,0,0.9);
	padding: 1em;
	-moz-border-radius: 1em;
	border: 3px solid white;
	-moz-box-shadow: #9A9A9A 0px 0px 25px;
	color: white;
	display: none;
}

#dialog h1
{
	color: white;
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
}

#dialog label
{
	width: 70px;
	color: white;
	padding: 6px;
	padding-top: 14px;
}

#dialog input {
	padding: 6px;
	width: 280px;
}

#dialog input.submit {
	width: auto;
}
