#left
{
	display: block;
	background: -moz-linear-gradient(top, #9AC0CB, #4A7582 90%);
	background: -webkit-gradient(linear, left top, left bottom, from(#9AC0CB), to(#4A7582));
	height: 100%;
	border-right: 1px solid #CECECE;
	width: 33%;
	float: left;
	position: fixed;
}

#center
{
	background: url(../img/block_back.png) repeat-y;
	border-right: 1px solid #CECECE;
	overflow: hidden;
	margin-left: 33%;
	width: 35%;
	background-color: white;
	overflow: auto;
}

#right
{
	float: right;
	width: 33%;
	height: 100%;
	background: url(../img/block_back.png) repeat-y;
	background-color: #F3F3F3;
	border-right: 1px solid #CECECE;
	overflow: auto;
	position: fixed;
	right: 0px;
	top: 0px;
}


.ui-tabs .ui-tabs-nav { 
	color: white;
	list-style-type: none;
	font-size: 0.9em;
	padding-left: 0em;
}

.ui-tabs .ui-tabs-nav li { 
	padding: 0.8em;
	padding-left: 1.8em;
	/*background-image: url(../img/atom_icon.png);*/
	background-repeat: no-repeat;
	background-position: 1em 0.7em;
}

.ui-tabs .ui-tabs-nav li a { 
	color: white;
	display: block;
	width: 100%;
	height: 100%;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
	width: 240px;
	background-image: url(../img/arrow1.png);
	background-repeat: no-repeat;
	background-position: 0px -6px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
	cursor: text; 
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
	cursor: pointer; 
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel { 
	display: block; 
	padding: 0em 30px; 
}

.ui-tabs .ui-tabs-hide { 
	display: none !important; 
}

