/* MAIN FEED STYLE */

table#feedsubmitform {
    display: block;
    margin: 0 1em;
    overflow: hidden;
    padding-bottom: 0;
    border-bottom: 0;
    border-radius: 2px 2px;
    background-color: white;
    border: 1px solid #DDD;
}

#feedsubmitform tbody, #feedsubmitform tr, #feedsubmitform td {
    display: block;
}

#feedsubmitform td {
    padding: 0px;
}

#feedsubmitform td input[name=title] {
    background-color: white;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    display: block;
    width: 98.5%;
    margin: 0.5em;
    margin-bottom: 0;
}

#feedsubmitform:hover td input[name=title] {
    display: block;
}

#feedsubmitform textarea {
    border: none;
    resize: none;
    background-color: white;
    height: 1.3em;
    padding: 0.5em;
    margin: 0.5em;
    width: 98%;
}

#postpreviewcontent {
    background-color: white;
    padding: 1em;
    overflow: hidden;
}

#postpreviewcontent span,
#postpreviewcontent p,
#postpreviewcontent pre,
#postpreviewcontent h2,
#postpreviewcontent h3 {
    color: rgb(78, 78, 78);
}

#postpreviewcontent a {
    color: rgb(43, 43, 43);
}

#feedsubmitform #feedsubmitrow {
    background-color: #4C5A61;
    width: auto;
    overflow: auto;
    padding: 0px;
}

#feedsubmitform #feedsubmitrow a {
    float: right;
}

#feedcontent {
	clear: both;
}

#feednotifs {
	/*margin: 1em 1.5em 0em;*/
}

#feedsubmitform .ste {
    width: 100%;
    margin: 0px;
    padding: 0.2em;
}

#feedsubmitform span#postpublishlocation {
    line-height: 2em;
    height: 2em;
    display: block;
    white-space: nowrap;
    padding-left: 0.5em;
    width: 55%;
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
}

#feedsubmitform .button img {
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-top: 0.3em;
    margin-left: 1em;
    height: auto;
}
