/* MAIN FEED STYLE */

table#feedsubmitform {
    display: block;
    margin-top: 0px;
}

#feedsubmitform tbody, #feedsubmitform tr, #feedsubmitform td {
    display: block;
}

#feedsubmitform td {
    padding: 0px;
}

#feedsubmitform textarea {
    width: 100%;
    padding: 1em;
    border: none;
    height: 1.2em;
    resize: none;
    background-color: white;
}

#postpreviewcontent {
    background-color: white;
    margin-bottom: 1em;
    overflow: hidden;
}

#postpreviewcontent span,
#postpreviewcontent p,
#postpreviewcontent pre,
#postpreviewcontent h2,
#postpreviewcontent h3 {
    color: rgb(78, 78, 78);
}

#postpreviewcontent a {
    color: rgb(43, 43, 43);
}

#feedsubmitform #feedsubmitrow {
    background-color: #EEE;
    width: auto;
    overflow: auto;
    padding: 0px;
}

#feedsubmitform #feedsubmitrow a {
    float: right;
}

#feedcontent {
	clear: both;
}

#feednotifs {
	margin: 1em 1.5em 0em;
}

#feedsubmitform .ste {
    width: 100%;
    margin: 0px;
    padding: 0.2em;
}

#feedsubmitform span#postpublishlocation {
    line-height: 2em;
    height: 2em;
    display: block;
    white-space: nowrap;
    padding-left: 0.5em;
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#feedsubmitform .button img {
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-top: 0.3em;
    margin-left: 1em;
    height: auto;
}
