/* MAIN FEED STYLE */

table#feedsubmitform {
    display: block;
    border: 1px solid;
	border-color: #999999 #BBBBBB #BBBBBB;
    margin: 1.5em;
    margin-top: 0px;
    overflow: hidden;
}

#feedsubmitform tbody, #feedsubmitform tr, #feedsubmitform td {
    display: block;
}

#feedsubmitform td {
    padding: 5px;
}

#feedsubmitform textarea {
    width: 100%;
    padding: 0px;
    border: 0px;
    height: 2em;
    resize: none;
}

#feedsubmitform #feedsubmitrow {
    background-color: #EEE;
    width: auto;
    overflow: auto;
    padding-bottom: 5px;
}

#feedsubmitform #feedsubmitrow a {
    float: right;
}

#feedcontent {
	clear: both;
}

#feednotifs {
	margin: 1em 1.5em 0em;
}

#feedsubmitform .ste {
    width: 100%;
    margin: 0px;
    padding: 0.2em;
}

#feedsubmitform span#postpublishlocation {
    line-height: 1.8em;
    height: 1.5em;
    display: block;
    white-space: nowrap;
    width: 55%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#feedsubmitform .button.merged.right {
    margin-right: 5px;
}

#feedsubmitform .button img {
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-top: 0.3em;
    margin-left: 1em;
    height: auto;
}
