#friendinfos {
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

#friendinfos .config_button {
    float: right;
    margin-right: 10px;
}

#friendinfos img {
    margin: 0 auto;
}

#friendinfos ul {
    text-align: left;
    list-style-type: none;
    font-size: 10px;
}

#friendinfos ul li span {
    color: #7D7D7D;
    padding-right: 5px;
}

#friendinfos h2 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    padding-bottom: 5px;
}

