#roster ul#rosterlist > div > li {
    min-height: 0;
}

#roster ul#rosterlist > div > li {
    display: none;
    position: relative;
}

#roster ul#rosterlist > div:not(.empty) {
    height: 5rem;
    overflow: hidden;
}

#roster ul#rosterlist > div li:first-child p:before {
    font-family: "Material-Design-Iconic-Font";
    content: "\f2fb";
    display: inline-block;
    float: left;
    margin-right: 1rem;
}

#roster ul#rosterlist > div.groupshown li:first-child p:before {
    font-family: "Material-Design-Iconic-Font";
    content: "\f2f9";
}

#roster ul#rosterlist > div.groupshown {
    height: 100%;
}

#roster ul#rosterlist > div > li:not(.offline):not(.server_error) {
    display: list-item;
}

#roster ul#rosterlist.offlineshown > div.groupshown > li {
    display: list-item;
}

/* Chat button */
/*
#roster ul#rosterlist li .chat {
    width: 2rem;
    height: 2rem;
    left: 5.5rem;
    top: 3.5rem;
    position: absolute;

    border-radius: 2em;
    background-color: #DDD;
}
*/
/* Search */
#roster ul li.subheader.search,
#roster.search ul#rosterlist div.groupshown > li {
    display: none;
}

#roster.search ul li.subheader.search,
#roster.search ul#rosterlist div > li.found {
    display: list-item;
}

#roster ul#rosterlist > div#spinner{
    position: relative;
    overflow: visible;
    text-align: center;
    margin: 50% 0;
}
