# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided this notice is
# preserved.  This file is offered as-is, without any warranty.
# Names of contributors must not be used to endorse or promote products
# derived from this file without specific prior written permission.

# EditorConfig
# http://EditorConfig.org

# top-most EditorConfig file
root = true

# LF end-of-line, insert an empty new line and UTF-8
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[VERSION]
insert_final_newline = false

[*.{css,js,json,sh}]
indent_size = 4
indent_style = space

# Several files are using spaces to align so it’s difficult to actually
# enforce the 4 spaces of other files
[*.{php,tpl}]
indent_style = space
