Options -Indexes
AddType application/x-web-app-manifest+json .webapp
<IfModule mod_rewrite.c>
    # Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE 1

    # If you have troubles or use VirtualDocumentRoot
    # uncomment this and set it to the path where your Movim installation is
    # i.e.:
    # Movim url: http://example.com
    # RewriteBase /
    # Movim url: http://some.example.com/movim
    # RewriteBase /movim/

    RewriteBase /0.9/
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.php?query=$1 [L]
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
