#draw {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #111;
    transition: transform .3s cubic-bezier(.4,0,.2,1) .05s;
    transform: translateY(120%);
}

#draw.open {
    transform: translateX(0);
}

#draw .canvas {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

#draw ul.list.controls li {
    justify-content: space-between;
}

#draw #draw-background {
    position: absolute;
    z-index: -1;
}

#draw #screen-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#draw #draw-canvas {
    cursor: crosshair;
}

/* Controls */

#draw .draw-top-nav {
    transition: transform 0.2s;
}

#draw .draw-actions,
#draw .draw-control {
    position: absolute;
    bottom: 0.5rem;
    right: -0.5rem;
    transition: transform 0.2s;
}

#draw .draw-actions {
    left: -1.5rem;
    right: initial;
}

#draw .draw-top-nav.drawing {
    transform: translateY(-130%);
}

#draw .draw-control.drawing {
    transform: translateX(100%);
}

#draw .draw-actions.drawing {
    transform: translateX(-100%);
}

#draw .draw-control span.icon.bubble i,
#draw .draw-actions span.icon.bubble i {
    line-height: 4rem;
    height: 5rem;
}

#draw .draw-actions li span.primary,
#draw .draw-control li span.primary {
    border: 0.5rem solid transparent;
    height: 4rem;
    flex: 0 0 4rem;
}

#draw .draw-actions li.selected span.primary,
#draw .draw-control li.selected span.primary {
    border-color: #AAA;
}

#draw [data-width=small] i {
    font-size: 2rem;
}
#draw [data-width=medium] i {
    font-size: 2.5rem;
}
