your.domain.tld {
	# You need to change:
	# - Your domain/subdomain
	# - The unix php socket used to match the one of your system
	# - The port you set for movim under /ws/*
	# - The root directory where movim is installed <path-to>
	
	# Remember the installation guide on the wiki. The caddy user should have read and write access to the files under /public and must have execute permissions for the daemon
	# Running `chown -R caddy:caddy movim` should fix any issues
	
	# Feel free to delete all comments

	encode zstd gzip

	root * /path-to/movim/public

	handle {
		php_fastcgi unix//run/php/php-fpm.sock
		file_server
	}
	
	handle /ws/* {
		# This part of the configuration is generated when launching the daemon in the console output
	}

	# Security options you can ignore or delete

	header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
	header X-XSS-Protection "1; mode=block"
	header X-Content-Type-Options "nosniff"
	header X-Frame-Options "DENY"
	header -Server
	header / {
		Content-Security-Policy = "upgrade-insecure-requests; default-src 'self'; style-src 'self'; script-src 'self'; img-src 'self'; object-src 'self'; worker-src 'self'; manifest-src 'self';"
		Referrer-Policy = "strict-origin-when-cross-origin"
		Permissions-Policy = "fullscreen=(self)"
		cache-control = "max-age=0,no-cache,no-store,must-revalidate" # This disables caching may want to deactivate
		X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, notranslate, noimageindex" # Should work against indexing engines like google for more privacy
	}
}
