#bookmarks li {
    line-height: 2em;
    padding: 0 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bookmarks li .cross {
    float: right;
    opacity: 0.3;
}

#bookmarks li:hover .cross {
    opacity: 1;
}
