/* WALL STYLE */

#wall {

}

.message {
	border-bottom: 1px solid #ECECEC;
    width: 100%;
    font-size: 9px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.message .comment {
	margin-bottom: 0.3em;
	background-color: #F3F3F3;
	padding: 0.4em;
	margin-left: 80px;
	margin-right: 5px;
}

.message .avatar {
	width: 70px;
	height: 70px;
	margin: 5px;
	margin-left: 0px;
	display: block;
	float: left;
	background-color: #9BBBC6;
}

.message .content {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-left: 80px;
	margin-right: 5px;
}
