#chat_widget .chat_box {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 75%;
    max-width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#chat_widget .chat_box ul {
    margin: 0 auto;
    max-width: 100rem;
}

#chat_widget .chat_box form {
    width: calc(100% - 5rem);
}

#chat_widget .chat_box .control {
    font-size: 4rem;
    color: gray;
    margin-top: 3rem;
}

#chat_widget .chat_box .control:hover {
    cursor: pointer;
    color: #333;
}

#chat_widget section {
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    #chat_widget .chat_box {
        width: 100%;
    }
}
