#chats {
    position: fixed;
    bottom: -2px;
    right: 200px;
    padding-right: 0.5em;
    z-index: 3;
}

#chats .chat {
    display: inline-block;
    position: relative;
    bottom: 0;
    overflow: hidden;
    margin-left: 0.5em;
}

#chats .chat .panel {
    display: none;
}

#chats .chat .tab {
    background-color: #272727;
    color: white;
}

#chats .chat .tab.alert .name {
    display: relative;
}

#chats .chat .tab.alert .name:after {
    content: "";
    width: 2em;
    height: 2em;
    display: block;
    background-image: url(img/envelope.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    float: right;
    background-color: #D92727;
    margin-left: 0.5em;
    margin-right: -0.5em;
}

#chats .chat .tab:hover {
    background-color: #333;
}

#chats .chat .tab .name {
    line-height: 2em;
    padding-right: 0.5em;
}

#chats .chat .tab .name img {
    float: left;
    margin-right: 0.5em;
    height: 2em;
    width: 2em;
}

#chats .chat .tab:hover {
    cursor: pointer;
}

#chats .chat .panel {
    background-color: white;
    width: 225px;
}

#chats .chat .panel .head {
    background-color: #272727;
    height: 2em;
}


#chats .chat .panel .head span.chatbutton {
    width: 0px;
    height: 0px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 1em;
    float: right;   
}

#chats .chat .panel .head span.chatbutton:hover {
    background-color: #333;
}

#chats .chat .panel .head span.chatbutton.cross {
    background-image: url(img/cross.png);
}

#chats .chat .panel .head span.chatbutton.arrow {
    background-image: url(img/arrow.png);
}

#chats .chat .panel .head a.name {
    padding-right: 0.5em;
    line-height: 2em;
    display: inline-block;
    margin: 0px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#chats .chat .panel .head:hover {
    cursor: pointer;
}

#chats .chat .panel .head > * {
    color: white;
}

#chats .chat .panel .head a:hover {
    text-decoration: underline;
}

#chats .chat .panel .head img {
    margin-right: 0.5em;
    float: left;
    height: 2em;
    width: 2em;
}

#chats .chat .panel .messages {
    background-color: white;
    max-height: 16em;
    overflow: auto;
    min-height: 3em;
    border: 1px solid #888;
    border-top: 0px;
    border-bottom: 0px;
}

#chats .chat .panel .text {
    overflow: hidden;
    border: 1px solid #888;
}

#chats .chat .panel .text textarea {
    width: 100%;
    border: 0px;
    padding: 0.2em;
    overflow: auto;
    background-color: white;
    resize: none;
    font-size: 1em;
    height: 1.3em;
    overflow-y: hidden;
}

#chats .chat .panel .text textarea:focus {
    border: 0px;
}

#chats .chat .panel .messages .message {
    line-height: 1.5em;
    padding: 0.25em;
    word-wrap: break-word;
    font-size: 0.9em;
}

#chats .chat .panel .messages .message.me {
    background-color: rgba(76, 90, 97, 0.1);
}

#chats .chat .panel .messages .message.own {
	color: blue;
}

#chats .chat .panel .messages .message.presence {
	color: black;
	font-weight: bold;
}

#chats .chat .panel .messages .message span.date {
    float: right;
    color: #ccc;
    padding: 0.2em;
    line-height: 1em;
}

#chats .chat .panel .messages .message.me span.date {
    color: #666;
}
