#chat_header.encrypted:after{
    content: "";
    display: inline-block;
    font-family: "Material Design Iconic Font";
    content: "\f041";
    font-size: 2.5rem;
    margin-left: 1rem;
}

#chat_widget {
    background-color: var(--movim-background);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main:not(.enabled) #chat_widget {
    overflow-y: auto;
}

#chat_widget > div,
#chat_widget > header {
    max-width: 100%;
    width: 100%;
}

#chat_widget p.compose:not(:empty),
#chat_widget p.compose:empty + p {
    animation: fadein 0.3s;
}

#chat_widget p.compose:not(:empty) + p {
    display: none;
}

#chat_widget .contained {
    overflow-y: scroll;
    height: 100%;
}

#chat_widget .contained section {
    padding-bottom: 1rem;
    max-width: 100rem;
    margin: 0 auto;
}


#chat_widget .chat_box {
    background-color: rgba(var(--movim-background-main), 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#chat_widget .chat_box ul {
    margin: 0;
    max-width: 100%;
}

#chat_widget .chat_box form {
    margin-right: 4.5rem;
    padding-left: 7rem;
    padding-right: 1rem;
}

#chat_widget .chat_box form > div {
    min-height: 0;
}

#chat_widget .chat_box form textarea {
    padding: 0 0 1rem;
    margin-top: 3rem;
    margin-bottom: -0.5rem;
    max-height: 50vh;
    overflow-y: auto;
}

#chat_widget .chat_box span.primary,
#chat_widget .chat_box span.control {
    font-size: 3.5rem;
    color: rgba(var(--movim-font), 0.68);
}

#chat_widget .chat_box span.primary {
    left: 0.5rem;
}

#chat_widget .chat_box span.control i {
    font-size: inherit;
}

#chat_widget .chat_box span.control:hover {
    cursor: pointer;
    color: rgba(var(--movim-font), 0.54);
}

#chat_widget .chat_box span.control:active {
    color: #333;
}

#chat_widget .chat_box span.control.send.sending {
    animation: loading_opacity 1s infinite alternate;
}

@keyframes loading_opacity {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

#chat_widget li.oppose span.control {
    right: 2rem;
}

#chat_widget .contained ul {
    overflow-x: hidden;
}

/* Chatroom */

#chat_widget ul.simple {
    padding-left: 2rem;
}

#chat_widget div:not(.chat_box) li span.icon {
    top: 3.25rem;
}

#chat_widget li img:not(.emoji):not(.hfr) {
    max-height: 30rem;
    max-width: 100%;
    display: block;
}

#chat_widget li div.bubble.sticker.file img.active:hover {
    cursor: pointer;
}

#chat_widget li div.bubble.sticker img:not(.emoji):not(.hfr) {
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    width: auto;
    max-height: 150px;
}

#chat_widget li div.bubble.sticker.file img:not(.emoji):not(.hfr) {
    max-height: 170px;
    object-fit: cover;
}

#chat_widget ul:after {
    content: " ";
    display: block;
    clear: both;
}

#chat_widget .contained.muc ul li span.primary:not(:empty):hover {
    cursor: pointer;
}

#chat_widget .contained:not(.muc) ul li.oppose + li.oppose span.icon,
#chat_widget .contained:not(.muc) ul li.oppose + li.oppose .bubble::before,
#chat_widget .contained:not(.muc) ul li:not(.oppose):not(.separator):not(.date) + li:not(.oppose) span.icon,
#chat_widget .contained:not(.muc) ul li:not(.oppose):not(.separator):not(.date) + li:not(.oppose) .bubble::before {
    display: none;
}
/*
#chat_widget > .placeholder {
    padding-top: 27em;
    background-size: 28rem;
    background-position: center 5rem;
    background-image: url('img/chat.svg');
}*/

#chat_widget .contained ul li {
    animation: fadein 0.2s;
}

#chat_widget ul ~ .placeholder {
    display: none;
}

#chat_widget ul:empty ~ .placeholder.show {
    display: block;
    animation: fadein 1s;
}

table.emojis td {
    width: 10%;
    text-align: center;
    padding: 1rem 0;
}

.chat_box ul.list li {
    padding: 0.01rem 0;
}

.chat_box ul.list li > .control.control {
    right: 0rem;
}

#chat_widget .emojis_open:hover,
table.emojis td:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
    #chat_widget .chat_box {
        left: 0;
        width: 100%;
    }
}

#chat_widget div.quoted {
    border-right: 4px solid rgb(var(--movim-main));
}

/*#chat_widget div.call {
    background-color: red;
}*/

/* File preview */
#chat_widget div.file:not(.bubble) {
    word-break: break-all;
}

#chat_widget div.file:not(.bubble) a {
    padding: 1rem 0;
}

#chat_widget div.file:not(.bubble) span.size {
    display: block;
}

#chat_widget audio {
    border-radius: 0.5rem;
    width: 100%;
    min-width: 23rem;
}
