#main {
    
}

#center {
    position: relative;
}

#navtabs, #navtabs li.on {
    background-color: transparent;
    color: white;
}

#navtabs li.on {
    background-color: #111;
}

#navtabs li.on a {
    color: white;
}

#media .breadcrumb {
    background-color: transparent;
}

#media .breadcrumb a:after {
    border-color: #222;
}

#media ul.thumb a {
    position: relative;
}

#media ul.thumb li div.remove {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-size: 1em;
    display: none;
}

#media ul.thumb li:hover div.remove {
    display: block;
}

#media ul.thumb li:hover div.remove:hover {
    background-color: black;
    cursor: pointer;
}

#media a:link, #media a:visited,
#viewer a:link, #viewer a:visited {
    color: #DDD;
}

#navtabs li:hover {
    background-color: #111;
}

#main, #center {
    background-color: #222;
    color: white;
}

#viewer .viewer {
    position: relative;
}

#viewer .viewer img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

#viewer .viewer .exif {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1em;
}

#viewer .viewer .exif ul {
    list-style-type: none;
}

#viewer .viewer .exif ul li {
    width: 50%;
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3em;
    text-overflow: ellipsis;
}

#viewer .viewer .exif span {
    font-weight: bold;
    margin-right: 1em;
}

#media .size {
    position: absolute;
    top: -3em;
    right: 0px;
    line-height: 3em;
    display: block;
    padding-right: 4em;
}
