html {
    height: 100%;
}

body {
    background-color: #040404 !important;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    max-width: auto !important;
    background-image: url('img/background.png');
}

#visio {
    width: 100%;
    height: 100%;
}

#visio .menu {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 0.5em;
    width: 100%;
}

#visio #remote-video,
#visio #local-video {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: width 0.5s ease;
}

#visio #local-video.tiny {
    width: 20%;
    bottom: 3.5em;
}

#visio #local-video.tiny:hover {
    width: 50%;
    bottom: 3.5em;
}

#visio #log {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

#visio #log div {
    margin-bottom: 1em;
}


#visio #avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 200px;
    margin-left: -100px;
    margin-top: -150px;
}

#visio #avatar img {
    width: 100%;
}

#visio #avatar.tiny {
    display: none;
}

#visio #avatar .name {
    color: white;
    display: block;
    text-align: center;
    line-height: 1.3em;
    margin-top: 1em;
    font-size: 1.6em;
    width: 200px;
}

#connection {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
    color: white;
    width: 100%;
    height: 100%;
}
