html {
    height: 100%;
}

body {
    background-color: #040404 !important;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    max-width: auto !important;
    background-image: url('img/background.png');
}

#visio {
    width: 100%;
    height: 100%;
    position: relative;
}

#visio .menu {
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em 0;
    width: 100%;
}

#visio .menu #toggle-microphone, 
#visio .menu #toggle-camera, 
#visio .menu #hang-up {
    display: none;
}

#visio .menu #toggle-screen {
    float: left;
    margin-left: 0.5em;
}

#visio .menu .oppose:first-child {
    margin-right: 0.5em;
}

#visio #avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 200px;
    margin-left: -100px;
    margin-top: -160px;
}

#visio #avatar img {
    width: 100%;
    display: block;
}

#visio #avatar.tiny {
    display: none;
}

#visio #avatar .name {
    color: white;
    display: block;
    text-align: center;
    line-height: 1.3em;
    margin-top: 1em;
    font-size: 1.6em;
}

#visio #avatar #status {
    color: white;
    text-align: center;
    margin-top: 1em;
    line-height: 1.5em;
}

#visio #remote-video,
#visio #local-video {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: none;
}

#visio #log {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}

#visio #log div {
    margin-bottom: 1em;
}
/* Status calling */
#visio.calling #remote-video,
#visio.calling #local-video {
    display: block;
}

#visio.calling #local-video {
    width: 20%;
    height: auto;
    bottom: 3.5em;
    transition: width 0.5s ease;
    right: 0;
}

#visio.calling #local-video:hover {
    width: 40%;
}

#visio.calling .menu #call {
    display: none;
}

#visio.calling .menu #toggle-microphone, 
#visio.calling .menu #toggle-camera, 
#visio.calling .menu #hang-up {
    display: inline-block;
}

#visio.calling #avatar {
    display: none;
}

#connection {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
    color: white;
    width: 100%;
    height: 100%;
}
