#visio video {
    width: 100%;
    height: 100%;
}

body {
    background-color: #111;
}

#visio #visio_source {
    display: none;
}

#visio #switch_camera:not(.enabled),
#visio #screen_sharing:not(.enabled) {
    display: none;
}

#visio .infos {
    color: white;
    position: absolute;
    top: calc(50% - 15rem);
    width: 100%;
    z-index: -1;
    text-align: center;
}

#visio #main {
    outline: 0.5rem solid transparent;
}

#visio .infos #remote_level {
    overflow: hidden;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 6rem;
    line-height: 15rem;
    border: 0.5rem solid transparent;
}

#visio .infos #remote_level div.avatar img {
    width: 100%;
}

#visio .infos p.state {
    margin: 0;
    font-size: 1.8rem;
}

#visio video#video,
#visio video#screen_sharing_video.sharing {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 25rem;
    height: auto;
    border-radius: 0.25rem;

    background-image: url('../theme/img/movim_cloud.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 25%;
}

#visio video#screen_sharing_video:not(.sharing),
#visio video#screen_sharing_video.sharing + video#video {
    display: none;
}

@media screen and (max-width: 800px) {
    #visio video#video,
    #visio video#screen_sharing_video.sharing {
        width: 15rem;
    }
}

#visio header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

#visio header ul.list li {
    justify-content: space-between;
}

#visio header i {
    text-shadow: 0 0 3rem black;
}

#visio header #no_mic_sound.disabled {
    display: none;
}

#visio header #no_mic_sound {
    animation: fadein 0.3s;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 1rem;
}

#visio .button.action {
    right: calc(50% - 3.5rem);
}

#visio .ring {
    -webkit-animation: Rotate 2000ms infinite;
    animation: Rotate 2000ms infinite;
}

#visio #remote_state {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#visio #remote_state i {
    font-size: 2rem;
    margin-right: 1rem;
    opacity: 0.5;
    color: white;
}

#visio #video,
#visio #remote_video {
    transition: opacity 0.5s ease-in-out;
}

#visio #video.muted,
#visio #remote_video.muted {
    opacity: 0;
}

@-webkit-keyframes Rotate {
    0% {-webkit-transform:rotate(0deg);}
    4% {-webkit-transform:rotate(-22.5deg);}
    8% {-webkit-transform:rotate(0deg);}
    12% {-webkit-transform:rotate(22.5deg);}
    16% {-webkit-transform:rotate(0deg);}
    20% {-webkit-transform:rotate(-22.5deg);}
    24% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(0deg);}
}

@keyframes Rotate {
    0% {transform:rotate(0deg);}
    4% {transform:rotate(-22.5deg);}
    8% {transform:rotate(0deg);}
    12% {transform:rotate(-22.5deg);}
    16% {transform:rotate(0deg);}
    20% {transform:rotate(-22.5deg);}
    24% {transform:rotate(0deg);}
    100% {transform:rotate(0deg);}
}

#drawer {
    display: none;
}

#visio #toggle_audio i {
    transition: color 0.2s ease-out;
}

#visio .infos img {
    transition: border-color 0.2s ease-out;
}
