#visio video {
    width: 100%;
    height: 100%;
    background-color: #111;
}

#visio .level,
#visio video#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 25rem;
    height: auto;
}

@media screen and (max-width: 800px) {
    #visio .level,
    #visio video#video {
        width: 15rem;
    }
}

#visio header {
    top: 2.5rem;
}

#visio .button.action {
    right: calc(50% - 3.5rem);
}

#visio .level {
    background-color: rgba(255, 255, 255, 0.1);
    height: 0.5rem;
}

#visio .ring {
    -webkit-animation: Rotate 2000ms infinite;
    animation: Rotate 2000ms infinite;
}

@-webkit-keyframes Rotate {
  0% {-webkit-transform:rotate(0deg);}
  4% {-webkit-transform:rotate(-22.5deg);}
  8% {-webkit-transform:rotate(0deg);}
  12% {-webkit-transform:rotate(22.5deg);}
  16% {-webkit-transform:rotate(0deg);}
  20% {-webkit-transform:rotate(-22.5deg);}
  24% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(0deg);}
}

@keyframes Rotate {
  0% {transform:rotate(0deg);}
  4% {transform:rotate(-22.5deg);}
  8% {transform:rotate(0deg);}
  12% {transform:rotate(-22.5deg);}
  16% {transform:rotate(0deg);}
  20% {transform:rotate(-22.5deg);}
  24% {transform:rotate(0deg);}
  100% {transform:rotate(0deg);}
}
