#visio {
    display: block;
    position: fixed;
    bottom: 8rem;
    right: 1rem;
    width: 40rem;
    height: 25rem;
    background-color: #111;
    border-radius: 1rem;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

#chat_widget #visio {
    position: relative;
    bottom: 0;
    right: 0;
    border-radius: 0;
    max-height: 40%;
    height: 100%;
    z-index: 0;
}

body > #visio:not(:fullscreen) #main,
body > #visio:not(:fullscreen) #toggle_dtmf,

#chat_widget #visio #switch_chat,
#visio:not([data-from]),
#visio:not([data-type]) #toggle_audio,
#visio[data-type=video] #toggle_dtmf,
#visio[data-type=video] #dtmf,
#visio:not([data-type=video]) #toggle_video,
#visio:not([data-type=video]) #switch_camera,
#visio:not([data-type=video]) #screen_sharing,
#visio:not([data-type=video]) #local_video,
#visio:not([data-type=video]) #remote_video,
#visio:not([data-type=video]) #screen_sharing_video,
#visio:not([data-type=video]) #video {
    display: none;
}

#visio video {
    width: 100%;
    height: 100%;
}

#visio #visio_source {
    display: none;
}

#visio #switch_camera:not(.enabled),
#visio #screen_sharing:not(.enabled) {
    display: none;
}

#visio #dtmf {
    top: calc(50% - 15rem);
    position: absolute;
    width: 100%;
    text-align: center;
}

#visio #dtmf p.dtmf {
    max-width: 10rem;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    direction: rtl;
    text-align: center;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(to left, black calc(100% - 2rem), transparent);
}

#visio .infos {
    color: white;
    position: absolute;
    top: calc(50% - 12rem);
    width: 100%;
    z-index: -1;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#visio #dtmf:not(.hide)~.infos {
    opacity: 0;
}

#visio #main {
    outline: 0.5rem solid transparent;
    bottom: 2rem; /* Override global CSS */
}

#visio .infos #remote_level {
    overflow: hidden;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 6rem;
    line-height: 15rem;
    border: 0.5rem solid transparent;
}

#visio .infos #remote_level div.avatar img {
    width: 100%;
}

#visio .infos p.state {
    margin: 0;
    font-size: 1.8rem;
}

#visio video#local_video,
#visio video#screen_sharing_video.sharing {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 25rem;
    height: auto;
    border-radius: 0.25rem;

    background-image: url('../theme/img/movim_cloud.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 25%;
}


body > #visio:not(:fullscreen) video#local_video,
body > #visio:not(:fullscreen) video#screen_sharing_video.sharing {
    width: 10rem;
    right: 0;
    bottom: 0;
}

body > #visio:not(:fullscreen) #visio_contact {
    transform: scale(0.7);
}

@media screen and (max-width: 800px) {
    #chat_widget #visio:not(:fullscreen) #visio_contact {
        transform: scale(0.7);
    }
}

#visio video#screen_sharing_video:not(.sharing),
#visio video#screen_sharing_video.sharing+video#local_video {
    display: none;
}

@media screen and (max-width: 800px) {
    #visio video#local_video,
    #visio video#screen_sharing_video.sharing {
        width: 15rem;
    }
}

#visio header {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: transparent;
}

#visio header ul.list li {
    justify-content: space-between;
}

#visio header i {
    text-shadow: 0 0 3rem black;
}

#visio header #no_mic_sound.disabled {
    display: none;
}

#visio header #no_mic_sound {
    animation: fadein 0.3s;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#visio .button.action {
    right: calc(50% - 3.5rem);
    position: absolute;
}

#visio .ring {
    -webkit-animation: Rotate 2000ms infinite;
    animation: Rotate 2000ms infinite;
}

#visio #remote_state {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#visio #remote_state i {
    font-size: 2rem;
    margin-right: 1rem;
    opacity: 0.5;
    color: white;
}

#visio #local_video,
#visio #remote_video {
    transition: opacity 0.5s ease-in-out;
}

#visio #local_video.muted,
#visio #remote_video.muted {
    opacity: 0;
}

@-webkit-keyframes Rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    4% {
        -webkit-transform: rotate(-22.5deg);
    }

    8% {
        -webkit-transform: rotate(0deg);
    }

    12% {
        -webkit-transform: rotate(22.5deg);
    }

    16% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(-22.5deg);
    }

    24% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes Rotate {
    0% {
        transform: rotate(0deg);
    }

    4% {
        transform: rotate(-22.5deg);
    }

    8% {
        transform: rotate(0deg);
    }

    12% {
        transform: rotate(-22.5deg);
    }

    16% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-22.5deg);
    }

    24% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#visio #toggle_audio i {
    transition: color 0.2s ease-out;
}

#visio .infos img {
    transition: border-color 0.2s ease-out;
}