ul.stats {
    list-style-type: none;
    position: relative;
    height: 200px;
}

ul.stats  li {
    background-color: #383735;
    width: 9%;
    display: inline-block;
    margin-top: 2em;
}

ul.stats  li span {
    text-align: center;
    display: block;
}

ul.stats li span.date {
    margin-top: -2em;
    margin-bottom: 1.5em;
}

ul.stats li span.num {
    color: white;
}
