#notifs_widget li:not(:first-child) {
    margin-bottom: 0.5em;
}

#notifs_widget li img {
    max-height: 2em;
    float: left;
    margin-right: 0.5em;
    border-radius: 1em;
}

#notifs_widget.groupshown {
    height: auto;
}

#notifs_widget{
    height: 5rem;
    overflow: hidden;
}
