/*#notifslist {
    clear: both;
}

#notifslist li {
    overflow: hidden;
    line-height: 3em;
    list-style-type: none;
}

#notifslist li a:not(.button) {
    display: block;
}

#notifslist li.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/

#notifs_widget li:not(:first-child) {
    margin-bottom: 0.5em;
}

#notifs_widget li img {
    max-height: 2em;
    float: left;
    margin-right: 0.5em;
    border-radius: 1em;
}
