#notification_widget {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 5;

    pointer-events: none;
}

#notification_widget .notif {
    background-color: rgba(0, 0, 0, 0.8);
    width: 20em;
    max-width: 100%;
    margin: 1em;
    margin-top: 0em;
    color: white;
    padding: 0.7em;
    padding-left: 3em;
    opacity: 1;
    
    line-height: 1.5em;
    
    background-repeat: no-repeat;
    background-position: 1em center;    
    background-image: url(img/success.png);
}

#notification_widget .notif.error {
    background-image: url(img/error.png);
}

#notification_widget .notif.warning {
    background-image: url(img/warning.png);
}

#notification_widget .notif.info {
    background-image: url(img/info.png);
}

#notification_widget .notif:hover {
    opacity: 0.4;
}


.notificationAnim {
    opacity: 0;
    visibility: hidden;
    position: relative;
    -webkit-animation: fadeOut 5s linear;
       -moz-animation: fadeOut 5s linear;
        -ms-animation: fadeOut 5s linear;
         -o-animation: fadeOut 5s linear;
            animation: fadeOut 5s linear;
}

@-webkit-keyframes fadeOut {
      0% { opacity: 0; visibility: visible; left: 0px; }
      5% { opacity: 1; visibility: visible; left: 0px; }
     90% { opacity: 1; visibility: visible; left: 0px; }
    100% { opacity: 0; visibility: hidden; left: -300px; }
}

@-moz-keyframes fadeOut {
      0% { opacity: 0; visibility: visible; left: 0px; }
      5% { opacity: 1; visibility: visible; left: 0px; }
     90% { opacity: 1; visibility: visible; left: 0px; }
    100% { opacity: 0; visibility: hidden; left: -300px; }
}

@-ms-keyframes fadeOut {
      0% { opacity: 0; visibility: visible; left: 0px; }
      5% { opacity: 1; visibility: visible; left: 0px; }
     90% { opacity: 1; visibility: visible; left: 0px; }
    100% { opacity: 0; visibility: hidden; left: -300px; }
}

@media screen and (max-width: 1024px) {
    #notification_widget .notif {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}
