#profile {
    text-align: center;
    margin-bottom: 5px;
}

#profile td {
	vertical-align: middle;
	text-align: left;
}

#profile h1 {
    padding: 0px;
    border: none;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile img {
    max-width: 150px;
    margin: 0 auto;
}

#profile #status {
    border: 1px solid transparent;
    min-height: 1.2em;
    resize: vertical;
    color:  white;
    text-align: center;
    background-color: transparent;
}

#profile #status:hover {
    border-color: #DDD;
}

#profile .presence_button.online { background-image: url(img/online.png); }
#profile .presence_button.away { background-image: url(img/away.png); }
#profile .presence_button.dnd { background-image: url(img/dnd.png); }
#profile .presence_button.xa { background-image: url(img/xa.png); }
