#profile {
    text-align: center;
    margin-bottom: 20px;
}

#profile h1 {
    border: none;
    padding: 0;
    width: 60%;
    margin-bottom: 5px;
    float: right;
    text-align: left;
}

#profile img {
	float: left;
	display: block;
    width: 35%;
}

#profile #status {
    color: #444444;
    font-size: 11px;
    padding-top: 7px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    text-align: center;
}

#profile #status:hover {
    border-color: #DDD;
}

#profile .presence_button.online { background-image: url(img/online.png); }
#profile .presence_button.away { background-image: url(img/away.png); }
#profile .presence_button.dnd { background-image: url(img/dnd.png); }
#profile .presence_button.xa { background-image: url(img/xa.png); }
