#profile {
    text-align: center;
    margin-bottom: 5px;
}

#profile td {
	vertical-align: middle;
	text-align: left;
}

#profile h1 {
    margin: 0px;
    line-height: 1.3em;
    padding: 0px;
    padding-left: 10px;
}

#profile img {
	width: 70px;
}

#profile #status {
    color: #444444;
    font-size: 11px;
    padding-top: 7px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    text-align: center;
    width: 80%;
}

#profile #status:hover {
    border-color: #DDD;
}

#profile .presence_button.online { background-image: url(img/online.png); }
#profile .presence_button.away { background-image: url(img/away.png); }
#profile .presence_button.dnd { background-image: url(img/dnd.png); }
#profile .presence_button.xa { background-image: url(img/xa.png); }
