#contactsummary {
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#contactsummary h1 {
    padding: 0px;
    border: none;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

#contactsummary img {
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

#contactsummary span {
    background-repeat: no-repeat;
    background-position: 0px 12px;
    padding: 8px;
}

#contactsummary span.birth { background-image: url(img/birth.png); }
#contactsummary span.address { background-image: url(img/address.png); }
#contactsummary span.website { background-image: url(img/place.png); }
#contactsummary span.hearth { background-image: url(img/hearth.png); }
#contactsummary span.mobile { background-image: url(img/mobile.png); }
#contactsummary span.M { background-image: url(img/male.png); }
#contactsummary span.F { background-image: url(img/female.png); }
