#contactsummary .block {
    min-height: 160px;
    float: left;
    max-width: 280px;
    overflow: hidden;
    color: white;
    text-shadow: 0px 0px 2px #333;
    font-size: 14px;
    margin-right: 20px;
    padding-top: 10px;
}

#contactsummary .block h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 26px;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 10px 0px;
    background-repeat: no-repeat;
    background-position: right center;
    display: inline;
    line-height: 1.2em;
    padding-right: 20px;
}

#contactsummary .block h1.online { background-image: url(img/online.png); }
#contactsummary .block h1.away { background-image: url(img/away.png); }
#contactsummary .block h1.dnd { background-image: url(img/dnd.png); }
#contactsummary .block h1.xa { background-image: url(img/xa.png); }

#contactsummary .block span {
    display: inline-block;
    padding-right: 7px;
    color: #CCC;
}

#contactsummary .block a:link, #contactsummary .block a:visited {
    color: #EEE;
    text-decoration: underline;
}

#contactsummary .block.avatar img {
    background-color: white;
    padding: 4px; 
    border-radius: 3px;
    height: 120px;
    width: auto;
    margin-left: 20px;
    border: 1px solid #DDD;
}

#contactsummary .block .textbubble {
    height: 100px;
    overflow-y: auto;
    font-size: 13px;
    margin: 0px;
    text-overflow: clip ellipsis;
    padding-right: -10px;
    background-color: transparent;
    width: 250px;
}
