/*#subscribe .server:hover {
    background-color: #EEE;
    cursor: pointer;
    border-color: #BBB;
}

#subscribe .server h1 {
    padding: 0;
    line-height: 1em;
    font-size: 1.2em;
}

#subscribe .server img.flag {
    float: right;
    margin-top: -1em;
}

#subscribe .server a {
    text-decoration: none;
    line-height: 1.5em;
}

#subscribe .server.star {
    background-image: url('img/star.svg');
    background-size: 2.5em 2.5em;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

#subscribe .server {
    border: 1px solid #DDD;
    padding: 1em;
}
*/
