#navtabs {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #EEE;
    overflow: hidden;
}

#navtabs li {
    display: inline;
    cursor: pointer;
    line-height: 2.5em;
    padding: 1em 20px;
}

.tabs {
    clear: both;
}

#navtabs li:hover {
    background-color: #F5F5F5;
}

#navtabs li.on {
    font-weight: bold;
    background-color: white;
}
