#navtabs {
    list-style-type: none;
    margin: 0px;
    padding: 7px 5px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
}

#navtabs li {
    display: inline;
    padding: 6px 15px;
    padding-bottom: 8px;
    cursor: pointer;
}

.tabs {
    clear: both;
}

#navtabs li:hover {
    background-color: #E5E5E5;
    padding-bottom: 7px;
}

#navtabs li.on {
/*    border: 1px solid #E5E5E5;
    border-bottom-color: white;*/
    font-weight: bold;
}
