#logout {
    font-size: 13px;
    color: #ccc;
}

#logout .online { background-image: url(img/online.png); }
#logout .away { background-image: url(img/away.png); }
#logout .dnd { background-image: url(img/dnd.png); }
#logout .xa { background-image: url(img/xa.png); }

#logouttab {
	position: fixed;
	top: 0px;
	right: 50%;
    margin-right: -250px;
	cursor: pointer;
    z-index: 3;
    padding: 12px 10px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

#logouttab:hover {
    color: white;
}

#logoutlist {
    display: none;
    position: fixed;
    top: 36px;
    right: 50%;
    margin-right: -250px;
    z-index: 1;
    background-color: #242424;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden; 
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#logoutlist a {
    display: block;
    padding: 12px 10px;
    background-repeat: no-repeat;
    background-position: 10px 16px;
    padding-left: 28px;
}

#logoutlist a:hover {
    cursor: pointer;
    background-color: #EEE;
    color: black;
}
