#logout {
	position: absolute;
	top: 3px;
	right: 0px;
    overflow: hidden;
    display: block;
    padding: 4px 15px;
	cursor: pointer;
    color: white;
    font-size: 11px;
    z-index: 2;
}

#logout:hover {
    background-color: #6F6F6F;
}
