#roster {
    background-color: rgba(36, 36, 36, 1);
    height: 100%;
}


#roster ul#rosterlist {
    list-style-type: none;
    display: block;
    background-color: rgba(36, 36, 36, 1);
    padding-bottom: 91px;
    pointer-events: auto;
}

/* Display/hide the elements */
#roster.hide {
    display: none;
}

#roster ul#rosterlist li .chat.on:hover {
    cursor: pointer;
}

#roster ul#rosterlist div li {
    display: none;
}

#roster ul#rosterlist div.groupshown li:not([class=offline]):not([class=server_error]) {
    display: list-item;
}

#roster ul#rosterlist.offlineshown div.groupshown li {
    display: list-item;
}

/* The list */

#roster ul#rosterlist li:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.03);
}

#roster ul#rosterlist li img {
    float: left;
    width: 30px;
    margin-right: 7px;
}

#roster ul#rosterlist li a {
    display: block;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
    color: #BBB;
    font-size: 13px;
    line-height: 28px;
    text-overflow: ellipsis;
}

#roster ul#rosterlist li a span.ressource {
    font-size: 0.7em;
    color: #777;
    margin-left: 0.5em;
}

#roster ul#rosterlist h1 {
    padding: 0.5em;
    color: #777;
    line-height: 1em;
    font-size: 15px;
}

#roster ul#rosterlist h1:hover {
    cursor: pointer;
}

#roster ul#rosterlist h1:before {
    content: "+";
    width: 20px;
    padding-right: 5px;
    display: inline-block;
    text-align: center;
}

#roster ul#rosterlist div.groupshown h1:before {
    content: "-";
}

#roster ul#rosterlist li .chat {
    width: 22px;
    height: 22px;
    float: right;
    padding-right: 3px;
    background-image: url(img/offline.png);
    background-repeat: no-repeat;
    background-position: 3px 6px;
}

#roster ul#rosterlist li .chat.on:hover {
    cursor: pointer;
}

#roster ul#rosterlist li.online .chat {
    background-image: url(img/online.png);
}

#roster ul#rosterlist li.away .chat {
    background-image: url(img/away.png);
}

#roster ul#rosterlist li.dnd .chat {
    background-image: url(img/dnd.png);
}

#roster ul#rosterlist li.xa .chat {
    background-image: url(img/xa.png);
}

#roster ul#rosterlist li.server_error .chat {
    background-image: url(img/server_error.png);
}

#roster ul#rosterlist li:hover, #roster ul li.active {
    background-color: black;
}

#roster ul#rosterlist li.focused {
    background-color: #555;
}

#roster li .infoicon {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    float: right;
    margin-top: 6px;
    margin-right: 2px;
}

#roster li .mobile {
    background-image: url('img/mobile.png');
}

#roster li .web {
    background-image: url('img/earth.png');
}

#roster li .bot {
    background-image: url('img/robot.png');
}

#roster li .tune {
    background-image: url('img/music.png');
}

#rostermenu {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    background-color: rgba(36, 36, 36, 1);
    width: 200px;
    box-shadow: 0px 0px 10px black;
    pointer-events: auto;
}

#rostermenu li#search input {
    height: 30px;
    width: 100%;
}

#rostermenu li:last-child {
    float: right;
}
