#stickers ul.list > li > img.sticker {
    padding: 0.25rem;
    width: 100%;
    box-sizing: border-box;
}

#stickers {
    overflow-x: hidden;
}

#stickers ul.list > li:hover {
    cursor: pointer;
}

#stickers ul.list > li.block:not(.large) {
    transition: all 100ms ease-in;
    transform: scale(1);
    padding: 0;
}

#stickers ul.list > li.block.zoomed {
    transform: scale(1.3);
    z-index: 2;
}

#gifssearchbar {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(var(--movim-font), 0.12);
    margin-bottom: 0.5rem;
}

#gifs {
    height: calc(100% - 6.25rem);
    overflow-x: hidden;
}

#gifs .masonry {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 1.25rem);
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

#gifs .masonry:not(:empty) + .placeholder {
    display: none;
}

#gifs .masonry .brick {
    flex: auto;
    display: block;
    height: 19rem;
    min-width: 10rem;
    max-width: calc(50% - 2rem);
    object-fit: cover;
    margin: 0 2rem 2rem 0;
    border-radius: 0.5rem;
}

#gifs .masonry .brick:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(var(--movim-font), 0.7), 0 0 1rem rgba(var(--movim-font), 0.3);
}