#onboarding .placeholder {
    background-position: center 1rem;
    background-size: 24rem;
    background-repeat: no-repeat;
    padding-top: 26rem;
}

#onboarding.public .placeholder {
    background-image: url(../theme/img/public.svg);
}

#onboarding.popups .placeholder {
    background-image: url(../theme/img/popups.svg);
}
