#preview {
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 3;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s cubic-bezier(.4,0,.2,1) .05s;
}

#preview:not(:empty) {
    pointer-events: auto;
    opacity: 1;
}

#preview img {
    max-height: calc(100% - 10rem);
    margin-top: -5rem;
    max-width: 95%;
    align-self: center;
    border-radius: 0.5rem;
}

#preview .buttons {
    position: absolute;
    bottom: 1rem;
    text-align: center;
}

/* Previewable */
.previewable {
    display: block;
    position: relative;
}

.previewable:hover img {
    opacity: 0.6;
}

.previewable:after {
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    color: white;
    font-family: 'Material Icons';
    content: "\e8ff";
    text-shadow: 0 0 3rem black;
    position: absolute;
    display: block;
    font-size: 3rem;
    left: 1.5rem;
    top: 1.5rem;
    pointer-events: none;
}

.previewable:hover:after {
    opacity: 1;
}