#preview {
    position: fixed;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #111;
    transition: transform .3s cubic-bezier(.4,0,.2,1) .05s;
    transform: translateX(100%);
    z-index: 3;
}

#preview:not(:empty) {
    transform: translateX(0);
}

#preview img {
    max-height: calc(100% - 15rem);
    max-width: calc(100% - 2rem);
    align-self: center;
    border-radius: 0.5rem;
    margin-top: -1rem;
}

#preview .buttons {
    position: absolute;
    bottom: 1rem;
    text-align: center;
}

/* Previewable */
.previewable {
    display: inline-block;
    position: relative;
}

.previewable img {
    transition: opacity 0.1s ease-in-out;
    border-radius: 0.25rem;
    overflow: hidden;
}

.previewable:hover img {
    opacity: 0.6;
}

.previewable:after {
    color: white;
    font-family: 'Material Icons';
    content: "\e8ff";
    text-shadow: 0 0 2rem black, 0 0 4rem black;
    position: absolute;
    display: block;
    font-size: 3rem;
    right: 1.25rem;
    top: 1.25rem;
    pointer-events: none;
}