body > nav,
main > * {
    padding-top: 3rem;
}

.drawer + .drawer_close.button.color {
    top: 3rem;
}

body .drawer {
    top: 10rem;
    height: calc(100% - 16rem);
}

body .drawer.empty {
    transform: translateY(120%);
}

body {
    height: calc(100% - 6rem);
}

body ul#bottomnavigation {
    bottom: 6rem;
}

body ul.context_menu {
    top: 3rem;
}

body #draw,
body #snap {
    height: calc(100% - 3rem);
    top: 3rem;
}

body .button.action {
    bottom: 8rem;
}