/* Card */

.card img.main,
.card div.main {
    position: absolute;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    max-width: calc(100% + 2rem);
    object-fit: cover;
    left: -1rem;
    top: -1rem;
    opacity: 0.1;
}

.card img.main {
    filter: blur(0.4rem);
}

.card img.main ~ div {
    z-index: 1;
}

.card > .block:not(.subheader):not(.simple) {
    animation: fadein 0.3s;
    border-radius: 1rem;
    border: 1px solid;
    overflow: hidden;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.card.noanim > .block:not(.subheader):not(.simple) {
    animation: none;
}

.card > form.block {
    padding: 2rem;
    padding-top: 0;
    box-sizing: border-box;
}

.card.shadow > .block:not(.subheader):not(.simple) {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--elevation-1);
    border: none;
}

.card.shadow > .block:not(.subheader):not(.simple):hover {
    box-shadow: var(--elevation-2);
}

.card.shadow > .block:not(.subheader):not(.simple):active {
    box-shadow: var(--elevation-0);
}
