/* Card */

.card img.main,
.card div.main {
    position: absolute;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    max-width: calc(100% + 2rem);
    object-fit: cover;
    left: -1rem;
    top: -1rem;
    opacity: 0.1;
}

.card:not(.flex) li:not(.subheader):not(:last-child) {
    margin-bottom: 1rem;
}

.card img.main {
    filter: blur(0.4rem);
}

.card i.main {
    position: absolute;
    font-size: 18rem;
    opacity: 0.2;
    filter: blur(0.5rem);
    right: -5rem;
    bottom: -8rem;
}

.card li > div > p > span.info {
    margin-right: 0.5rem;
}

.card li.block.color {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5));
}

.card > .block:not(.subheader):not(.simple) {
    animation: fadein 0.3s;
    border-radius: 1rem;
    border: 1px solid;
    overflow: hidden;
    box-sizing: border-box;
}

.card.noanim > .block:not(.subheader):not(.simple) {
    animation: none;
}

.card > form.block {
    padding: 2rem;
    padding-top: 0;
    box-sizing: border-box;
}

.card:not(.gallery) > .block.ticket div {
    display: flex;
    justify-content:safe;
    flex-direction: column;
    height: calc(calc(100% - 2rem));
    gap: 0.25rem;
}

.card:not(.gallery) > .block.ticket div p:last-of-type {
    margin-top: auto;
}

.card.shadow > .block:not(.subheader):not(.simple) {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--elevation-1);
    border: none;
}

.card.shadow > .block:not(.subheader):not(.simple):hover {
    box-shadow: var(--elevation-2);
}

.card.shadow > .block:not(.subheader):not(.simple):active {
    box-shadow: var(--elevation-0);
}
