.chip {
    display: inline-block;
    line-height: 4rem;
    padding: 0 2rem;
    font-size: 1.75rem;
    margin: 0 0.5rem;
    border-radius: 1rem;
    color: rgb(var(--movim-font));
    background-color: rgba(var(--movim-element-action), 0.05);
    transition: background 0.3s ease;
}

.chip:first-child {
    margin-left: 0;
}

.chip:last-child {
    margin-right: 0;
}

.chip i {
    margin: 0 1rem;
    margin-left: -1rem;
    font-size: 2rem;
}

*[dir="rtl"] .chip i {
    margin-left: 0;
    margin-right: -1rem;
}

.chip.active:hover {
    background-color: rgba(var(--movim-element-action), 0.2);
    box-shadow: var(--elevation-1);
}

.chip.active:focus {
    background-color: rgba(var(--movim-element-action), 0.4);
    box-shadow: var(--elevation-0);
}

.chip.outline {
    outline: 1px solid rgba(var(--movim-font), 0.12);
    outline-offset: -1px;
}

.chip.enabled {
    background-color: rgba(var(--movim-element-action), 0.4);
    box-shadow: var(--elevation-2);
    pointer-events: none;
}