.dialog {
    position: fixed;
    top: 5%;
    left: calc(50% - 30rem);
    height: initial;
    width: 60rem;

    overflow: hidden;

    box-shadow: var(--elevation-3);
    border-radius: 2rem;
    z-index: 4;
    box-sizing: border-box;
    animation: zoom .25s ease-in-out;
}

.dialog:empty {
    display: none;
}

.dialog.scroll {
    height: 90%;
}

.dialog > section {
    max-height: calc(90vh - 7.2rem);
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.dialog > section > *:first-child:not(ul) {
    margin-top: 1rem;
}

.dialog > section > table {
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.dialog > section h3,
.dialog > section h4,
.dialog > section form > div:not(:has(ul.list)) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.dialog > footer {
    text-align: right;
    padding: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 0;
}

.dialog > section h3 + h4 {
    opacity: 0.7;
    padding-top: 0.5rem;
}

.dialog > section form > p {
    margin-top: 1rem;
    padding: 0 1.5rem;
}

/* List specific */
.dialog > section form ul.list li > .primary {
    left: 0;
}

@media screen and (max-width: 34rem) {
    .dialog {
        width: calc(100% - 6rem);
        min-height: 0;
        min-width: 0;
        left: 3rem;
    }
}
