header.big {
    background-size: cover, cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    color: white;
    position: relative;
}

header.big ul.list > li {
    padding-right: 0;
}

header.big.top {
    border-radius: 0 0 1rem 1rem;
    padding-top: 15rem;
    margin-bottom: 1rem;
    box-shadow: var(--elevation-1);
}
