/* Header */
header.big {
    background-size: cover, cover;
    background-position: center center;
    width: 100%;
    max-width: 100%;
    color: white;
    position: relative;
    margin-bottom: 0.5rem;
}

header.big.top {
    border-radius: 0 0 1rem 1rem;
    padding-top: 15rem;
    margin-bottom: 1rem;
}

header.big ul li {
    padding-right: 0;
    padding-left: 0;
}

/* Specific forms in header */
header form > div:not(.clear):not(.control) {
    min-height: 0;
    top: 0;
}

header form > div > input:not([type=submit]) {
    padding-top: 2rem;
}
