/* Menu */

body > nav > ul.list li {
    padding-left: 0.5rem;
}

body > nav.color.dark > ul a {
    color: white;
}

ul.oppose {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media screen and (max-height: 33rem) {
    ul.oppose {
        bottom: initial;
    }
}

/* Navigation */

ul.navigation li > span.primary > i {
    transition: opacity 0.15s ease;
    opacity: 0.5;
}

ul.navigation li.active > span.primary > i,
ul.navigation li:not(.active):hover > span.primary > i {
    opacity: 1;
}
