/* Webkit specific CSS for the scrollbars */

::-webkit-scrollbar {
    height: 5px;
    width: 8px;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--movim-font), 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--movim-font), 0.2);
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
