/* Titles */

h1 { /* Display 1 */
    font-size: 4.25rem;
    line-height: 7rem;
}

article h1,
h2 { /* Headline */
    font-size: 3rem;
    line-height: 4rem;
    padding: 1.5rem 0;
}

article h2,
h3 { /* Title */
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    padding: 1rem 0;
}

article h3,
h4, input, textarea, select { /* Headline */
    font-size: 2rem;
    line-height: 3rem;
}

article h4 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
}

h4.gray {
    color: rgba(var(--movim-font), 0.54);
}

small {
    color: rgba(var(--movim-font), 0.7);
    font-size: 0.75em;
    font-weight: normal;
}

h3 + small {
    font-size: 1.75rem;
}

.snackbar, /* Body 2 */
.toast {
    font-size: 1.75rem;
    font-weight: 500;
}

label, span.info { /* Caption */
    font-size: 1.5rem;
}

span.info i:not(:last-child) {
    margin-right: 0.5rem;
}

label, span.info b { /* Caption */
    font-weight: 600;
}

h1.line,
h2.line,
h3.line,
h4.line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
