#friendvcard .element {
    padding: 5px;
    clear: both;
    overflow: auto;
    width: 100%;
}

#friendvcard img {
    max-width: 200px;
    padding: 5px;
    border: 1px solid #CCC;
}

#friendvcard .element span {
    font-weight: bold;
    width: 170px;
    display: block;
    float: left;
    padding-right: 2em;
    text-align: right;
}

#friendvcard .content {
    display: block;
    float: left;
    width: 500px;
}
