#rooms_widget {
    animation: fadein 0.5s;
}

#rooms_widget ul li.room {
    white-space: nowrap;
}

#gateway_rooms:empty {
    min-height: 0;
}

#gateway_rooms:not(:empty) + div {
    display: none;
}

form[name=avatarroom] img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
