#rooms {
    animation: fadein 0.5s;
    display: flex;
    flex-direction: column;
}

#rooms[data-scroll] li.subheader:first-child {
    animation: backgroundblink 1s;
}

#rooms>ul.list>li:has(ul) {
    padding-left: 0;
    padding-right: 0;
}

#rooms>ul.list>li>ul:has(li:nth-child(2)) {
    padding-bottom: 1rem;
}

#rooms>ul.list>li>ul>li:not(:first-child)>span.icon,
#rooms>ul.list>li>ul>li:not(:first-child)>div>p {
    line-height: 3rem;
    height: 3rem;
}

#rooms>ul.list>li>ul>li:not(:first-child)>div>p {
    font-size: 1.9rem;
}

#rooms>ul.list>li>ul>li:not(:first-child)>span.icon>i {
    font-size: 2.5rem;
    line-height: 3rem;
}

#rooms>ul.list>li>ul>li:not(:first-child)>span.primary:first-child>i {
    line-height: 2rem;
}

#rooms>ul.list>li>ul>li:not(:first-child)>span.primary:first-child {
    margin-right: 0;
    margin-left: 2rem;
}

#rooms>ul.list>li>ul>li:not(:first-child)>span.primary:not(:first-child) {
    margin: 0;
}

#rooms>ul.list {
    order: 1;
}

#rooms>ul.list.head {
    order: 0;
}

#rooms ul li.room {
    white-space: nowrap;
}

#gateway_rooms:empty {
    min-height: 0;
}

#gateway_rooms:not(:empty)+div {
    display: none;
}

#rooms ul.list.rooms:not(.edition) li span.control {
    display: none;
}

#rooms ul.list.rooms {
    display: flex;
    flex-direction: column;
}

#rooms ul.list.rooms>li:not(.connected) span.primary {
    opacity: 0.25;
    filter: grayscale(0.5);
}

#rooms ul.toggle_show li div>p:first-child {
    line-height: initial;
}

#rooms ul.list.rooms:empty~ul.toggle_show,
#rooms ul.list.rooms:not(:empty):not(.all)~ul.toggle_show>li span.primary i:first-child,
#rooms ul.list.rooms:not(:empty).all~ul.toggle_show>li span.primary i:last-child,
#rooms ul.list.rooms:not(:empty):not(.all)~ul.list.head>li span.control.toggle_show i:first-child,
#rooms ul.list.rooms:not(:empty).all~ul.list.head>li span.control.toggle_show i:last-child,
#rooms ul.list.rooms:not(:empty):not(.all)~ul.toggle_show>li div>p:first-child,
#rooms ul.list.rooms:not(:empty).all~ul.toggle_show>li div>p:last-child,
#rooms ul.list.rooms:not(:empty)~ul.empty,
#rooms ul.list.rooms:not(.different_states)~ul.toggle_show,
#rooms ul.list.rooms:not(.all)>li:not(.connected) {
    display: none;
}

/* Rooms order */

#rooms>ul.list.rooms>li {
    order: 4;
}

#rooms>ul.list.rooms>li.groupchat {
    order: 3;
}

#rooms>ul.list.rooms>li.pinned {
    order: 2;
}

#rooms>ul.list.rooms>li.unread {
    order: 1;
}

#rooms>ul.list.rooms>li.connected {
    order: 0;
}

#rooms>ul.list.rooms>li.connected.groupchat {
    order: -1;
}

#rooms>ul.list.rooms>li.connected.pinned {
    order: -2;
}

#rooms>ul.list.rooms>li.connected.unread {
    order: -3;
}