/* Material Symbols */

@font-face {
  font-family: 'Material Symbols';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialSymbols-Outlined.woff2?0) format('woff2');
}

.material-symbols {
  font-family: 'Material Symbols';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: bottom;
  user-select: none;
  -moz-user-select: none;
  -moz-font-feature-settings: 'liga';

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-symbols.fill {
  font-variation-settings: 'FILL' 1;
}

.material-symbols.blink {
  animation: blink 3s infinite;
}

.material-symbols.flip-hor {
  transform: scale(-1, 1);
}

.material-symbols.flip-vert {
  transform: scale(1, -1);
}

.material-symbols.flip-hor.flip-vert {
  transform: scale(-1, -1);
}