#connection {
    text-align: center;
    overflow: hidden;
    
    white-space: nowrap;
    vertical-align: middle;

    text-overflow: ellipsis;
}

#connection span#countdown {
    line-height: 3em;
}
