#connection {
    text-align: center;
    overflow: hidden;
    
    white-space: nowrap;
    vertical-align: middle;

    text-overflow: ellipsis;
    margin: -1em;
    padding-bottom: 1em;
}

#connection span#countdown {
    line-height: 3em;
}
