#stories {
    min-height: 23rem;
}

#stories ul.list.flex {
    overflow-x: auto;
    grid-template-columns: 0.5fr repeat(5, 1fr);
}

#stories ul.list.flex li.block {
    grid-row: 1;
    grid-column: auto;
    order: 0;
    margin-bottom: 0.25rem;
    animation: none;
}

#stories ul.list.flex li.block.add {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(var(--movim-font), 0.1);
    width: 7rem;
    transition: transform .3s;
}

#stories ul.list.flex li.block.add:hover {
    background-color: rgba(var(--movim-font), 0.2);
    transform: scale(0.975);
}

#stories ul.list.flex li.block.add:active {
    background-color: rgba(var(--movim-font), 0.1);
    transform: scale(0.9);
}

#stories ul.list.flex li.block.add > div {
    margin-top: 0;
    display: block;
    text-align: center;
}

#stories ul.list.flex li.block.seen {
    order: 1;
    filter: grayscale(0.5);
}