ul#spacesmenu_widget {
    overflow: auto;
    min-height: 18rem;
    flex-shrink: initial;
}

ul#spacesmenu_widget li span.primary.space_add:before {
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: rgba(var(--movim-font), 0.04);
    position: absolute;
    top: 0;
    border-radius: 2rem;
}

ul#spacesmenu_widget li.enabled span.primary img {
    outline: 2px solid rgba(var(--movim-font), 0.3);
    outline-offset: 2px;
    box-shadow: var(--elevation-3);
}

ul#spacesmenu_widget li.pinned span.primary:after {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -0.5rem;
    font-family: 'Material Symbols';
    color: rgb(var(--movim-font));
    font-variation-settings: 'FILL' 1;
    content: '\e6aa';
    font-size: 1.25rem;
    border-radius: 1rem;
    line-height: 2rem;
    width: 2rem;
    background-color: rgb(var(--movim-background-main), 0.7);
    backdrop-filter: blur(1rem);
    box-shadow: var(--elevation-1);
}

ul#spacesmenu_widget span.primary.locked::before {
    display: inline-block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    font-family: 'Material Symbols';
    color: rgb(var(--movim-font));
    font-variation-settings: 'FILL' 1;
    content: '\e897';
    background-color: rgb(var(--movim-background-main), 0.2);
    backdrop-filter: blur(0.2rem) brightness(80%);
    border-radius: 2rem;
}