/* WALL STYLE */

#feed {
/*    padding-top: 10px;*/
}

#feed table#submit {
	margin: 1.5em;
	margin-bottom: 0.5em;
    border: 1px solid gray;
	border-color: #999999 #BBBBBB #BBBBBB;
    width: 88%;
    padding: 0px;
    border-spacing: 0px;
}

#feed #feedmessage {
    border: 0px;
    width: 100%;
    border-spacing: 5px;
}

#feed td {
    padding: 5px;
}

#feed #feedmessage textarea{
    border: 0px;
    width: 100%;
    height: 1.5em;
    text-align: left;
    resize: vertical;
    padding: 0px;
}

#feed #feedsubmitrow {
    display: none;
    background-color: #EEE;
}

#feed #feedmessage textarea:focus {
    height: 4em;
}

#feed td {
    width: 100%;
}

#feed #feedsubmitrow #feedmessagesubmit {
    float: right;
}

#feed #feedcontent {
	clear: both;
}

#feed #feedfilters {
	float: right;
	margin: 1em 1.5em 0em;
}

#feed #feedfilters ul li {
	display: inline;
	margin-left: 0.5em;
	padding: 0.5em 1.5em;
	border-radius: 3px;
}

#feed #feedfilters ul li:hover {
	color: white;
	background-color: gray;
	cursor: pointer;
}

#feed #feedfilters ul li.on {
	background-color: #444444;
	color: white;
}
