/* MAIN FEED STYLE */

#feed {

}

#feed table#feedsubmitform {
    display: block;
    border: 1px solid;
	border-color: #999999 #BBBBBB #BBBBBB;
    margin: 18px;
    overflow: hidden;
}

#feed #feedsubmitform tbody, #feed #feedsubmitform tr, #feed #feedsubmitform td {
    display: block;
}

#feed #feedsubmitform td {
    padding: 5px;
}

#feed #feedsubmitform textarea {
    width: 100%;
    padding: 0px;
    border: 0px;
    height: 2em;
    resize: none;
}

#feed #feedsubmitform #feedsubmitrow {
    background-color: #EEE;
    width: auto;
    overflow: auto;
    padding-bottom: 5px;
}

#feed #feedsubmitform #feedsubmitrow a {
    float: right;
}

#feed #feedcontent {
	clear: both;
    padding-top: 15px
}

#feed #feedfilters {
	float: right;
	margin: 1em 1.5em 0em;
}

#feed #feednotifs {
	margin: 1em 1.5em 0em;
}

#feed #feedfilters ul li {
	display: inline;
	margin-left: 0.5em;
	padding: 0.5em 1.5em;
	border-radius: 3px;
}

#feed #feedfilters ul li:hover {
	color: white;
	background-color: gray;
	cursor: pointer;
}

#feed #feedfilters ul li.on {
	background-color: #444444;
	color: white;
}

#feed .ste .button {
    /*border: 0px;
    display: block;
    float: left;
    background-color: white;
    background-image: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;*/
}

#feed #feedsubmitform .ste {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
/*
#feed .ste .separator {
    float: left;
    display: none;
}*/

#feed #feedsubmitform .button.merged.right {
    margin-right: 5px;
}

#feed #feedsubmitform .button img {
    margin: 0px;
    padding: 0px;
    margin-top: 2px;
}

#feed #feedsubmitform td.frame {
    padding: 0px;
}

#feed #feedsubmitform .menueditor {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    display: none;
}

#feed #feedsubmitform:hover .menueditor {
    display: block;
}

iframe {
    width: 100%;
}
