#profile_widget {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #D4D4D4;
}

#profile_widget .card {
    padding: 1em 0.5em;
    box-sizing: border-box;
}

#profile_widget .card img {
    width: 3em;
    border-radius: 2em;
    float: left;
    margin-right: 0.75em;
}

#profile_widget .card h1 {
    line-height: 1.5em;
    color: #242424;
    margin-top: -0.2em;
    font-size: 1.2em;
}

#profile_widget .card i {
    float: right;
    font-size: 1.2em;
    margin-top: -1.2em;
    opacity: 0.5;
}

#profile_widget .card i:hover {
    opacity: 1;
}

#profile_widget .not_yet {
    padding: 1em;
    text-align: center;
}

