#profile_widget {
    background-color: rgba(20, 20, 20, 0.5);
    line-height: 1.5em;
}

#profile_widget h1 {
    color: white;
    line-height: 1.5em;
}

#profile_widget a.avatar {
    width: 100%;
    padding-bottom: 100%;
    display: block;
    background-size: 100%;
}

#profile_widget .textbubble {
    margin-top: 1em;
    background-color: rgba(20, 20, 20, 0.7);
    padding: 1em;
}

#profile_widget .textbubble textarea {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #333;
    font-size: 0.9em;
    width: 100%;
    resize: none;
    color: white;
    text-align: center;
    padding: 0px;
}

#profile_widget .textbubble textarea:hover {
    border-color: white;
}

#profile_widget textarea#status {
    overflow: hidden;
}
