[Unit]
Description=Movim daemon
After=apache2.service network.target local-fs.target

[Service]
User=www-data
Type=simple
ExecStart=/usr/bin/php daemon.php https://localhost/movim/ 8080
WorkingDirectory=/usr/share/movim/
StandardOutput=syslog
SyslogIdentifier=movim
PIDFile=/run/movim.pid

[Install]
WantedBy=multi-user.target
