.drawer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 7rem);
    box-shadow: var(--elevation-3);
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
}

.drawer > section {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Hack to have a non-blocking scrolling in iOS… */
    position: relative;
}

.drawer > section > table,
.drawer > section > ul.flex {
    margin: 0 auto;
}

.drawer:empty {
    transition-timing-function: ease-in-out;
    transform: translateY(10%);
    opacity: 0;
    pointer-events: none;
}

@media screen and (min-width: 570px) {
    .drawer {
        border-radius: 0.75rem 0.75rem 0 0;
        width: 70rem;
        left: calc(50% - 35rem);
    }
}
