.drawer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 7rem);
    box-shadow: var(--elevation-5);
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 2rem 2rem 0 0;
}

.drawer.tiny {
    height: auto;
}

.drawer>section {
    height: 100%;
    overflow-y: auto;
    /* Hack to have a non-blocking scrolling in iOS… */
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.drawer>section form>div:not(:has(ul.list)) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.drawer:empty {
    transform: translateY(100%);
    pointer-events: none;
    height: auto;
}

@media screen and (min-width: 570px) {
    .drawer {
        width: 70rem;
        left: calc(50% - 35rem);
    }
}

@media screen and (max-width: 570px) {
    main {
        transition: transform .25s var(--accelerate-easing);
    }

    .drawer:not(:empty)~main {
        transition: transform .25s var(--decelerate-easing);
        transform: translateY(-2rem);
    }
}


#drawer ul.list>li.search form div:after {
    background-color: rgb(var(--movim-background));
}

#drawer ul.list>li.search form div:focus-within:after {
    background-color: rgba(var(--movim-background), 0.8);
}