.drawer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: calc(100% - 7rem);
    box-shadow: var(--elevation-3);
    transition: transform .3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.drawer.tiny {
    height: auto;
}

.drawer > section {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Hack to have a non-blocking scrolling in iOS… */
    position: relative;
}

.drawer:empty {
    transform: translateY(100%);
    pointer-events: none;
    height: auto;
}

@media screen and (min-width: 570px) {
    .drawer {
        border-radius: 2rem 2rem 0 0;
        width: 70rem;
        left: calc(50% - 35rem);
    }
}
