table.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table.table tbody tr:hover {
    background-color: #EEE;
}

table.table th,
table.table td {
    text-align: right;
}

table.table th li,
table.table td li {
    text-align: left;
}

table.table thead tr th,
table.table tr:not(:last-child) td {
    border-bottom: 1px solid #CCC;
}

table.table th,
table.table td {
    line-height: 6rem;
    padding: 0 2rem;
}

table.table th {
    line-height: 7rem;
    font-size: 1.8rem;
    font-weight: bold;
}

table.table th:last-child,
table.table td:last-child {
    padding-right: 2rem;
}

table.table td li i {
    line-height: 7rem;
}

table.table th[colspan],
table.table td[colspan] {
    padding: 0;
}

