form div > span.supporting.night_mode_detected {
    display: none;
}

@media (prefers-color-scheme: dark) {
    form div > span.supporting.night_mode_detected {
        display: initial;
    }
}

form li#accent_color div.radio {
    display: inline-block;
    margin-right: 0.5rem;
}

form li#accent_color div.radio label {
    transform: scale(1.5);
    position: relative;
}

form li#accent_color div.radio input[type=radio] {
    display: none;
}

form li#accent_color > div {
    height: 9rem;
}