body {
    width: 100%;
    margin: 0 auto;
    max-width: 28em;
    padding-right: 0px;
}

#content {
    margin: 0 auto;
    width: 100%;
}

#loginpage {
    display: block;
    margin: 0 auto;
    height: 100%;
    
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: center 1em;
    background-size: auto auto;
    padding-top: 40%;

    margin-top: 40%;
}

#loginpage .admin {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: white;
    padding: 1em;
}

#loginpage .admin a:link,
#loginpage .admin a:visited {
    color: white;
}

#loginpage #warning {
    margin-bottom: 0.7em;
}

#loginpage #connectform {
    padding: 0.6em;
    background-color: rgba(255, 255, 255, 0.2);
    /*border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);*/
    border-radius: 0.1em;
}

#loginpage #connectform .element {
    display: block;
    margin: 0 auto;
    padding: 0px;
    width: 100%;
    min-height: 2.5em;
}

#loginpage #connectform .element:last-child {
    min-height: 1em;
}

#loginpage #connectform .element input {
    margin: 0px;
    border: 0px;
    /*border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2) rgba(200, 200, 200, 0.3);*/
    box-shadow: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

#loginpage #connectform a[name=submit] {
    display: block; 
    text-align: center;
    /*margin: 0px 1px;
    display: block;
    text-align: center;
    margin-top: 1px;
    
    border-radius: 1px;
    
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3),
        -1px 0px 0px rgba(0, 0, 0, 0.3),
        0px 1px 0px rgba(0, 0, 0, 0.4),
        0px -1px 0px rgba(0, 0, 0, 0.4);

    border: 0px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    background: linear-gradient(top, 
                            rgba(255, 255, 255, 0.2) 0px,
                            rgba(255, 255, 255, 0.2) 2px,
                            rgba(255, 255, 255, 0.05) 100%);
    background: -moz-linear-gradient(top, 
                            rgba(255, 255, 255, 0.2) 0px,
                            rgba(255, 255, 255, 0.2) 2px,
                            rgba(255, 255, 255, 0.05) 100%);
    background: -webkit-linear-gradient(top, 
                            rgba(255, 255, 255, 0.2) 0px,
                            rgba(255, 255, 255, 0.2) 2px,
                            rgba(255, 255, 255, 0.05) 100%);
    background: -o-linear-gradient(top, 
                            rgba(255, 255, 255, 0.2) 0px,
                            rgba(255, 255, 255, 0.2) 2px,
                            rgba(255, 255, 255, 0.05) 100%);

    background-color: #76AB16;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
    
    color: white;*/
}

#connectform a[name=submit]:before {
    color: white;
}

#loginpage .infos {
    color: white;
    text-align: center;
}

#loginpage #loginhelp {
    list-style-type: none;
    color: white;
    line-height: 1.2em;
    text-align: justify;
    transition: height 1s ease;
    height: 0em;
    overflow: hidden;
}

#loginpage #loginhelp li {
    height: 2.5em;
    background-repeat: no-repeat;
    background-image: url(img/beaker.png);
    padding-left: 2.5em;
    background-position: 0.2em center;
    margin: 0.5em 0em;
}

#loginpage #connectform:hover > #loginhelp {
    height: 9em;
}

#loginpage #loginhelp li#jabber { background-image: url(img/jabber.png); }
#loginpage #loginhelp li#gmail { background-image: url(img/envelope.png); }
#loginpage #loginhelp li#facebook { background-image: url(img/facebook.png); }

footer {
    display: none;
}
