body main {
    background: radial-gradient(circle farthest-corner at right bottom,#5265ce 0,#213399 100%);
}

#login_widget .dialog {
    position: relative;
    margin-top: 10%;
}

#login_widget .dialog.more {
    margin-top: 2rem;
    padding: 1rem 0;
}

#login_widget .dialog.more > section {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    body main {
        background: url(../theme/img/logo_cloud.svg), radial-gradient(circle farthest-corner at right bottom,#5265ce 0,#213399 100%);
        background-size: auto 2.6rem, 100% 100%;
        background-position: center 5rem, center ;
        background-repeat: no-repeat;
    }

    #login_widget .dialog {
        margin-top: 17.5%;
    }
}

#login_widget .dialog h3 {
    text-align: center;
}

#login_widget footer {
    position: relative;
    text-align: center;
    padding-top: 3rem;
}

#login_widget footer > *:first-child {
    background-image: url(../theme/img/logo.svg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 22rem auto, 100% 100%;
    height: 10rem;
    width: 100%;
    display: block;
}

#login_widget > div {
    display: none;
}

#login_widget.error  > div#error,
#login_widget:not(.error):not(.choose) > div#form {
    display: block;
}

#login_widget li.info {
    padding: 0.5rem 0;
}

#login_widget span.info,
#login_widget li.info p {
    text-align: center;
    max-height: 100%;
}

#login_widget span.info {
    line-height: 4rem;
    display: block;
    margin: 0;
}

#login_widget form:first-child {
    margin-top: 1rem;
}

#login_widget form > div:last-child {
    min-height: 0;
}

#login_widget form ul input:not([type=submit]) {
    margin: 0;
    height: 5rem;
}

#login_widget .card {
    padding: 1rem 2rem;
}

#login_widget input#complete {
    position: absolute;
    top: 0;
    border-bottom: none;
    z-index: -1;
    color: gray;
}

#login_widget ul.invite span.primary + span.primary ~ p {
    padding-left: 12rem;
}