body main {
    background-color: #3F51B5;

    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: 30rem auto, 100% 100%;
}

@media screen and (max-width: 600px) {
    body main {
        background-image: url(img/logo_cloud.svg);
        background-size: auto 2.6rem, 100% 100%;
        background-position: center 2.25rem;
    }

    .dialog {
        top: 12.5%;
        max-height: 92.5%;
        height: 82.5%;
    }
}

#login_widget > div {
    display: none;
}

#login_widget.choose > div#sessions,
#login_widget.error  > div#error,
#login_widget:not(.error):not(.choose) > div#form {
    display: block;
}

#login_widget span.info {
    float: right;
    margin-top: 2.5rem;
}

#login_widget span.info + h3 {
    margin-top: 2rem;
}

#login_widget form > div:last-child {
    min-height: 0;
}

#login_widget form ul input {
    margin: 0;
    height: 5rem;
}

#login_widget .card {
    padding: 1rem 2rem;
}

#login_widget input#complete {
    position: absolute;
    top: 0;
    border-bottom: none;
    z-index: -1;
    color: gray;
}

ul.admin {
    position: relative;
    text-align: center;
    color: white;
    max-width: 45rem;
}
