body main {
    background: radial-gradient(circle farthest-corner at right bottom, rgb(var(--movim-main)) 0, rgb(var(--movim-accent)) 90%);
    display: flex;
    align-items: center;
}

#login_widget {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100rem;
}

#login_widget .dialog {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: initial;
    width: initial;
    flex: 0 1 calc(50% - 2rem);
}

#login_widget .dialog.more {
    padding: 1rem 0;
}

#login_widget .dialog .banner {
    max-width: 100%;
    padding: 0;
    margin-top: -1rem;
    object-fit: cover;
    max-height: 18rem;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
    mask-image: linear-gradient(to bottom, black 60%, transparent);
}

#login_widget .dialog.more > section {
    overflow: hidden;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
    body main {
        align-items: initial;
    }

    #login_widget {
        display: initial;
    }

    #login_widget .dialog {
        margin: 1.5rem 1rem;
    }

    #login_widget .logo {
        display: block;
        background: url(../theme/img/logo_cloud.svg);
        background-size: auto 2.6rem, 100% 100%;
        background-position: center 3rem, center ;
        background-repeat: no-repeat;
        height: 8rem;
    }
}

#login_widget .dialog h3 {
    text-align: center;
}

#login_widget footer {
    flex: 0 1 100%;
    position: relative;
    text-align: center;
    padding-top: 6rem;
}

#login_widget footer > *:first-child {
    background-image: url(../theme/img/logo_cloud.svg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 7rem auto, 100% 100%;
    height: 7rem;
    width: 100%;
    display: block;
}

#login_widget > div {
    display: none;
}

#login_widget.error  > div#error,
#login_widget:not(.error):not(.choose) > div#form {
    display: block;
}

#login_widget li.info {
    padding: 0.5rem 0;
}

#login_widget span.info,
#login_widget li.info p {
    text-align: center;
    max-height: 100%;
}

#login_widget li.info p {
    text-align: justify;
}

#login_widget span.info {
    line-height: 4rem;
    display: block;
    margin: 0;
    margin-bottom: -1rem;
}

#login_widget form:first-child {
    margin-top: 1rem;
}

#login_widget form > div:last-child {
    min-height: 0;
}

#login_widget form ul input:not([type=submit]) {
    margin: 0;
    height: 5rem;
}

#login_widget .card {
    padding: 1rem 2rem;
}

#login_widget input#complete {
    position: absolute;
    top: 0;
    border-bottom: none;
    z-index: -1;
    color: gray;
}

#login_widget ul.invite span.primary + span.primary ~ p {
    padding-left: 12rem;
}