body main {
    background-color: #32434D;

    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    background-position: center 90%;
    background-size: 30rem auto;

    -webkit-animation: 60s infinite colorful;
    animation: 60s infinite colorful;
}

@media screen and (max-width: 600px) {
    body main {
        background-image: none;
    }

}

#login_widget li.new_account {
    text-align: center;
}

#login_widget > div {
    display: none;
}

#login_widget.choose > div:first-child {
    display: initial;
}

#login_widget:not(.choose) > div:last-child {
    display: initial;
}

#login_widget span.info {
    float: right;
    margin-top: 2.5rem;
}

#login_widget span.info + h3 {
    margin-top: 2rem;
}

#login_widget form > div:last-child {
    min-height: 0;
}

#login_widget form ul input {
    margin: 0;
    display: block;
}

ul.admin {
    position: relative;
    text-align: center;
    color: white;
    max-width: 45rem;
}
