ul#chats_widget_list {
    overflow: hidden;
}

ul#chats_widget_list ~ .placeholder {
    display: none;
}

ul#chats_widget_list li {
    transition: opacity 0.2s ease-in-out;
    width: calc(100% + 1000px);
    margin-left: -500px;
    border-right: 500px #222 solid;
    border-left: 500px #222 solid;
    box-sizing: border-box;
}

ul#chats_widget_list li.close {
    opacity: 0.5;
}

ul#chats_widget_list:empty ~ .placeholder {
    display: block;
}
