ul#chats {
    overflow: hidden;
}

ul#chats ~ .placeholder {
    display: none;
}

ul#chats li {
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    box-sizing: border-box;
    max-height: 8rem;
}

ul#chats li img.tinythumb {
    object-fit: cover;
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem;
}

ul#chats li.moving {
    will-change: transform;
    transition: transform 0.1s, max-height 0.2s ease-in-out 0.2s;
}

ul#chats li.closing {
    will-change: transform;
    transition: transform 0.1s, max-height 0.2s ease-in-out 0.2s;
    max-height: 0;
}

ul#chats li.closing.to_left {
    transform: translateX(-100%);
}

ul#chats li.closing.to_right {
    transform: translateX(100%);
}

ul#chats li.close {
    opacity: 0.5;
}

ul#chats:empty ~ .placeholder {
    display: block;
}

ul#chats_widget_header[data-scroll] li.subheader:first-child {
    animation: backgroundblink 1s;
}

ul#chats_widget_header[data-filter=roster] + ul#chats li:not(.roster) {
    display: none;
}