#notifs ul {
    list-style-type: none;
    overflow: hidden;
}

#notifs ul li {
    padding: 5px;
    border-top: 1px solid white;
    border-bottom: 1px solid #DDD;
    font-size: 10px;
    overflow: auto;
}

#notifs input {
    margin-bottom: 2px;
}

#notifs ul li a {
    color: #688F9C;
    margin-left: 1em;
    float: right;
}

#notifs #notifsalias, #notifs #addjid, #notifs #addalias {
    display: none;
    width: 95%;
    margin-top: 3px;
}

#notifs #notifsvalidate, #notifs #addvalidate {
    display: none;
}
