#notifs {
    padding-right: 5px;
    clear: both;
    width: 200px;
}

#notifs ul {
    list-style-type: none;
    overflow: hidden;
}

#notifs ul li:last-child {
    border-bottom: 0px;
    padding: 3px;
}

#notifs ul li {
    padding-bottom: 5px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #DDD;
    font-size: 10px;
    overflow: auto;
}

#notifs input {
    margin-bottom: 2px;
}

#notifs ul li a {
    float: right;
    margin-top: 5px;
}

#notifs #notifsalias, #notifs #addjid, #notifs #addalias {
    display: none;
    width: 92%;
    margin-top: 3px;
}

#notifs #notifsvalidate, #notifs #addvalidate, #notifs #addrefuse {
    display: none;
}
