#notifs {
    border-bottom: 1px solid #888;
    position: fixed;
    top: 25px;
    z-index: 3;
    right: 0;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: black;
    background-color: #f0f0f0;
}

#notifs ul {
    list-style-type: none;
    overflow: hidden;
}

#notifs ul li {
    padding-bottom: 5px;
    font-size: 10px;
    overflow: auto;
    padding: 5px;
}

#notifs input {
    margin-bottom: 2px;
}

#notifs ul li a {
    float: right;
    margin-top: 5px;
}

#notifs #notifsalias, #notifs #labelnotifsalias {
    display: none;
}

#notifs #addcontact, #notifs #notifsvalidate {
    display: none;
}

#notifs .element {
    min-height: 0px;
}
