header#publishbrief form > div textarea {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

#publishbrief div.extended {
    margin-bottom: 8rem;
}

#publishbrief span#saved {
    position: absolute;
    font-size: 1.5rem;
    line-height: 1rem;
    right: 0;
}

#publishbrief span#saved:not(.saved) {
    display: none;
}

#publishbrief span#saved i {
    width: 2rem;
    line-height: 1rem;
    font-size: 1.75rem;
}

#publishbrief img.preview {
    border-radius: 0.5rem;
}

#publishbrief textarea:focus,
#publishbrief textarea:valid {
    min-height: 8rem;
}

#publishbrief textarea.extended {
    min-height: 50vh;
}

#publishbrief .embed li.block {
    border: 1px solid rgba(var(--movim-font), 0.12);
    border-radius: 0.5rem;
}

#publishbrief span.privacy {
    margin-right: 0.75rem;
}

#publishbrief span.privacy form > div .checkbox {
    margin-top: calc(50% - 2.25rem);
    width: 5rem;
    height: 3.5rem;
}

#publishbrief span.privacy form > div .checkbox > input[type="checkbox"] + label {
    top: 0;
    height: 3.5rem;
    width: 3.5rem;
}