header#publishbrief form > div textarea {
    padding-top: 1rem;
}

#publishbrief {
    margin-bottom: 8rem;
}

#publishbrief img.preview {
    border-radius: 0.5rem;
}

#publishbrief textarea:focus,
#publishbrief textarea:valid {
    min-height: 8rem;
}

#publishbrief textarea.extended {
    min-height: 50vh;
}

#publishbrief .embed li.block {
    border: 1px solid rgba(var(--movim-font), 0.12);
    border-radius: 0.5rem;
}

#publishbriefimages li div {
    padding-top: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#publishbriefimages li div i {
    position: absolute;
    text-align: center;
    width: calc(100% - 4rem);
    font-size: 10rem;
    margin-top: calc(-50% - 5rem);
}

#publishbriefimages li div span {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2rem;
    padding: 0 1rem;
    line-height: 3.5rem;
    border-radius: 0.3rem 0 0;
}

#publishbrief span.privacy {
    margin-right: 0.75rem;
}

#publishbrief span.privacy form > div .checkbox {
    margin-top: calc(50% - 1.75rem);
    width: 5rem;
    height: 3.5rem;
}

#publishbrief span.privacy form > div .checkbox > input[type="checkbox"] + label {
    top: 0;
    height: 3.5rem;
    width: 3.5rem;
}