form[name=post] #enable_content > * {
    transition: opacity 0.3s ease;
    cursor: pointer;
    opacity: 0.3;
}

form[name=post] #enable_content:hover > * {
    opacity: 1;
}

form[name=post] #content_field {
    display: none;
}

form[name=post] article section {
    padding-top: 0;
}
