#upload img.preview_picture {
    max-height: 35rem;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    display: block;
}

#upload img.preview_picture[src] {
    margin: 1rem auto;
    border-radius: 0.5rem;
    margin-top: 0;
}

#upload img.preview_picture[src] ~ li:not(.file) {
    display: none;
}

#upload div.drop {
    width: auto;
    margin: 0.25rem 1rem;
    display: block;
    box-sizing: border-box;
    border-radius: 0.5rem;
    min-height: 30rem;
    background-color: rgba(0, 0, 0, 0.15);
    border: 0.5rem solid transparent;
    border-style: dashed;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upload input[type=file] {
    display: none;
}

#upload div.drop.dropped {
    border-color: gray;
}

#upload li.file {
    padding: 0;
}

#upload li.file span.primary {
    margin-right: 1.5rem;
}

#upload li.file:not(.preview) span.primary {
    display: none;
}

body.dropped:before,
body.dropped:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 3;
}

body.dropped:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
}

body.dropped:after {
    border-radius: 2rem;
    margin: 2rem;
    border: 0.5rem solid gray;
    border-style: dashed;
    box-sizing: border-box;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    font-family: 'Material Icons';
    content: "\e2c6";
    font-size: 10rem;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}