ul#bottomnavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
    transition: transform .3s cubic-bezier(.4,0,.2,1);
}

ul#bottomnavigation li {
    padding: 0.5rem;
}

ul#bottomnavigation li:last-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

ul#bottomnavigation li span:not(.counter) {
    line-height: 5.5rem;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    ul#bottomnavigation {
        display: flex;
    }

    ul#bottomnavigation ~ main {
        height: calc(100% - 6.5rem);
    }

    nav.active + ul#bottomnavigation,
    ul#bottomnavigation.hidden {
        transform: translateY(100%);
        pointer-events: none;
    }

    ul#bottomnavigation.hidden {
        display: none;
    }

    nav.active + ul#bottomnavigation ~ main,
    ul#bottomnavigation.hidden ~ main {
        height: 100%;
    }

    ul#bottomnavigation ~ main .button.action {
        bottom: 8.5rem;
    }
}
