ul#bottomnavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);;
    z-index: 2;
    display: none;
    justify-content:center;
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    user-select: none;
}

ul#bottomnavigation li {
    padding: 0.5rem;
    text-align: center;
    flex: 1;
    position: relative;
    transition: background-color 0.15s ease;
}

ul#bottomnavigation li:hover {
    background-color: rgba(var(--movim-element-action), 0.1);
    cursor: pointer;
}

ul#bottomnavigation li:active {
    background-color: rgba(var(--movim-element-action), 0.2);
}

ul#bottomnavigation li:first-child {
    flex: 0.7;
    padding: 0.5rem 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

ul#bottomnavigation li span:not(.counter) {
    line-height: 5.5rem;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    ul#bottomnavigation {
        display: flex;
    }

    ul#bottomnavigation ~ main > div:not(#chat_widget) > div:last-child,
    ul#bottomnavigation ~ main > div:not(#chat_widget) > div.tabelem,
    ul#bottomnavigation ~ main > div:not(#chat_widget) > article:last-child {
        padding-bottom: 6.5rem;
    }

    body > div.dialog:not(:empty) ~ ul#bottomnavigation,
    body > div#drawer:not(.empty) ~ ul#bottomnavigation,
    nav.active + ul#bottomnavigation,
    ul#bottomnavigation.hidden {
        transform: translateY(100%);
        pointer-events: none;
    }

    nav.active + ul#bottomnavigation ~ main,
    ul#bottomnavigation.hidden ~ main {
        padding-bottom: 0;
    }

    ul#bottomnavigation ~ main .button.action {
        bottom: 8rem;
    }
}
