ul#bottomnavigation {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}

ul#bottomnavigation li {
    padding: 0.5rem;
}

ul#bottomnavigation li span:not(.counter) {
    line-height: 5.5rem;
}

@media screen and (max-width: 1024px) {
    ul#bottomnavigation {
        display: flex;
    }

    ul#bottomnavigation ~ main {
        height: calc(100% - 6.5rem);
    }

    nav.active + ul#bottomnavigation,
    ul#bottomnavigation.hidden {
        pointer-events: none;
    }

    ul#bottomnavigation.hidden {
        display: none;
    }

    ul#bottomnavigation.hidden ~ main {
        height: 100%;
    }
}
