#spaceinfo_affiliations ul.list.flex {
    grid-template-columns: 50% 50%;
}

#spaceinfo_affiliations ul.list.flex form > div {
    min-height: 0;
}

#spaceinfo_affiliations ul.list.flex form > div .select,
#spaceinfo_affiliations ul.list.flex form > div input {
    margin-bottom: 0;
}

#spaceinfo_widget li.subheader span.second.notify {
    font-weight: normal;
}