#sendto ul.list:first-child li.block:not(.story) {
    margin: 0 1rem;
}

#sendto ul.list.flex.fourth.gallery:first-child {
    grid-template-columns: 1fr auto;
}

#sendto ul.list.flex.fourth.gallery:first-child li:not(.subheader):not(.story) {
    padding: 0;
}

#sendto ul.list span.share i::before {
    content: 'add';
}

#sendto ul.list span.share.sharing i::before {
    content: 'remove';
}