[Unit]
Description=Movim daemon
After=apache2.service network.target local-fs.target

[Service]
User=www-data
Type=simple
Environment=PUBLIC_URL=https://localhost/movim/
Environment=WS_PORT=8080
EnvironmentFile=-/etc/default/movim
ExecStart=/usr/bin/php daemon.php start --url=${PUBLIC_URL} --port=${WS_PORT}
WorkingDirectory=/usr/share/movim/
StandardOutput=syslog
SyslogIdentifier=movim
PIDFile=/run/movim.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
