#caps_widget table {
    width: 100%;
    display: block;
    
    overflow: auto;

    font-size: 2rem;
}

#caps_widget table tr:not(:first-child):hover{
    background-color: rgba(0, 0, 0, 0.1);
}

#caps_widget table td.chat {
    background-color: green;
}

#caps_widget table td.jingle {
    background-color: purple;
}

#caps_widget table td.rayo {
    background-color: #0FBF00;
}

#caps_widget table td.iot {
    background-color: orange;
}

#caps_widget table td.profile {
    background-color: blue;
}

#caps_widget table td.client {
    background-color: #FF0061;
}

#caps_widget table td.social {
    background-color: #00FFA2;
}

#caps_widget table td.yes {
    opacity: 1;
}

#caps_widget table td.no {
    opacity: 0.2;
}

#caps_widget table td.yes,
#caps_widget table td.no {
    color: white;
}

#caps_widget table td {
    padding: 0 0.5rem;
}

main > section > div > * {
    max-width: calc(100% - 4rem);
}
