#contactsummary {
/*    background-color: rgba(20, 20, 20, 0.5);*/
    line-height: 1.5em;
    padding-bottom: 1rem;
}

#contactsummary h1 {
    /*color: white;*/
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
    line-height: 1.5em;
}

#contactsummary a.avatar {
    width: 92%;
    padding-bottom: 92%;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.25), 0 0.1em 0.5em rgba(0, 0, 0, 0.20);
    display: block;
    margin: 4%;
    background-size: 100%;
    border-radius: 0.5em;
}

#contactsummary a.url {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
