/* Logs style */

#log {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	height: 350px;
	font-size: 0.7em;
	padding: 1em;
	overflow: hidden;
	margin-top: 0.5em;
}

#log h3 {
	font-size: 1.2em;
	margin-top: -2px;
	margin-bottom: 0.5em;
}

#log:hover {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 40%;
	height: 100%;
	border-left: 1px solid black;
	margin-top: 0px;
}

#log span {
	color: green;
}

#log span.presence {
	color: #9BBBC6;
}

#log span.state {
	color: orange;
}
