body {
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
}

#content {
    margin: 0 auto;
    width: 100%;
}

#loginpage {
    display: block;
    margin: 0 auto;
    height: 100%;
    
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: auto auto;
    padding-top: 40%;


    margin-top: 40%;
}

#loginpage #warning {
    margin: 6px;
}

#loginpage #connectform {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

#loginpage #connectform .element {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-height: 40px;
}

#loginpage #connectform .element input {
    width: 95%;
    margin: 0 auto;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2) rgba(200, 200, 200, 0.3);
    box-shadow: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

#loginpage #connectform a[name=submit] {
    margin: 0 auto;
    display: block;
    width: 95%;
    padding: 0px;
    padding-left: 5px;
    text-align: center;
    
    box-shadow: none;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    background: linear-gradient(top, 
                            rgba(255, 255, 255, 0.5) 0px,
                            rgba(134, 195, 40, 1) 2px,
                            rgba(113, 163, 16, 1) 100%);
    background: -moz-linear-gradient(top, 
                            rgba(255, 255, 255, 0.5) 0px,
                            rgba(134, 195, 40, 1) 2px,
                            rgba(113, 163, 16, 1) 100%);
    background: -webkit-linear-gradient(top, 
                            rgba(255, 255, 255, 0.5) 0px,
                            rgba(134, 195, 40, 1) 2px,
                            rgba(113, 163, 16, 1) 100%);
    background: -o-linear-gradient(top, 
                            rgba(255, 255, 255, 0.5) 0px,
                            rgba(134, 195, 40, 1) 2px,
                            rgba(113, 163, 16, 1) 100%);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
    
    color: white;
}

#connectform a[name=submit]:active {
    background: linear-gradient(top, #274950 0%, #455E74 2px, #455E74 32px, #376068 100%);
    background: -moz-linear-gradient(top, #274950 0%, #455E74 2px, #455E74 32px, #376068 100%);
    background: -webkit-linear-gradient(top, #274950 0%, #455E74 2px, #455E74 32px, #376068 100%);
    background: -o-linear-gradient(top, #274950 0%, #455E74 2px, #455E74 32px, #376068 100%);
    background-color: #455E74;
}

#connectform a[name=submit]:before {
    color: white;
}

#loginpage .infos {
    color: white;
    text-align: center;
}

#footer {
    display: none;
}
