#loginpage {
    display: block;
    position: fixed;
    height: 1200px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-left: -350px;
    margin-top: -160px;
    padding-top: 200px;
}

#loginpage #publicusers {
    position: fixed;
    bottom: -5px;
    left: 0px;
    width: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     white-space:nowrap;
}

#loginpage #publicusers img {
    height: 40px;
    margin: 0 auto;
}

#footer {
    display: none;
}

#connectform {
    text-align: center;
    margin: 0 auto;
    width: 665px;
}

#connectform .element {
    min-height: 0px;
    max-width: 250px;
    clear: none;
}

#connectform .element input {
    max-width: auto;
    font-size: 1.4em;
    border: 1px solid #274950;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 0.1em 0.5em;
    color: #15414A;
    background-color: white;
}

#connectform a[name=submit] {
    border: 1px solid #274950;
    background-color: #547D86;
    background: linear-gradient(top, #B9D1D6 0%, #547D86 2px, #547D86 32px, #274950 100%);
    background: -moz-linear-gradient(top, #B9D1D6 0%, #547D86 2px, #547D86 32px, #274950 100%);
    background: -webkit-linear-gradient(top, #B9D1D6 0%, #547D86 2px, #547D86 32px, #274950 100%);
    background: -o-linear-gradient(top, #B9D1D6 0%, #547D86 2px, #547D86 32px, #274950 100%);
    color: white;
    box-shadow: none;
    min-width: 130px;
    font-size: 1.4em;
    text-shadow: -1px -1px 1px #274950;
    padding-top: 4px;
    overflow: hidden;
    padding-left: 20px;
    float: right;
    margin-top: 5px;
    height: 30px;
}

#connectform a[name=submit]:active {
    background: linear-gradient(top, #274950 0%, #456C74 2px, #456C74 32px, #6A959F 100%);
    background: -moz-linear-gradient(top, #274950 0%, #456C74 2px, #456C74 32px, #6A959F 100%);
    background: -webkit-linear-gradient(top, #274950 0%, #456C74 2px, #456C74 32px, #6A959F 100%);
    background: -o-linear-gradient(top, #274950 0%, #456C74 2px, #456C74 32px, #6A959F 100%);
    background-color: #274950;
}

#connectform a[name=submit]:before {
    color: white;
}

#connectform span {
    display: block;
    color: white;
    padding: 8px 0px;
    text-align: center;
}

#footer {
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
}

.message.error, .message.warning {
    display: block;
    width: 500px;
    margin: 0em auto;
    margin-bottom: 1em;
    text-align: center;
}
