html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    height: auto;
    display: block;
    vertical-align: middle;
}

#loginpage {
    display: block;
    position: fixed;
    height: 100px;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto;
    width: 1024px;
    top: 50%;
    margin-top: -170px;
    padding-top: 200px;
}
/*
#loginpage input {
    background-color: white;
    font-size: 1.4em;
    border: 1px solid #274950;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 0.3em 0.5em;
    color: #15414A;
    border-radius: 4px;
}

#loginpage input[name=submit] {
    background: -moz-linear-gradient(top, #6E9EA8 0%, #274950 100%);
    background: -webkit-linear-gradient(top, #6E9EA8 0%, #274950 100%);    
    color: white;
    box-shadow: none;
}
*/
#connectform {
    text-align: center;
    margin: 0 auto;
    width: 640px;
}

#connectform .element {
    min-height: 0px;
    max-width: 250px;
    clear: none;
}

#connectform .element input {
    max-width: auto;
    font-size: 1.4em;
    border: 1px solid #274950;
    box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 0.1em 0.5em;
    color: #15414A;
}

#connectform a[name=submit] {
    border: 1px solid #274950;
    background: -moz-linear-gradient(top, #6E9EA8 0%, #274950 100%);
    background: -webkit-linear-gradient(top, #6E9EA8 0%, #274950 100%);    
    color: white;
    box-shadow: none;
    width: 100px;
    font-size: 1.4em;
    text-shadow: -1px -1px 1px #274950;
    padding-top: 4px;
    overflow: hidden;
    padding-left: 20px;
    float: right;
    margin-top: 5px;
    height: 30px;
}

#connectform a[name=submit]:before {
    color: white;
}

#connectform span {
    display: block;
    color: white;
    padding: 8px 0px;
    text-align: center;
}

#footer {
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
}

.message.error, .message.warning {
    display: block;
    width: 500px;
    margin: 0em auto;
    margin-bottom: 1em;
    text-align: center;
}
