#friends {
/*    margin: 5px;*/
    clear: both;
/*    padding-bottom: 5px;*/
    padding-right: 5px;
}

#tinylist ul {
/*    padding: 10px 0px;*/
/*    padding-bottom: 10px;*/
/*    margin: -5px;*/
/*    width: 95%;*/
}

#tinylist ul li {
	cursor: pointer;
	overflow: hidden;
/*    padding: 5px;*/
/*    border-top: 1px solid white;*/
/*    border-bottom: 1px solid #DDD;*/
/*    margin: 4px 0px;*/
    border-left: 2px solid gray;
/*    width: 100%;*/
/*    padding-right: 2px;*/
    margin: 5px 0px;
    padding: 5px;
    max-height: 30px;
}

#tinylist ul li:hover {
	background-color: #F1F1F1;
}

#tinylist ul li.online {
    border-left-color: #78BA1A;
}

#tinylist ul li.hidden {
    border-left-color: #E0E0E0;
}

#tinylist ul li.away {
    border-left-color: #DFA117;
}

#tinylist ul li.offline {
	display: none;
}

#tinylist ul li.dnd {
    border-left-color: #C61C1C;
}

#tinylist ul li a.user_page {
	float: right;
}

#tinylist ul li img.avatar {
	float: right; 
    margin: -5px;
    margin-right: -2px;
    height: 40px;
    width: 40px;
    background-color: white;
}

#tinylist ul li span.status {
	color: #7D7D7D;
    font-size: 9px;
	overflow: hidden;
	text-overflow: ellipsis; 
}
