#tinylist ul li {
	background-repeat: no-repeat;
	background-position: 1px 2px;
	background-image: url(img/bullet_black.png);
	cursor: pointer;
	overflow: hidden;
	text-indent: 0.3em;
	z-index: 2;
	max-height: 3.2em;
}

#tinylist ul li:hover {
	background-color: #F1F1F1;
}

#tinylist ul li.online {
	background-image: url(img/bullet_green.png);
}

#tinylist ul li.hidden {
	background-image: url(img/bullet_white.png);
}

#tinylist ul li.away {
	background-image: url(img/bullet_orange.png);
}

#tinylist ul li.offline {
	background-image: url(img/bullet_black.png);
}

#tinylist ul li.dnd {
	background-image: url(img/bullet_red.png);
}

#tinylist ul li a.user_page {
	float: left;
	width: 16px;
	height: 14px;
}

#tinylist ul li img.avatar {
	float: right; 
	width: 30px; 
	height: 30px;
}

#tinylist ul li span.status {
	color: #7D7D7D;
	line-height: 1.6em;
	overflow: hidden;
}
