/* WALL STYLE */

#wall {

}

#wall .getcomments {
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 2px;
    display: block;
    
    padding-left: 20px;
}

#wall #wallfollow {
    background-image: url(img/follow_icon.png);
}


